<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content forget-page">

			<div class="cells step-box">
				<yd-step :current="step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">找回方式</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">驗證</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">重置密碼</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">設定成功</span>
					</yd-step-item>
				</yd-step>
			</div>


			<div v-if="step == 1">
				<yd-cell-group>
					<yd-cell-item>
						<span slot="left" style="color: #ddd;" ><i class="far fa-user fa-lg"></i></span>
						<yd-input slot="right" required :show-success-icon="false" :show-error-icon="false" :show-required-icon="false" v-model.trim="username" max="12" min="4" placeholder="請輸入帳號" autocomplete="off" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,12}$"></yd-input>
					</yd-cell-item>
				</yd-cell-group>

				<div class="cells forget-box" >
					<div class="row">
						<div class="col">
							<div class="cards" :class="{'active': this.valid_type == 1}" @click="choose_type(1)">
								<span class="text fs14">手機驗證找回</span>

							</div>
						</div>
						<div class="col">
							<div class="cards" :class="{'active': this.valid_type == 2}" @click="choose_type(2)">
							<span class="text fs14">信箱驗證找回</span>
						</div>
						</div>
					</div>
				</div>

				<div class="padding">
					<button class="button button-positive button-block" @click="sendCode">下一步</button>
				</div>
			</div>

			<div v-if="step == 2">
				<yd-cell-group>
					<yd-cell-item>
						<span slot="left" style="color: #ddd;"><i class="fas fa-fingerprint fa-lg"></i></span>
						<input type="text" v-model="code" slot="right" placeholder="請輸入驗證碼" autocomplete="off" maxlength="6">

						<yd-button-group slot="right">
							<yd-sendcode
										init-str="重新發送"
										runStr="{%s}秒後重新發送"
										second="60"
										v-model="start1"
										storage-key="ForgetCode"
										@click.native="sendCode"
										type="warning"
							>
							</yd-sendcode>
						</yd-button-group>
					</yd-cell-item>
				</yd-cell-group>
				<div class="tips">
					我們已經將驗證碼發送至您指定的裝置，請於五分鐘內完成認證
				</div>

				<div class="padding">
					<button class="button button-positive button-block" @click="verifyCode">下一步</button>
				</div>
			</div>


			<div v-if="step == 3">
				<yd-cell-group class="forget-reset-password">
					<yd-cell-item>
						<span slot="left">新登錄密碼</span>
						<yd-input slot="right" type="password" v-model="new_pwd" placeholder="請輸入6-12位數字及字母組合" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">確認新密碼</span>
						<yd-input slot="right" type="password" v-model="conform_pwd" placeholder="請輸入確認新密碼" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
					</yd-cell-item>
				</yd-cell-group>

				<div class="padding">
					<button class="button button-positive button-block" @click="resetPassword">確定修改</button>
				</div>
			</div>


			<div v-if="step == 4">
				<div class="padding">
					<button class="button button-positive button-block" @click="this.$router.go(-1);">前往登錄</button>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { apiForgetCode, apiForgetVerifyCode, apiForgetResetPassword } from 'api.js'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			step: 1,
			valid_type: 1,
			username: '',
			start1: false,
			code: '',
			new_pwd: '',
			conform_pwd: '',
		}
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
    },
	methods: {
		choose_type(type){
			this.valid_type = type;
		},
		sendCode(){
			let reg_name = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,12}$/;
			if(!reg_name.test(this.username)){
				$toast.show('帳號格式不正確,請輸入4-12位數字及字母組合');
				return;
			}
			this.$dialog.loading.open('發送中...');
			apiForgetCode({
						'company' : this.config.company,
						'username' : this.username,
						'valid_type' : this.valid_type
					})
					.then(response => {
						this.$dialog.loading.close();
						//console.log(response);
						if (!response.data.status) {
							return $toast.show(response.data.message);
						}else{
							if(this.step == 2)
								this.start1 = true;
							$toast.show('驗證碼已發送');
						}
						if(this.step == 1)
							this.step++;
						//$toast.show(response.data.message, 500).then(() => {
						//	this.$router.go(-1);
						//});
					}).catch(error => {
						this.$dialog.loading.close();
						$toast.show(this.errors.title);
						console.log(error);
					});
		},
		verifyCode(){
			this.$dialog.loading.open('驗證中...');
			apiForgetVerifyCode({
                        'company' : this.config.company,
                        'username' : this.username,
                        'code' : this.code
                    })
					.then(response => {
						this.$dialog.loading.close();
						//console.log(response);
						if (!response.data.status) {
							return $toast.show(response.data.message);
						}
						this.step++;
						//$toast.show(response.data.message, 500).then(() => {
						//	this.$router.go(-1);
						//});
					}).catch(error => {
						this.$dialog.loading.close();
						$toast.show(this.errors.title);
						console.log(error);
					});
		},
		resetPassword(){
			let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
			if(!reg_pwd.test(this.new_pwd)){
				$toast.show('密碼格式不正確,請輸入6-12位數字及字母組合');
				return;
			}
			if(this.new_pwd != this.conform_pwd){
				$toast.show('兩次輸入登錄密碼不一致!');
				return;
			}
			this.$dialog.loading.open('重新設定中...');
			apiForgetResetPassword({
                        'company' : this.config.company,
                        'username' : this.username,
                        'newPassword' : this.new_pwd,
                        'newPassword_confirmation' : this.conform_pwd
                    })
					.then(response => {
						this.$dialog.loading.close();
						//console.log(response);
						if (!response.data.status) {
							return $toast.show(response.data.message);
						}
						this.step++;
						//$toast.show(response.data.message, 500).then(() => {
						//	this.$router.go(-1);
						//});
					}).catch(error => {
						this.$dialog.loading.close();
						$toast.show(this.errors.title);
						console.log(error);
					});
		},
	},
	mounted(){
		//console.log(this.user.isLogin);

	}
}
</script>
<style>
.forget-page .yd-cell-left{
	width:50px;
	text-align:center;
	color:#666;
    opacity: .75;
}
.forget-page .yd-cell-left > span {width:100%;}
.forget-page .forget {
	padding:10px 15px;
	font-size:14px;
	color:#777;

}

.forget-page .step-box {
	color:#777;
	padding:15px 0px 5px 0;
}



.forget-page .forget-box {
	padding: 10px 5px;
}
.forget-page .forget-box .cards.active {
	border:1px solid #66b1ff;
	background-color: rgba(102, 177, 255, .1);
}
.forget-page .forget-box .cards.active:after {
	position: absolute;
    right: 0;
    content: " ";
	bottom: 0;
    width: 0;
    height: 0;
    border-width: 0 0 25px 25px;
    border-style: solid;
    border-color: transparent transparent #66b1ff;
}
.forget-page .forget-box .cards.active:before {
	position: absolute;
    right: 0;
    content: " ";
	bottom: 2px;
    background: url(~assets/images/user/gou.png) no-repeat;
    width: 14px;
    height: 11px;
    z-index: 1;
}
.forget-page .forget-box .col {
	margin:0 5px;
}
.forget-page .forget-box .cards {

	border:1px solid #dedede;
	width:100%;
	margin:0 auto;
	height:54px;
	line-height:50px;
	color:#666;



}
.forget-page .forget-box .cards .text {
	display:inline-block;
    line-height: 15px;
    vertical-align: middle;
	text-align:left;
	margin-top:4px;
	color:#ddd;
}
.forget-page .forget-box .cards .txt-small {
	font-size:12px;
	color:#999;

}
.forget-page .tips{
	padding: 6px 10px;
	color:#ddd;
}
.forget-page .forget-reset-password .yd-cell-item .yd-cell-left{
	min-width:90px;
	color:#ddd;
}
</style>
