<template>
	<div class="page has-tabbar" v-tabbar-menu-index="1">


		<div class="page-content">
			<div class="nav-header">
				<span class="title">{{$route.name}}</span>
			</div>
			<div class="tab-vertical-left">
				<ul ref="tabItems">
					<li @click="tabClick" name="live">真人</li>
					<li @click="tabClick" name="slot">電子</li>
					<!--li @click="tabClick" name="fisher">捕魚</li-->
					<li @click="tabClick" name="chess">對戰</li>
					<li @click="tabClick" name="sport">體育</li>
					<li @click="tabClick" name="lottery">彩票</li>
					<li @click="tabClick" name="av">影城</li>
					<li @click="go2page('/promotion')">優惠</li>
					<li @click="go2page('/blog')">文章</li>
					<li @click="go2page('/help')">幫助</li>
					<!--li @click="go2page('/pricing')">包網</li-->
				</ul>
			</div>
			<div class="tab-vertical-right">
				<div v-if="tabs.live">

					<div @click="startGame('WM','WM')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/wm.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">WM真人</div>
								<div class="fs12 nowrap">豐富多彩的遊戲</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>


					<div @click="startGame('ALLBET_LIVE','ALLBET_LIVE')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/allbet.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">歐博真人</div>
								<div class="fs12 nowrap">頂尖技術 流暢體驗</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>

					<div @click="startGame('SA_LIVE','SA_LIVE')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/sa.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">SA真人</div>
								<div class="fs12 nowrap">減少等待 投注快速</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>


					<div @click="startGame('OG','OG')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/og.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">OG真人</div>
								<div class="fs12 nowrap">感受剌激 體驗心跳</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>

					<!--div @click="startGame('VG','VG')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/chess/vg.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">VG真人</div>
								<div class="fs12 nowrap">萬人在線，勝者為王</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div-->


					<div @click="startGame('DG','DG')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/dg.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">DG真人</div>
								<div class="fs12 nowrap">提供個性化遊戲</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>


					<!--div @click="startGame('GT','GT')">



						<div class="live-box">
							<div class="item-left"><img src="~assets/images/live/gt.jpg" width="100%"></div>
							<div class="item-right">
								<div class="game-title fs15">GT真人</div>
								<div class="fs12 nowrap">美女熱線傳情</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>

					</div-->


				</div>

				
				

				<div v-if="tabs.chess">

					<div @click="startGame('VG','VG');">
						<div><img src="~assets/images/chess/vgbanner.jpg" width="100%"></div>
						<div class="game-title fs15">VG對戰<div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">進入遊戲</span></div></div>
						<div class="fs12">百人三公，斗地主，二人麻將，搶莊牛牛，百人牛牛，炸金花，21點，十三水，龍王捕魚，血站到底等。棋牌遊戲，應有盡有；萬人在線，勝者為王。</div>
					</div>



				</div>
				
				
				
				
				<div v-if="tabs.slot">


					<div>
						<div class="live-box"  @click="go2page('/games/slot/qt')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_qt.jpg" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">QT電子遊戲</div>
								<div class="fs12 nowrap">百款遊戲 任君挑選</div>
								<div class="link-game"><span>遊戲列表</span></div>
							</div>
						</div>
					</div>


					<div>
						<div class="live-box" @click="go2page('/games/slot/ae')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_ae.jpg" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">AE電子遊戲</div>
								<div class="fs12 nowrap">精選遊戲 好評不斷</div>
								<div class="link-game"><span>遊戲列表</span></div>
							</div>
						</div>
					</div>
					<!--
					<div>
						<div class="live-box" @click="go2page('/games/slot/sa')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_sa.jpg" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">SA電子遊戲</div>
								<div class="fs12 nowrap">熱門老虎機 獎池百萬</div>
								<div class="link-game"><span>遊戲列表</span></div>
							</div>
						</div>
					</div>
					-->

					<!--div>
						<div class="live-box" @click="go2page('/games/slot/ps')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_ps.png" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">PS電子遊戲</div>
								<div class="fs12 nowrap">提供數百款精選遊戲</div>
								<div class="link-game"><span>遊戲列表</span></div>
							</div>
						</div>
					</div-->
					<!--div>
						<div class="live-box" @click="go2page('/games/slot/ttg')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_ttg.png" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">TTG電子遊戲</div>
								<div class="fs12 nowrap">提供數百款精選遊戲</div>
								<div class="link-game"><span>遊戲列表</span></div>
							</div>
						</div>
					</div-->
					<div>
						<div class="live-box" @click="go2page('/games/slot/rtg')">
							<div class="item-left"><img src="~assets/images/slot/slot_card_rtg.png" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">RTG電子遊戲</div>
								<div class="fs12 nowrap">提供數百款精選遊戲</div>
								<div class="link-game"><span>遊戲列表</span></div>
							</div>
						</div>
					</div>
					<div @click="startGame('7PK','7PK')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/slot/slot_card_7pk.png" width="100%" height="86"></div>
							<div class="item-right">
								<div class="game-title fs15">7PK</div>
								<div class="fs12 nowrap">完美重現街機經典7PK</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>


				</div>
				<div v-if="tabs.sport">

					<div @click="startGame('SUPER','SUPER');">
						<div><img src="~assets/images/sport/banner.jpg" width="100%"></div>
						<div class="game-title fs15">SUPER體育 <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">進入遊戲</span></div></div>
						<div class="fs12">讓球、大小、半全場、波膽、單雙、總入球、混合過關等多元競猜。每月超過1500場滾球賽事：足球、籃球、橄欖球、網球等賽事應有盡有！</div>
					</div>
					<!--
					<div @click="go2page('/games/slot/qt2')" style="margin-top:15px;">
						<div><img src="~assets/images/sport/qt-sport.jpg" width="100%"></div>
						<div class="game-title fs15">QT虛擬體育 <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">進入遊戲</span></div></div>
						<div class="fs12">專注於籃球、足球、網球、亞洲杯等體育賽事投注。只有你想不到的，沒有我們沒有的。</div>
					</div>
					-->
				</div>
				<div v-if="tabs.lottery">
					<div @click="startGame('LOTTERY','LOTTERY')">
						<div><img src="~assets/images/lottery/lottery.jpg" width="100%"></div>
						<div class="game-title fs15">瑪雅彩票 <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">進入遊戲</span></div></div>
						<div class="fs12">幸運飛艇 | 極速時時彩 | 極速賽車 | 北京賽車(PK10) | 重慶時時彩 | 極速快三 | PC蛋蛋 | 廣東11選5 | 廣東快樂十分 | 福彩3D | 江蘇骰寶(快3) |  排列3 | 三分快三 </div>
					</div>

					<div @click="startGame('BINGO','BINGO')" style="margin-top:15px;">
						<div><img src="~assets/images/lottery/bingo-star-banner.jpg" width="100%"></div>
						<div class="game-title fs15">Bingo Star <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">進入遊戲</span></div></div>
						<div class="fs12">「BINGO STAR」是一種每五分鐘開獎一次的電腦彩券遊戲。選號範圍為01~80，您可以任意選擇玩1~5個號碼的玩法（稱為「1星」、「2星」、「3星」、「4星」、「5星」），每次開獎時，電腦系統將隨機開出20個獎號，您可以依您選擇的玩法和選號進行對獎。如您的選號符合該期任一種中獎情形，即為中獎，並可依規定兌領獎金。</div>
					</div>
				</div>
				<div v-if="tabs.fisher">
					<!--
					<div @click="playPopup('SA_FISHER','FishermenGold')">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/sa.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">SA魚樂無窮</div>
								<div class="fs12 nowrap">華麗的多人捕魚遊戲</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>
					-->
					<!--
					<div @click="startGame('DDFG','fishing');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/ddfg.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">DDFG捕魚大亨</div>
								<div class="fs12 nowrap">多樣技能，豐富玩法</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>
					<div @click="startGame('DDFG','fishking');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/ddfg_king.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">DDFG王者捕魚</div>
								<div class="fs12 nowrap">百浪濤濤射轟炸不完</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>
					<div @click="startGame('DDFG','cutfish');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/ddfg_cut.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">DDFG劈魚來了</div>
								<div class="fs12 nowrap">精心打造，絢麗畫面</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>
					-->
					<div @click="playPopup('QT','SPG-oceanblaster2');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/qt-ocean.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">QT海殺2</div>
								<div class="fs12 nowrap">大殺四方，海上霸主</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>
					<div @click="playPopup('QT','SPG-tigerattack');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/qt-tiger.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">QT老虎捕魚</div>
								<div class="fs12 nowrap">猛虎出閘，彈無虛發</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div>
					<!--div @click="playPopup('ALLBET_FISHER','1100');">
						<div class="live-box">
							<div class="item-left"><img src="~assets/images/fisher/allbet.jpg" width="100%" height="85"></div>
							<div class="item-right">
								<div class="game-title fs15">歐博空戰世紀</div>
								<div class="fs12 nowrap">最新全概率射擊遊戲</div>
								<div class="link-game"><span>進入遊戲</span></div>
							</div>
						</div>
					</div-->



				</div>


				<div v-if="tabs.av">

					<div @click="startAV('AV','AV');">
						<div><img src="~assets/images/av/av-banner.jpg" width="100%"></div>
						<div class="game-title fs15">AV影城 <div class="link-game pull-right" style="margin-top:-2px;"><span class="fs12 fw400">進入影城</span></div></div>
						<div class="fs12">AV影城含有限制級內容，未滿18歲請您自行離開。海量高清AV線上看，有碼影片、無碼影片、歐美影片、自拍短片、成人動漫，並提供手機看片</div>
					</div>

					<table class="games-table" width="100%" style="margin-top:10px;">
					<thead>
						<tr>
							<th>開通方案</th>
							<th>消費點數</th>
						</tr>
						<tr>
							<td>影城24小時無限看</td>
							<td style="text-align:center;">10點</td>
						</tr>
						<tr>
							<td>影城7天無限看</td>
							<td style="text-align:center;">50點</td>
						</tr>
						<tr>
							<td>影城30天無限看</td>
							<td style="text-align:center;">150點</td>
						</tr>
						<tr>
							<td colspan="2">
								<span style="color:crimson;">注意事項：</span><br>1. 每次娛樂城充值任何金額影城免費看7天<br>2. 效期過後需轉點至影城開通方案
							</td>
							
						</tr>

					</thead>
					</table>

				</div>



			</div>



		</div>
	</div>

</template>
<script>
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			tabs:{},

		}
	},

	computed:{
	},
	mounted() {

		//console.log(this.$route.params);
		var li = this.$refs.tabItems.getElementsByTagName('li');
		for (var i=0; i<li.length ;i++ ){
			var targetName = li[i].getAttribute('name');
			if (targetName)	{
				this.$set(this.tabs, targetName, false);
			}
		}

		if (this.$route.path == '/av/login') {
			this.tabEach('av');


			setTimeout(() => {
				if(this.user.isLogin == false) {
					this.$router.push({path: '/login', query: {}});
					return false;
				}
			}, 1000);

		}
		else {

			if (this.$route.params.id){
				this.tabEach(this.$route.params.id);
			}
			else {
				this.tabEach(li[0].getAttribute('name'));

			}
		}
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
    },
	methods: {
		waitOpen(){
			$toast.show('尚未開放');
		},
		startAV(soruce, id){
			if(this.user.isLogin == false) {
				this.tryGame(soruce, id, '影城啟動中');
			}
			else {
				this.startGame(soruce, id, '影城啟動中');
			}
		},
		playPopup(soruce, id) {
			let options = {
				effect: 'scale',
				title: '',
				showClose: true,
				buttons: [
				  {text: '進入遊戲'},
				  {text: '試玩'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">您可以選擇直接遊戲或試玩遊戲</div>', options);

			popup.show().then((buttonIndex) => {
				if (buttonIndex == 0){
					this.startGame(soruce, id);
				}
				else if(buttonIndex == 1) {
					this.tryGame(soruce, id);
				}
			})
		},

		tabClick(event){
			var name = event.target.getAttribute('name');
			this.tabEach(name);
			this.$router.replace({ path: '/games/' + name});
		},
		tabEach(name){
			if (!name) return false;
			var li = this.$refs.tabItems.getElementsByTagName('li');
			for (var i=0; i<li.length ;i++ ){
				li[i].classList.remove('active');
				var targetName = li[i].getAttribute('name');
				if (targetName)	{
					if(targetName == name) {
						li[i].classList.add('active');
						this.tabs[targetName] = true;
					}
					else {
						this.tabs[targetName] = false;
					}
				}
			}
		},

	}
}
</script>
<style>

.div-line{
    height: 1px;
    margin-top: 10px;
    background: #bbb;
    margin-bottom: 10px;
}

.tab-vertical-left {
    position: absolute;
    width: 75px;
    height: 100%;
	min-height:500px;
    background: #fff;
    overflow-y: auto;
}

.tab-vertical-left .active {
	background-color:#f5f5f5;
	color:#409eff;
}


.tab-vertical-left li{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 15px;
    position: relative;
	color:#666;
	cursor: pointer;
}
.tab-vertical-left li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #c8c7cc;
    display: block;
    z-index: 0;
    transform-origin: 50% 100%;
    transform: scaleY(0.5);
}
.tab-vertical-left li:last-child:after {
	height:0px;
}
.tab-vertical-right {
    position: absolute;
    margin-left: 90px;
    height: 100%;
    overflow-y: auto;
    padding-top: 15px;
    padding-right: 15px;
	color:#666;
}
.tab-vertical-right .game-title {
	color:#444;
font-weight: 700;
    margin: 5px 0;
}

.tab-vertical-right .live-box {
	display:flex;
	flex-wrap: nowrap;
	margin-bottom:15px;
}
.tab-vertical-right .live-box .item-left{
    width: 115px;
    height: 0;
    padding: 0;
}
.tab-vertical-right .live-box .item-right{
    vertical-align: top;
    margin-left: 10px;
    width: auto;
}
.tab-vertical-right .link-game{
	color: #409eff;
    font-size: 12px;
    border: 1px solid #409eff;
    display: inline-block;
    padding: 0px 12px;
    border-radius: 20px;
	margin-top:8px;
}








.games-table  {

  font-size:14px;
  border:1px solid #ebeef5;
  text-align:center;
  border-collapse:collapse;
  background-color:#fff;
  margin:0 auto;
}
.games-table th {
  background-color: #409eff;
  padding:5px;
  border:1px solid #ebeef5;
  color:#fff;
  font-weight: 400;
}
.games-table td {
  border:1px solid #ebeef5;
  padding:5px;
  color:#666;
  text-align:left;
      font-size: 13px;
}






</style>
