<template>
	<div class="page has-navbar has-tabbar home-page" v-tabbar-menu-index="0">
		<scroller
			class="page-content dio"
			refresh-text="下拉刷新"
			:on-refresh="onRefresh"
			ref="scroller"
			style="padding-top:0px;"
			>
			<div class="nav-header">
				<div class="logo_img"></div>
			</div>

			<!-- <div class="tip-download white-bg" v-if="showAppDL">
				<div class="fl tip-download-icon" @click="closeAppDL()">
					<i class="icon ion-close-round"></i>
				</div>
				<div class="tip-download-logo fl"></div>
				<div class="tip-download-txt pd14 fl">
					<span class="txt1">下載APP</span><br>
					<span class="txt2">隨時隨地&nbsp;&nbsp;想玩就玩</span>
				</div>
				<div class="tip-download-down fr" @click="downloadApp()">立即下載</div>
			</div> -->
			<div class="bulletin">
				<svg role="presentation" height="15" viewBox="0 0 576 512" class="notify-icon fa-icon" style="margin-right:8px;fill: rgb(213, 216, 220);margin-top:10px;;">
					<path d="M576 240C576 216.4 563 196 544 184.9V32C544 23.3 537 0 512 0 504.9 0 497.8 2.4 492 7L407 75.1C364.3 109.2 310.7 128 256 128H64C28.6 128 0 156.6 0 192V288C0 323.4 28.6 352 64 352H97.7C96.3 362.5 95.5 373.1 95.5 384 95.5 423.8 104.8 461.4 121.1 494.9 126.3 505.6 137.6 512 149.5 512H223.8C249.8 512 265.4 482.2 249.7 461.4 233.3 439.9 223.5 413.1 223.5 384 223.5 372.9 225.1 362.2 227.9 352H256C310.7 352 364.3 370.8 407 404.9L492 473A32-32 0 0 1 512 480C536.9 480 544 457.2 544 448V295.1C563 284 576 263.6 576 240zM480 381.4L446.9 355C392.9 311.8 325.1 288 256 288V192C325.1 192 392.9 168.2 446.9 125L480 98.6V381.4z"></path>
				</svg>
				<swiper :options="notifySwiperOption" class="notify-swiper" ref="notifySwiper" v-if="web.bulletins.length" @click.native="bulletinPopup">
					<swiper-slide v-for="bulletin in web.bulletins" v-bind:key="bulletin.index" >{{bulletin.content}}</swiper-slide>
				</swiper>
			</div>
			<!-- <div class="cells padding">
				<div class="plate-title">
					<span class="title">線上對戰</span>
					<span class="desc">萬人在線 勝者為王</span>
					</span>
				</div>
				<div class="row">
					<div class="col100 icon-vg" @click="startGame('VG','VG')">
					</div>
				</div>
			</div> -->
			<div class="cells padding">
				<div class="plate-title">
					<span class="title">真人娛樂</span>
					<span class="desc">精彩薈萃 激情無限</span>
					</span>
				</div>
				<div class="row">
					<div class="col100 icon-sa" @click="startGame('SA_LIVE','SA_LIVE')"></div>
				</div>
			</div>

			<div class="cells padding">
				<div class="plate-title">
					<span class="title">彩球彩票</span>
					<span class="desc">主流彩票 精彩薈萃</span>
				</div>
				<div class="row">
					<div class="col100 icon-lottery" @click="startGame('CROWN','CROWN')">
					</div>
				</div>
			</div>

			<div class="cells padding">
				<div class="plate-title">
					<span class="title">金融指數</span>
					<span class="desc">主流商品 加密貨幣</span>
				</div>
				<div class="row">
					<div class="col100 icon-binary" @click="startGame('VIX','VIX')" style="background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    ">
					</div>
				</div>
			</div>

			<div class="cells padding">
				<div class="plate-title">
					<span class="title">動態指數</span>
					<span class="desc"></span>
				</div>
				<div class="row">
					<div class="col-today33 today_number" >
						<div>
							今日成交量 <i class="fas fa-chart-bar" style="color:#369bec"></i>
						</div>
						<div>
							<DigitRoll :rollDigits="today_total" style="width:100px;"/>
						</div>
					</div>
					<div class="col-today33 today_number" >
						<div>
							漲升指數 <i class="fas fa-chart-line" style="color:#e64444"></i>
						</div>
						<div style="display:flex;justify-content: center;">
							<div>
								<DigitRoll :rollDigits="today_up" style="width:16px;"/>
							</div>
							<div style="line-height: 40px;">
								%
							</div>
						</div>
					</div>
					<div class="col-today33 today_number" >
						<div>
							跌降指數 <i class="fas fa-chart-line" style="color:#21a629"></i>
						</div>
						<div style="display:flex;justify-content: center;">
							<div>
								<DigitRoll :rollDigits="today_down" style="width:16px;"/>
							</div>
							<div style="line-height: 40px;">
								%
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="line"></div>
		</scroller>
	</div>
</template>
<script>
//import PromotionDetail from './PromotionDetail.vue'
import { mapGetters } from "vuex";
import { apiBulletin } from "api.js";
import { globalMixin } from 'mixin.js';
import sess from 'sess.js'
import DigitRoll from '@huoyu/vue-digitroll';
export default {
    mixins: [globalMixin],
	data() {
		let _this = this;
		return {
			today_total:0,
			today_up:0,
			today_down:0,
			swiperOption: {
				observer: true,
				autoplay: {
					delay: 5000,
					disableOnInteraction: false

				},
				speed: 400,
				slidesPerView: 1,
				spaceBetween: 0,
				loop: true,
				on: {
					click: function() {
						// 这里有坑，需要注意的是：this 指向的是 swpier 实例，而不是当前的 vue， 因此借助 vm，来调用 methods 里的方法
						// 当前活动块的索引，与activeIndex不同的是，在loop模式下不会将 复制的块 的数量计算在内。
						//const realIndex = this.realIndex;
						//console.log(realIndex);
						//_this.focusPromotion = realIndex;
						//_this.go2page('/promotionDetail/' + (realIndex + 1));
						var id="";
						switch(this.realIndex)
						{/*
							case 0:
								id = "news_20180603102853_0-3";
								break;
							case 1:
								id = "event3-detail";
                                break;
							case 2:
								id = "event4-detail";
                                break;
							case 3:
								id = "event1-detail";
                                break;
							case 4:
								id = "event2-detail";
                                break;
							case 5:
								return _this.go2page('/pricing');
								//id = "pricing_detail";
                                break;
*/

							case 0:
								id = "event5-detail";
								break;
							case 1:
								id = "event6-detail";
                                break;
							case 2:
								id = "event7-detail";
								break;
							case 3:
								id = "news_20180603102853_0-3";
								break;
							case 4:
								id = "event3-detail";
                                break;
							case 5:
								id = "event4-detail";
                                break;
							case 6:
								id = "event1-detail";
                                break;
							case 7:
								id = "event2-detail";
                                break;
							case 8:
								return _this.go2page('/pricing');
                                break;

						}
						_this.showDetail(id);
					}
				},
				mousewheelControl: true,
				pagination: {
					el: ".swiper-pagination",
					clickable: true
				},
			},
			notifySwiperOption: {
				autoplay: {
				  delay: 5000,
					disableOnInteraction: false
				},
				speed: 400,
				direction: "vertical",
				slidesPerView: 1,
				spaceBetween: 0,
				loop: true,
				mousewheelControl: true,
				observer: true
			},
			notify: {
				title: "",
				detail: "",
				date: ""
			},
		};
	},


	computed: {
		...mapGetters({
			config: "config",
			user: "user",
			web: "web"
		}),
		notifySwiper() {
			return this.$refs.notifySwiper.swiper;
		},
        showAppDL(){
            var u = navigator.userAgent;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
            return this.user.isShowAppDL && isAndroid?true: false;
        }
	},
	components :{
		'DigitRoll':DigitRoll,
	},
	methods: {
		getRandom(min,max){
			return Math.floor(Math.random()*max)+min;
		},
		reset_today()
		{
			if(this.today_total==0)
			{
				this.today_total = this.getRandom(30000000,80000000);
			}else
			{
				this.today_total += this.getRandom(10,500);
			}
			var num = this.getRandom(10,70);
			this.today_up = num;
			this.today_down = 100 - num;
			setTimeout(() => {
				this.reset_today();
			}, 15000);
		},
		waitOpen(){
			$toast.show('尚未開放');
		},
        go2page(url) {
			this.$router.push({
				path: url,
				query: {}
			});
		},
		playPopup(soruce, id) {
			let options = {
				effect: 'scale',
				title: '',
				showClose: true,
				buttons: [
				  {text: '進入遊戲'},
				  {text: '試玩'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">您可以選擇直接遊戲或試玩遊戲</div>', options);

			popup.show().then((buttonIndex) => {
				if (buttonIndex == 0){
					this.startGame(soruce, id);
				}
				else if(buttonIndex == 1) {
					this.tryGame(soruce, id);
				}
			})
		},
		bulletinPopup(index) {
			var index = this.notifySwiper.clickedSlide.getAttribute("data-swiper-slide-index");
			this.notify.detail = this.web.bulletins[index].content;
			this.notify.title = this.web.bulletins[index].title;
			this.notify.date = this.web.bulletins[index].start_time.split(' ')[0];


			let options = {
				cssClass:'bulletinPopup',
				effect: 'scale',
				/*title: '系統公告',*/
				showClose: true,
				buttons: [
				]
			}
			let popup = $popup.fromTemplate(this.notify.title + '<div class="mt10 mb10">'+this.notify.detail+'</div>'+ '<div>'+this.notify.date+'</div>', options);

			popup.show().then((buttonIndex) => {

			})
		},

		showDetail(id){
			this.$router.push("/promotion/Detail/" + id);
			/*
			$modal.fromComponent(PromotionDetail, {
				title: '',
				theme: 'default',
				destroyOnHide: true,
				onHide: () => {
				console.log('modal hide')
				}
			}).then((modal) => {
				modal.content.$on('closeModal', function(){
				modal.hide();
				});
				modal.content.showDetail(pid);
				this.modal = modal;
				this.modal.show();
			})
			*/
		},



		onRefresh() {
			this.syncBulletin();
			setTimeout(() => {
				setTimeout(() => {
					if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh();
				});
			}, 500);
		},

		onItemClick(index) {
			console.log(index);
		},
		showBulletin: function(index) {
			var index = this.notifySwiper.clickedSlide.getAttribute("data-swiper-slide-index");
			this.notify.detail = this.web.bulletins[index].content;
			this.notify.title = this.web.bulletins[index].title;
			this.notify.date = this.web.bulletins[index].start_time;
		},
		syncBulletin() {
			apiBulletin()
				.then(response => {
					if (response.data) {
						this.web.bulletins = response.data;
					}
				})
				.catch(error => {
					console.log(error);
				});
		},
        closeAppDL(){
            this.user.isShowAppDL = false;
        },
        downloadApp(){
            var url = '/static/dl/wm.apk';
            window.open(url,'', '');
            return false;
        }
	},
	created() {
		if (!this.web.bulletins.length) {
			this.syncBulletin();
		}
		setTimeout(() => {
			this.reset_today();
		}, 300);
	},
	mounted() {
		this.$refs.scroller.finishPullToRefresh();
	},
	beforeDestroy: function() {
		sess.set('/', {
			history: true,
			scrollTop: this.$refs.scroller.getPosition().top
		})
		//this.web.temp.slideIndex = this.$refs.bannerSwiper.swiper.activeIndex;

		//console.log(this.$refs.bannerSwiper.swiper.activeIndex);
		//console.log('beforeDestroy',this.$refs.scroller.getPosition().top);
	},
};
</script>
<style scoped>
.home-info-box{ 
    font-size: 16px;
    text-align: center;
    padding: 5px;
    color: #666;
}
.home-page .today_number{
	color:#999;
	text-align: center;
	margin-top: 10px;
}
.home-page .d-roll-wrapper{
    margin: 10px auto;
}
.home-page .banner-top1 {background: url(~assets/images/promotion/news_20180603102853_0-2.jpg) center center / cover;}
.home-page .banner-event5 {background: url(~assets/images/promotion/event5.jpg) center center / cover;}
.home-page .banner-event6 {background: url(~assets/images/promotion/event6.jpg) center center / cover;}
.home-page .banner-event7 {background: url(~assets/images/promotion/event7.jpg) center center / cover;}

.home-page .banner-top2 {background: url(~assets/images/promotion/event3.jpg) center center / cover;}
.home-page .banner-top3 {background: url(~assets/images/promotion/event4.jpg) center center / cover;}
.home-page .banner-top4 {background: url(~assets/images/promotion/event1.jpg) center center / cover;}
.home-page .banner-top5 {background: url(~assets/images/promotion/event2.jpg) center center / cover;}
/*
.home-page .banner-top6 {background: url(~assets/images/banner/pricing.jpg) center center / cover;}
*/


.home-page .icon-live {background-image: url(~assets/images/home/vg.png);}
.home-page .icon-allbet {background-image: url(~assets/images/home/allbet.png);}
.home-page .icon-sa {background-image: url(~assets/images/home/banner1-m.jpg);}
.home-page .icon-og {background-image: url(~assets/images/home/OG.png);}
.home-page .icon-wm {background-image: url(~assets/images/home/WM.png);}
.home-page .icon-dg {background-image: url(~assets/images/home/DG.png);}
.home-page .icon-ddfg {background-image: url(~assets/images/home/DDFG.png);}
.home-page .icon-ddfgking {background-image: url(~assets/images/home/DDFG-king.png);}

.home-page .icon-qt-fish1 {background-image: url(~assets/images/home/qtf1.png);}
.home-page .icon-qt-fish2 {background-image: url(~assets/images/home/qtf2.png);}

.home-page .icon-7pk {background-image: url(~assets/images/home/7PK.png);}
.home-page .icon-qt {background-image: url(~assets/images/home/QT.png);}
.home-page .icon-ae {background-image: url(~assets/images/home/AE.png);}
.home-page .icon-rtg {background-image: url(~assets/images/home/RTG.png);}
.home-page .icon-ttg {background-image: url(~assets/images/home/TTG.png);}
.home-page .icon-lottery {background: url(~assets/images/home/banner2-m.jpg) center center / cover !important;}
.home-page .icon-binary {background: url(~assets/images/home/vix.png) center center / cover !important;}
.home-page .icon-bigno {background-image: url(~assets/images/lottery/bingo-star-banner.jpg);}

.home-page .icon-sport {background-image: url(~assets/images/home/sport.png);}
.home-page .icon-qt2 {background-image: url(~assets/images/home/qt-sport.jpg);}
.home-page .icon-vg {background-image: url(~assets/images/chess/vgbanner.jpg);}


.home-page .banner{
    width: 100%;
}
.home-page .banner .col100{
	position: relative;
	width: 100%;
	background-size: cover;
}
.home-page .banner .col100:before{
	content: "";
	display: block;
	padding-top: 40%;
}
.home-page .banner .swiper-container {
    position: absolute;
    top: 0;
}

.home-page .col100{
	position: relative;
	width: 100%;
	background-size: cover;
}
.home-page .col100:before{
	content: "";
	display: block;
	padding-top: 36%;
}

.home-page .col-today33{
	position: relative;
	width: 33.3%;
	background-size: cover;
}

.home-page .col33{
	position: relative;
	width: 33.3%;
	background-size: cover;
}
.home-page .col33:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.home-page .col-live33{
	position: relative;
	width: 33.3%;
	background-size: 95%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.home-page .col-live33:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.home-page .col66{
	position: relative;
	width: 66.6%;
	background-size: 98%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.home-page .col66:before{
	content: "";
	display: block;
	padding-top: 50%;
}



.home-page .logo_img{
    width: 130px;
    height: 33px;
    background: url(~assets/images/home/LOGO.png) center center / cover;
    position: absolute;
	top: 7px;
    left: calc(50% - 65px);
}
.home-page .banner-img {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.home-page .bulletin{
    padding: 0 0px 0 8px;
    background-color: #6d6d6d;
    margin-bottom: 10px;
    height: 34px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 12px 0px rgba(141, 141, 141, 0.3);
    color: #ddd;
}
.home-page .notify-icon{
  float: left;
  margin-top: 4px;
}
.home-page .cells {
	/* color:#666;
	padding-bottom:20px; */
	margin: 0px;
	background: linear-gradient(180deg, #202020 0, #121212);
}
.home-page .cells .catgIcon {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    margin-bottom: 0px;
    margin-top: 0px;
}
.home-page .cells .ImgIcon {
	height: 100%; width: 100%; object-fit: contain;
}
.home-page .padding {

	margin-bottom:10px;
}



.home-page .block{
  background: #FFF;
}
.home-page .plates{
  width: 100%;
  overflow: auto;
}
.home-page .plate-img {
  float: left;
  width: 50%;
  height: 160px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 95% 95%;
}
.home-page .plate-img:last-child:after{
  clear: both;
  content: '';
  display: block;
}

.home-page .cells-22 > .row > .col {
  padding: 30px 0;
}


.home-page .swiper {
  position: relative;
  height: 100%;
}
.home-page .swiper .swiper-container {
  height: 100%;
}

.home-page .plate-title{
  margin: 4px 4px;
}
.home-page .plate-title .title{
  font-size: 18px;
  font-weight: bold;
  color: #ddd;
  margin-right: 12px;
}
.home-page .plate-title .desc {
    font-size: 15px;
    color: #999;
}
.home-page .plate-title  .more {
    float: right;
    font-size: 15px;
    color: #409eff;
    position: relative;
}
.home-page .line{
  height: 12px;
}
.home-page .swiper-pagination-bullet {
    background: #4a90e2 !important;
}

.home-page .notify-swiper {
	display:inline-block;
	width: calc(100% - 25px);
	height:34px;
	line-height:34px;
	color:#eee;
}
.home-page .notify-swiper .swiper-slide {
	overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home-page .my-promotion .yd-popup-center.yd-popup-show{
	overflow: auto;
	background: #000;

}

.home-page .tip-download {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    background: #bee6ff;
}
.home-page .tip-download .tip-download-icon {
    padding-left: 14px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
}
.home-page .tip-download .tip-download-logo {
    width: 50px;
    height: 50px;
    background-image: url(~assets/images/user/logo.png?v=1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
	top: 5px;
    left: 6px;
    border-radius: 3px;
    border: 1px solid #11c1f3;
    background-color: #fff;
    padding: 0;
    margin-right: 8px;
}
.home-page .tip-download div {
    line-height: 60px;
    padding-right: 5px;
}
.home-page .fl {
    float: left;
}
.home-page .fr {
    float: right;
}
.home-page .tip-download .tip-download-txt {
    line-height: 22px;
    color: #666;
    padding-left: 6px;
    font-size: 15px;
	margin-top:8px;
}
.home-page .tip-download .tip-download-down {
    border-radius: 0;
	padding:0px;
    background-color: #045baf;
    color: #fff;
    width: 25%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

</style>
