<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true,showMenuButton:true,onMenuButtonClick:goIndex,menuButtonText:'回首頁'}">
		<div class="page-content padding-top login-page">
			<div class="item item-divider">
			</div>

			<yd-cell-group>
				<yd-cell-item>
					<span slot="left" ><i class="far fa-user fa-lg"></i></span>
					<yd-input slot="right" required :show-success-icon="false" :show-error-icon="false" :show-required-icon="false" v-model.trim="username" max="12" min="4" placeholder="請輸入帳號" autocomplete="off" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,12}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left"><i class="fas fa-unlock-alt fa-lg"></i></span>
					<yd-input slot="right" required :show-success-icon="false" :show-error-icon="false" :show-required-icon="false" type="password" v-model.trim="password" max="12" min="6" placeholder="請輸入密碼" autocomplete="off" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
			</yd-cell-group>
			<div class="forget">如您沒有帳號? <span class="link-color" @click="go2page('/register')">點擊註冊</span> <span class="pull-right link-color" @click="go2page('/forget')">忘記密碼?</span></div>



			<div class="padding">
				<button class="button button-positive button-block" @click="submit">登錄</button>
			</div>
			<div class="padding">
				<button class="button button-positive button-block" @click="menuClicked">聯繫客服</button>
			</div>
		</div>
	</div>
</template>
<script>
import { apiLogin } from 'api.js'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			username: '',
			password: '',
		}
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
    },
	methods: {
        menuClicked() {
			//客服
				 var url = this.config.KfUrl;
				 window.open(url,'', '');
				return false;
           // console.log(menuIndex);
        },
		goIndex(){
			this.$router.push("/");
		},
		submit() {
			if (!this.username) {
				return $toast.show('請輸入帳號');
			}
			if (!this.password) {
				return $toast.show('請輸入密碼');
			}
			/*
			if(!/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,12}$/.test(this.username)){
				return $toast.show('帳號格式不正確');

			}
			if(!/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/.test(this.password)){
				return $toast.show('密碼格式不正確');
			}*/


			this.$dialog.loading.open('登錄中');
			setTimeout(() => {
				apiLogin({
						'company' : this.config.company,
						'name' : this.username,
						'password' : this.password,
						'remember' : 'on'
					})
					.then(response => {
						//console.log(response);
						this.$dialog.loading.close();
						this.$store.dispatch('upIsLogin',response.data.status);
						if (!response.data.status) {
							return $toast.show(response.data.message);
						}
						this.$store.dispatch('getUserInfo');
						this.$dialog.notify({
							mes: response.data.message,
							timeout: 3000,
							callback: () => {
							}
						});
						//this.$router.back('/');
						this.$router.push("/");
						//$toast.show(response.data.message, 500).then(() => {
						//	this.$router.go(-1);
						//});
					}).catch(error => {
						this.$dialog.loading.close();
						$toast.show(this.errors.title);
						console.log(error);
					});
			}, 400);

		}
	},
	mounted(){
		//console.log(this.user.isLogin);
		if (this.user.isLogin) {
			//this.$router.go(-1);
			this.$router.push("/");
		}

	}
}
</script>
<style>
.login-page .yd-cell-left{
	width:50px;
	text-align:center;
	color:#ddd;
    opacity: .75;
}
.login-page .yd-cell-left > span {width:100%;}
.login-page .forget {
	padding:10px 15px;
	font-size:14px;
	color:#ddd;

}
.login-page {

    background: url(https://sp-res-wap.dgstaticresources.net/fusion/wap/release/static/img/bg-auth.a7550e93.png) no-repeat bottom;
    background-size: 100%;
}
</style>
