<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content">

			<img src="~assets/images/promotion/pricing_detail.jpg" style="width: 100%; height: auto;">

		</div>
	</div>
</template>
<script>
//import { mapGetters } from 'vuex'
export default {
	data() {
		return {
		}
	},
	computed: {

	},
	methods: {
	},
	mounted(){
	},
	created() {
		//this.$store.dispatch('getUserInfo');
	},
}
</script>
<style scoped>



</style>
