<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content pomotion" ref="pageContent">
			<tabs :tab-items="tabs" :tab-index="tabIndex" position="top" bg-color="Light" tab-color="" :on-tab-click="onTabClick"></tabs>

			<div class="card" v-for="(item, key) in allData"
				v-if="tabIndex == 0 || (tabIndex > 0 && tabIndex == item.type)" @click="showDetail(item.promotion)">

				<img v-bind:src="item.image">
				<div class="title">{{ item.title }}</div>
				<div class="content">{{ item.content }}</div>
			</div>
		</div>

	</div>
</template>

<script>
//import PromotionDetail from './PromotionDetail.vue'
import { mapGetters } from 'vuex'
//import sess from 'sess.js'
import { globalMixin } from 'mixin.js'

export default {
	mixins: [globalMixin],
	data() {
		return {
			//show: false,
			//pid: 1,
			tabIndex: 0,
			//modal: undefined,

			allData: [
				
			{
					id: 3,
					tag: ['長期'],
					type: 2,
					title: '老虎機30%天天送',
					content: '老虎機爭霸賽不下架最高優惠10000',
					image: require('assets/images/promotion/event5.jpg'),
					promotion: 'event5-detail'
				}, 
				{
					id: 3,
					tag: ['長期'],
					type: 2,
					title: '7PK彩金拿不完',
					content: '優惠活動無限制申請次數',
					image: require('assets/images/promotion/event6.jpg'),
					promotion: 'event6-detail'
				}, 
				{
					id: 3,
					tag: ['長期'],
					type: 2,
					title: '電子遊戲滿千送千週週送',
					content: '週週送儲1000送1000',
					image: require('assets/images/promotion/event7.jpg'),
					promotion: 'event7-detail'
				}, 
				{
					id: 3,
					tag: ['新開'],
					type: 1,
					title: '首儲1000送1000',
					content: '新會員首次儲值單筆1000點以上即可獲得1000禮金！',
					image: require('assets/images/promotion/news_20180603102853_0-2.jpg'),
					promotion: 'news_20180603102853_0-3'
				}, 
				{
					id: 3,
					tag: ['長期'],
					type: 2,
					title: '新會員滿月彩金',
					content: '滿月金、季度金、半歲金、滿歲金，最高贈送彩金6888元',
					image: require('assets/images/promotion/event3.jpg'),
					promotion: 'event3-detail'
				}, 
				{
					id: 3,
					tag: ['長期'],
					type: 2,
					title: '9號完美會員專屬日',
					content: '每月9號會員專屬日，彩金1088月月送',
					image: require('assets/images/promotion/event4.jpg'),
					promotion: 'event4-detail'
				}, 
				
				{
					id: 5,
					tag: ['長期'],
					type: 2,
					title: '天天返水，天天送',
					content: '任意遊戲累計有效投注量即可享受每日返水活動',
					image: require('assets/images/promotion/news_20180603102924_2.jpg'),
					promotion: 'news_20180603102924_3'
				},	
				{
					id: 3,
					tag: ['長期'],
					type: 2,
					title: '智勇大闖關-周周送大獎',
					content: '累計有效投注可申請獲得2888元衝關彩金',
					image: require('assets/images/promotion/event1.jpg'),
					promotion: 'event1-detail'
				}, 
				{
					id: 3,
					tag: ['特殊'],
					type: 3,
					title: '百家樂連贏送豪禮',
					content: '【百家樂】連贏局數最高可獲得連贏獎金128888',
					image: require('assets/images/promotion/event2.jpg'),
					promotion: 'event2-detail'
				}, 

				
				{
					id: 5,
					tag: ['長期'],
					type: 2,
					title: '24小時快速提領免手續費',
					content: '為回饋舊會員對本站的支持，特推出提領免手續費優惠活動',
					image: require('assets/images/promotion/news_20180603102916_0-2.jpg'),
					promotion: 'news_20180603102916_0-3'
				},		
	
			
			/*
				{

					id: 1,
					tag: [],
					type: 0,
					title: '完美娛樂大改版',
					content: '註冊送禮金',
					image: require('assets/images/promotion/news_20171109074839_0-2.jpg'),
					promotion: 'news_20171109074839_0-3'
				},
				
				{
					id: 2,
					tag: ['特殊'],
					type: 3,
					title: '您的生日，我們都記得',
					content: '即日起只要登記您的出生年月日，完美娛樂城將為您慶生',
					image: require('assets/images/promotion/news_20171109101627_0-2.jpg'),
					promotion: 'news_20171109101627_0-3'
				},*/
				


				/*
			{
				id: 4,
				tag: ['長期'],
				type: 2,
				title: '週週首儲 週週送10%',
				content: '完美娛樂城的所有會員每週存款，即可免費領取相應的遊戲彩金，最高2000點！',
				image: require('assets/images/promotion/news_20180603102904_0-2.jpg'),
				promotion: 'news_20180603102904_0-3'
			}, {
				id: 5,
				tag: ['長期'],
				type: 2,
				title: '週週負利大回饋',
				content: '週週負利大回饋，8888好運彩金送給你發',
				image: require('assets/images/promotion/news_20190409072000_0-2.jpg'),
				promotion: 'news_20190409072000_0-3'
			}, {
				id: 5,
				tag: ['特殊'],
				type: 3,
				title: '老虎機爭霸賽',
				content: '電子遊戲 週週紅利大放送',
				image: require('assets/images/promotion/news_20180603102750_0-2.jpg'),
				promotion: 'news_20180603102750_0-3'
			}, {
				id: 5,
				tag: ['新開'],
				type: 1,
				title: '儲值即送ATM讀卡機',
				content: '新、舊會員累積儲值達2000點，即可申請ATM讀卡機',
				image: require('assets/images/promotion/news_20180603102949_0-2.jpg'),
				promotion: 'news_20180603102949_0-3'
			}, {
				id: 5,
				tag: ['長期'],
				type: 2,
				title: '驚喜小彩金，隨機派送中',
				content: '只要您在遊戲中，完美娛樂將不定時隨機派發送驚喜小彩金至會員帳戶中',
				image: require('assets/images/promotion/news_20180604065512_2.jpg'),
				promotion: 'news_20180604065512_3'
			}, {
				id: 5,
				tag: ['長期'],
				type: 2,
				title: '好友拉好友',
				content: '如推薦5個人，即可領取1,000彩金',
				image: require('assets/images/promotion/news_20180808052858_0-2.jpg'),
				promotion: 'news_20180808052858_0-3'
			}
			*/
			],
			tabs: [
				"全部優惠",
				"新開戶優惠",
				"長期優惠",
				"特殊優惠"
			],
		}
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
    },
	methods: {

		onTabClick(index) {
			this.$refs.pageContent.scrollTop = 0;
			this.web.temp.promotionTabIndex = index;
			//console.log(history.state);
			this.tabIndex = index;

			//if (index)	{
			//	this.$router.replace({ path: '/promotion/' + index});
			//}
			//else {
			//	this.$router.replace({ path: '/promotion'});

			//}
		},
		showDetail(id){

			this.go2page("/promotion/Detail/" + id);
		}
	},
	mounted(){
		if(!this.web.temp.promotionTabIndex) this.web.temp.promotionTabIndex = 0;
		this.tabIndex = this.web.temp.promotionTabIndex;
		/*
		if (this.$route.params.id){
			this.tabIndex = parseInt(this.$route.params.id);
		}
		let h = sess.get(this.$route.path)
		if (h)	{
			this.$refs.pageContent.scrollTop = h.scrollTop || 0;
		}*/
	},
}
</script>
<style scoped>
.page-content.pomotion {
    padding-top: 92px !important;
}
.card{
  padding: 10px 10px;
  color:#777;
  font-size:14px;


}
.card img{
  width: 100%;
}
.card .title{
  font-weight: bold;
  font-size: 16px;
  color:#444;
}
</style>
<style>
.pomotion .tabs {position:fixed;}

.pomotion .tab-item.active{
    border-color: #4a90e2;
}
</style>
