<template>
  <div class="page-content question">
    <div class="card">
      <div class="title">
        {{ this.title }}
      </div>
      <div v-html="this.content"></div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        title: '11',
        content: '22',
        questions:{"1": {"title": "為什麼在線支付成功後額度沒有立即增加？", "content": "這是因為在線支付系統需要經過密碼鎖切換及內部驗證程序，而這也是我們的保安程序之一，所以請您不必擔心，款項一定不會丟失。如果您在線支付超過30分鐘後仍然還未收到您的款項，請與我們客服聯繫處理。"}
                , "2": {"title": "快速入款存款未到帳如何處理？", "content": "由於跨行匯款的到帳時間行方面辦理速度，一般都是有1-8小時的到帳時間，請您耐心等待。如果已成功匯款，可能是由於第三方支付公司還沒有收到您的款項，請麻煩發送發票的掃描件或是清晰照片（如果是網銀匯款請發送匯款明細的截圖）給我們，我們會馬上為您提交到第三方支付公司進行查詢。"}
                , "3": {"title": "提款什麼時候可以到帳？", "content": "取款申請審核通過後，一般會在3-5分鐘內為您進行線下轉帳。若逾時仍未收到款項，則可能是取款銀行帳號數據有誤或銀行帳號小額管理費未繳等問題所造成的。財務人員在無法出款時都會及時進行通知，若玩家未填寫有效的聯絡方式也會造成財務無法聯繫的情況發生，請您務必填寫正確有效的聯繫信息。同時，您也可隨時聯繫在線客服了解進度。"}
                , "4": {"title": "提款申請為什麼會不通過？", "content": "<p class='detail'>防止部分玩家利用本公司進行洗錢等非法資金操作，為避免部分玩家以套利為目的參與活動，我司對於所有的提款均會進行審核，申請不通過的主要因素考慮如下：<br>1、判斷有效投注額是否達到存款，優惠的流水要求。<br>2、取款信息是否符合取款者信息。<br>3、投注是否異常，存在惡意刷流水套利行為。 <br>4、同一用戶多帳戶行為。</p>"}
                , "5": {"title": "為什麼向遊戲轉帳會失敗？", "content": "<p class='detail'>向遊戲轉帳失敗可能存在以下幾種原因：<br>(1)第三方遊戲數據異常或正在升級維護中。<br>(2)數據對接異常，暫時無法進行資金操作。<br>(3)網絡連接異常，導致訂單超時。 <br>溫馨提示：<br>轉帳失敗時，建議您重新發起請求，或稍等片刻後再進行操作！ </p>"}
                , "6": {"title": "你們的流水紅利政策是怎麼樣的？", "content": "<p class='detail'>目前我們有以下紅利：<br>新用戶首存紅利<br>完美娛樂城娛樂場、鑽石廳娛樂場有周返水紅利<br>快樂彩週返水紅利<br >體育週返水紅利</p>"}
                , "7": {"title": "有效流水在每個平台是如何計算的？", "content": "有效流水計算： 1.百家樂項目，若單局輸贏的絕對值大於75%本金，以本金作為有效投注額。 2.其他盤口按單局本金計算有效投注額。當投注淨輸時，按淨輸金額絕對值計算流水。當投注淨贏金額<75%，則按淨贏金額計算流水，淨贏金額>=75%，以全額投注金額計算流水。"}
                , "8": {"title": "隱私信息是否安全？", "content": "完美娛樂城將盡全力保護客戶提供給我們的個人資料，不會蓄意將該數據洩漏給外人，除非此政策條款裡有明文規定。所有完美娛樂城員工都被要求遵循該政策條款。員工有義務嚴密​​的保守客戶的個人資料，即使員工離開完美娛樂城後仍須堅守此義務。閣下本人也須保護好您的個人資料。閣下應嚴守您的帳戶密碼，不應將此透露給其他人。"}
                , "9": {"title": "我可以註冊多個帳號嗎？", "content": "客戶不可以同時擁有多個帳號，如發現客戶擁有多個戶口，公司有權取消其戶口以及投注，本公司保留權利取消或關閉您的帳戶本公司有權限制客戶只保留其中一個戶口。"}
                , "10": {"title": "請問各個遊戲的注額為多少？", "content": "<p class='detail'>真人遊戲-最低下注1RMB 最高限額30萬RMB （可根據不同類型會員進行調高注碼額度）<br>彩票遊戲-最低下注1RMB最高限額依照遊戲及玩法不同，最高可到10000RMB<br>電子機率-最低下注0.2RMB最高限額依照遊戲及玩法不同<br>如有任何疑問請諮詢24小時在線客服！ </p>"}}
      }
    },
    mounted() {
    },
    methods: {
      showText: function(qid){
        this.title = this.questions[qid]["title"];
        this.content = this.questions[qid]['content'];
      }
    }
  }
</script>
<style scoped>
.page-content.question .card{
  padding: 10px 10px;
}
.page-content.question .title{
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
}
</style>
