<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true, hideNavbar: true}">
		<div class="page-content padding-top register-page">

			<von-header>
				<button class="button button-icon ion-ios-arrow-back" slot="left" @click="$router.go(-1)"></button>
				<!-- <span slot="title"><span class="tab-left" :class="{'tab-active' : tabActive == 0}" @click="tabActive = 0">手機註冊</span><span class="tab-right" :class="{'tab-active' : tabActive == 1}" @click="tabActive = 1">快速註冊</span></span> -->
				<span slot="title">會員註冊</span>
				<button class="button button-icon " slot="right" @click="$router.back('/')">回首頁</button>
			</von-header>


			<div class="item item-divider">
			</div>


			<yd-cell-group v-if="tabActive == 1">
				<yd-cell-item>
					<span slot="left"><i class="far fa-user fa-lg"></i> </span>
					<yd-input slot="right" required :show-required-icon="false" v-model="username" max="12" min="4" placeholder="帳號 數字與英文組成，請勿使用特殊符號" autocomplete="off" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,12}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left"><i class="fas fa-unlock-alt fa-lg"></i> </span>
					<yd-input slot="right" required :show-required-icon="false" type="password" v-model="password" max="12" min="6" placeholder="密碼" autocomplete="off" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left" ><i class="far fa-user fa-lg"></i> </span>
					<yd-input slot="right" required :show-required-icon="false" v-model="name" max="12" min="2" placeholder="姓名" autocomplete="off" ></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left"><i class="fas fa-fingerprint fa-lg"></i> </span>
					<input type="tel" v-model="verify" slot="right" placeholder="請輸入驗證碼" maxlength="6" autocomplete="off">
				</yd-cell-item>
				<img v-bind:src="'/api/captcha?rnd=' + rnd" @click="refreshCaptcha()" width="90" height="30" style="margin-top:0px;position:absolute;bottom:11px;right:12px;cursor: pointer;border-radius: 2px;border: 1px solid #ddd;">
			</yd-cell-group>



			<yd-cell-group v-if="tabActive == 0">
				<yd-cell-item>
					<span slot="left" ><i class="far fa-user fa-lg"></i></span>
					<yd-input slot="right" required :show-required-icon="false" v-model="username" max="12" min="4" placeholder="帳號 , 請輸入4-8位數字及字母組合" autocomplete="off" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,8}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left"><i class="fas fa-unlock-alt fa-lg"></i></span>
					<yd-input slot="right" required :show-required-icon="false" type="password" v-model="password" max="12" min="6" placeholder="密碼 , 請輸入6-12位數字及字母組合" autocomplete="off" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left" ><i class="far fa-user fa-lg"></i></span>
					<yd-input slot="right" required :show-required-icon="false" v-model="name" max="12" min="2" placeholder="請輸入姓名" autocomplete="off" ></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left"><i class="fas fa-mobile-alt fs24"></i></span>
					<yd-input slot="right" v-model="tel" :show-required-icon="false"  placeholder="請輸入手機號碼" autocomplete="off" regex="(09)[0-9]{8}" min="10" max="10"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left"><i class="fas fa-fingerprint fa-lg"></i></span>
					<input type="text" v-model="code" slot="right" placeholder="請輸入驗證碼" autocomplete="off" maxlength="6">

					<yd-sendcode slot="right"
								init-str="獲取驗證碼"
								second="300"
								v-model="start1"
								storage-key="mobileCode"
								@click.native="sendCode"
					>
					</yd-sendcode>
				</yd-cell-item>
			</yd-cell-group>
			<!-- <div class="item item-divider" style="padding-bottom:8px;padding-left:27px;">
				<yd-checkbox v-model="ido" color="#4a90e2" shape="circle" size="20">我已屆滿合法博彩年齡,且同意各項</yd-checkbox>
			</div> -->
			<div class="padding" style="padding-top:15px;">
				<button class="button button-positive button-block" @click="submit">註冊</button>
			</div>
			<div class="padding" style>
				<button class="button button-positive button-block" @click="$router.push('login')">我有帳號,點擊登入</button>
			</div>
		</div>
	</div>
</template>
<script>
//import {Input} from 'vue-ydui/dist/lib.px/input';

import { apiSendCode, apiRegister, apiLogin, apiRegisterQuick } from 'api.js'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'

export default {
	mixins: [globalMixin],
	data() {
		return {
			rnd: 1,
			verify: '',
			tabActive:0,
			start1: false,
			username: '',
			password: '',
			name: '',
			tel: '',
			code: '',
			ido:true,
		}
	},
	watch:{
		tabActive(val){
			this.web.temp.regTabActive = val;
		},
		name(val){
			this.web.temp.name = val;
		},		
		username(val){
			this.web.temp.regUsername = val;
		},
		password(val){
		
			this.web.temp.regPassword = val;
		},
		verify(val){
			this.web.temp.regVerify = val;
		},
		code(val){
			this.web.temp.regCode = val;
		},
		tel(val){
			this.web.temp.regTel = val;
		}
	
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
	},
	methods: {
		refreshCaptcha(){
			this.rnd = Math.random();
		},
		sendCode(){
			let reg_mobile = /^09[0-9]{8}$/;
			if(!reg_mobile.test(this.tel)){
				$toast.show('請輸入正確的號碼');
				return;
			}

			this.$dialog.loading.open('發送中...');
			setTimeout(() => {
				
				this.$dialog.loading.close();

				apiSendCode({'company': this.config.company, 'mobile': this.tel})
					.then(response => {
						if (!response.data.status) {
							return $toast.show(response.data.message);
						}
						else {
							this.start1 = true;
							$toast.show('簡訊已發送');
						}
					})
					.catch(error => {
						console.log(error);
					});
			}, 1000);
		},
		go2login(){

			this.$dialog.loading.open('登錄中');
			setTimeout(() => {
				apiLogin({
						'company' : this.config.company,
						'name' : this.username,
						'password' : this.password,
						'remember' : 'on'
					})
					.then(response => {
						//console.log(response);
						this.$dialog.loading.close();
						if (!response.data.status) {
							return $toast.show(response.data.message);
						}
						this.$store.dispatch('getUserInfo');
						this.$dialog.notify({
							mes: response.data.message,
							timeout: 3000,
							callback: () => {
							}
						});
						this.user.isLogin = true;
						this.$router.go(-1);
						//$toast.show(response.data.message, 500).then(() => {
						//	this.$router.go(-1);
						//});
					}).catch(error => {
						this.$dialog.loading.close();
						$toast.show(this.errors.title);
						console.log(error);
					});
			}, 400);

		},
		submit() {
			if (!this.ido) {
				return $toast.show('請同意開戶條約');
			}
			let reg_name = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,8}$/;
			if(!reg_name.test(this.username)){
				$toast.show('帳號格式不正確,請輸入4-8位數字及字母組合');
				return;
			}
			let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
			if(!reg_pwd.test(this.password)){
				$toast.show('密碼格式不正確,請輸入6-12位數字及字母組合');
				return;
			}

			//手機註冊
			if (this.tabActive == 0)	{
				apiRegister({'company' : this.config.company,
							'username' : this.username,
							'name' : this.name,
							'password' : this.password,
							'mobile' : this.tel,
							'host' : window.location.host,
							'code' : this.code
							})
					.then(response => {
						if (!response.data.status) {
							return $toast.show(response.data.message);
						}
						else {
							$toast.show(response.data.message, 500).then(() => {
								this.go2login();
							});
							this.web.temp.regUsername = '';
							this.web.temp.regPassword = '';
							this.web.temp.regVerify = '';
							this.web.temp.regCode = '';
							this.web.temp.regTel = '';
						}
					})
					.catch(error => {
						console.log(error);
					});

			}
			else {
				if(!/^[a-zA-Z0-9]{4,6}$/.test(this.verify)){
					return $toast.show('請正確輸入驗證碼');
				}
				apiRegisterQuick({
						  'company' : this.config.company,
						  'username' : this.username,
						  'password' : this.password,
						  'host' : window.location.host,
						  'captcha' : this.verify
						})
					.then(response => {
						if (!response.data.status) {
							this.refreshCaptcha();
							return $toast.show(response.data.message);
						}
						else {
							$toast.show(response.data.message, 500).then(() => {
								this.go2login();
							});
						}
					})
					.catch(error => {
						console.log(error);
					});
			}


		}
	},
	mounted(){
		this.refreshCaptcha();
		if (this.user.isLogin) {
			//this.$router.go(-1);
			this.$router.back('/');
		}
		//if (!this.web.temp.regTabActive) this.web.temp.regTabActive = 0;
		//this.tabActive = this.web.temp.regTabActive;


		if (this.web.temp.regUsername) this.username = this.web.temp.regUsername;
		if (this.web.temp.regPassword) this.password = this.web.temp.regPassword;
		if (this.web.temp.regVerify) this.verify = this.web.temp.regVerify;
		if (this.web.temp.regCode) this.code = this.web.temp.regCode;
		if (this.web.temp.regTel) this.tel = this.web.temp.regTel;
	}
}
</script>
<style scoped>
.register-page .yd-btn-warning{
	color: #4a4a4a;
}
.register-page .yd-btn-primary:not(.yd-btn-loading)
{
	background-color: rgb(228, 187, 123);
	color: #333;
}
.register-page .tab-left {
    border-radius: 20px 0 0 20px;
	border:1px solid #ddd;
	color:#aaa;
	font-size:14px;
	font-weight:400;
	padding: 5px 15px;
	border-right:0px;
}
.register-page .tab-right {
    border-radius: 0 20px 20px 0px;
	border:1px solid #ddd;
	color:#aaa;
	font-size:14px;
	padding: 5px 15px;
	border-left:0px;

}
.register-page .tab-active {
	background-color:rgba(64,158,255,.1);
	color:#fff;
	border:1px solid rgba(64,158,255,.2);
}

.captcha-btn {
	display: inline-block;
	vertical-align: middle;
}
.btn-captcha {
	position: relative;
	float: right;
	top: -42px;
	right: 8px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	width: 120px;
	font-weight: 700;
	border: 1px solid #00BBFF;
	border-radius: 6px;
	background: #fff;
	color: #00BBFF!important;
	text-align: center;
	z-index: 3;
	cursor: pointer;
}
</style>
<style>
.register-page .yd-cell-left{
	width:50px;
	text-align:center;
	color:#aaa;
    opacity: .75;
}
.register-page .yd-cell-left > span {width:100%;}
.register-page .yd-checkbox-text{font-size:14px;color: #bbb;}
.register-page .yd-checkbox {padding:0px;}

.register-page .yd-cell-box {
    margin-bottom: 0px;
}
</style>
