<template>
<div class="page has-navbar" v-nav="{title: title[$route.params.id], showBackButton: true}">
	<div class="page-content padding-top">



		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 1">
			<item class="item-icon-right" @click.native="go2page('/help/category/1/content')">
				開戶條約<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/2/content')">
				如何註冊？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/3/content')">
				如何登錄會員中心？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/4/content')">
				登錄時密碼提示錯誤，我該怎麼辦？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/5/content')">
				我可以註冊多個帳號嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/6/content')">
				我想刪除/註銷我的帳號可以嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/7/content')">
				如何找回登錄密碼？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>

		<div v-if="$route.params.id == 2" class="cells fs14" style="margin-top:0px;color:#666; padding:15px;">我們一直將保護客戶隱私及安全性作為首要宗旨，所有支付交易的處理均採用了最高標準的數據加密方式，採用128位SSL加密技術和嚴格的安全管理體系，確保客戶安全得到最完善的保障。</div>


		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 2">
			<item class="item-icon-right" @click.native="go2page('/help/category/11/content')">
				有哪些存款途徑？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/12/content')">
				存款未到帳如何處理？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/13/content')">
				存款是否需要繳納手續費或其他費用？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/14/content')">
				為什麼在線支付成功後額度沒有立即增加？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>


		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 3">
			<item class="item-icon-right" @click.native="go2page('/help/category/21/content')">
				提款流程<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/22/content')">
				提款限額是多少？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/23/content')">
				提款什麼時候可以到帳？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/24/content')">
				可否提款到其他人的銀行帳戶？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/25/content')">
				提款是否需要繳納手續費或其他費用？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/26/content')">
				當我在真人遊戲贏了錢，我該如何提款？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/27/content')">
				可以取消提款申請嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/28/content')">
				提款申請為什麼會不通過？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>


		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 4">
			<item class="item-icon-right" @click.native="go2page('/help/category/31/content')">
				什麼是轉帳？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/32/content')">
				為什麼遊戲前要先進行轉帳？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/33/content')">
				遊戲和遊戲之間可以互相轉帳嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/34/content')">
				為什麼向遊戲轉帳會失敗？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>



		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 5">
			<item class="item-icon-right" @click.native="go2page('/help/category/41/content')">
				我進行遊戲有安全保障嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/42/content')">
				隱私保護規則<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/43/content')">
				投注規則與規定<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/44/content')">
				博彩責任<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/45/content')">
				規則與條款<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/46/content')">
				用戶隱私協議<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>


		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 7">
			<item class="item-icon-right" @click.native="go2page('/help/category/61/content')">
				如何綁定銀行帳戶？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/62/content')">
				我可以綁定多張銀行帳戶嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/63/content')">
				如何更換已綁定的銀行帳戶？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/64/content')">
				為什麼我要設置真實姓名？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/65/content')">
				真實姓名填錯了怎麼修改？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/66/content')">
				我的真實姓名會被洩漏嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>

		<list class="list-ios hl-list-borderless" v-if="$route.params.id == 8">
			<item class="item-icon-right" @click.native="go2page('/help/category/71/content')">
				為何我的帳號會被凍結？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/72/content')">
				為什麼我會被登出？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/73/content')">
				為什麼我瀏覽的頁面不能正常顯示？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/74/content')">
				為什麼要進行驗證？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/75/content')">
				我可以只試玩而不下注嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/76/content')">
				別人可以用我的帳戶進行交易嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/77/content')">
				最基本的注單查詢方式？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/78/content')">
				請問各個遊戲的注額為多少？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/79/content')">
				如何證明遊戲結果是實時的？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/80/content')">
				你們的流水紅利政策是怎麼樣的？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/category/81/content')">
				有效流水在每個平台是如何計算的？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>




	</div>
</div>

</template>

<script>
//import QuestionModal from './Question.vue'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
import sess from 'sess.js'

export default {
	mixins: [globalMixin],
	data() {
		return {
			title:{
				'1':'登錄註冊',
				'2':'存款流程',
				'3':'提款流程',
				'4':'轉帳流程',
				'5':'帳戶安全',
				'6':'會員制度',
				'7':'銀行相關',
				'8':'其它問題',
			}
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
	},
	methods: {
	},
	destroyed() {

	},

	mounted(){
//		let h = sess.get(this.$route.path)
//		this.$refs.pageContent.scrollTop = h.scrollTop || 0;
	},
	created(){
	}
}
</script>
<style>


</style>
