<template>
<div class="page has-navbar" v-nav="{title: headerTitle, showBackButton: true}">
	<div class="page-content padding padding-top category-content">


		<div v-if="$route.params.id == 1">
			<p class="title">開戶條約</p>
			<h1>一、基本條款</h1><p>1.	為避免於本網站投注時之爭議，請會員務必於進入網站前詳閱本娛樂場所定之各項規則，客戶一經“我同意”進入本網站進行投注時，即被視為已接受本娛樂場的所有協議與規則。</p><p>2.	會員有責任確保自己的帳戶以及登入資料的保密性，以會員帳號及密碼進行的任何網上投注，將被視為有效。敬請不定時做密碼變更之動作。若帳號密碼被盜用，進行的投注，本公司一概不負賠償責任。</p><p>3.	本公司保留不定時更改本協定或遊戲規則或保密條例，更改之條款將從更改發生後指定之日起生效，並保留一切有爭議事項及最後的決策權。</p><p>4.	用戶需達到居住地國家法律規定之合法年齡方可使用線上娛樂場或網站。</p><p>5.	網上投注如未能成功提交，投注將被視為無效。</p><p>6.	凡玩家於出牌途中且尚無結果前自動或強制斷線時，並不影響比賽之結果。</p><p>7.	如遇發生不可抗拒之災害，駭客入侵，網絡問題造成數據丟失的情況，以本公司公告為最終方案。</p><p>8.	特此聲明，本公司將會對所有的電子交易進行記錄，如有任何爭議，本公司將會以注單記錄為準。</p><p>9.	本公司保留更改、修改現有條款或增加任何適當條款的權利，而條款改動後將會在會員端跑馬燈上公布。</p><p>10.	無論在任何情況下，本公司具有最終的解釋權。</p><p>11.	若經本公司發現會員以不正當手法&lt;利用外掛程式&gt;進行投注或以任何非正常方式進行的個人、團體投注有損公司利益之投注事情發生，本公司保留權利取消該類注單以及注單產生之紅利，並停用該會員帳號。</p><p>12.	無風險投注包括在百家樂同時投注的莊閑，單雙，大小。龍虎鬥中同時投注龍虎，龍雙龍單，虎雙虎單。在輪盤同時投注黑紅，單雙，大小等相反的下注，本公司保留權利取消所有優惠、該注單以及單註產生之紅利，並停用該會員帳號之權利，本公司不承擔對此做出任何說明及解釋之責任。<br>若本公司發現會員有重覆申請帳號行為時，保留取消、收回會員所有優惠紅利，以及優惠紅利所產生的盈利之權利。每位玩家、每一電子郵箱、每一電話號碼、每一收款銀行帳號，以及共享電腦環境(例如:網吧、其他公共用電腦等)只能夠擁有一個會員帳號，各項優惠只適用於每位客戶在本公司唯一的帳戶。<br>所有的優惠是特別為玩家而設，在玩家註冊信息有爭議時，為確保雙方利益、杜絕身份盜用行為，本公司保留權利要求客戶向我們提供充足有效的文件， 並以各種方式辨別客戶是否符合資格享有我們的任何優惠。<br>本公司是提供互聯網投注服務的機構。請會員在註冊前參考當地政府的法律，在博彩不被允許的地區，如有會員在本公司平台註冊、下注，為會員個人行為，本公司不負責、承擔任何相關責任。<br>無論是個人或是團體，如有任何威脅、濫用優惠的行為，本公司保留權利取消、收回由優惠產生的紅利，並保留權利追討最高50%手續費。<br>客戶一經註冊開戶，將被視為接受所有頒布在本公司網站上的規則與條例。</p><h1>二、真人娛樂條款</h1><p>1.	當您下注後，請等待顯示“您共下注XXXX元”，這個訊息在中間的訊息窗口可以看見。</p><p>2.	開牌後，若您已有下注，請確認您的輸贏金額，這個訊息在中間的訊息窗口可以看見。</p><p>3.	您的“總下注金額”及“贏得金額”亦會每局顯示於右上角的視窗中，請會員詳加確認。</p><p>4.	當會員在遊戲中途發生網路問題而斷線，所有已被確定的投注仍然有效。會員再重新登入時，就可以查詢遊戲端內的“下注記錄”查詢發牌結果，會員的額度也會隨著當局的輸贏增加或減少。</p><p>5.	如果您在訊息窗口看到“開牌”的話，而您的遊戲畫面未顯示投注金額，這代表該局您的投注不成功，這有可能下注的時間太遲或是因為網路問題而沒有被系統接受。</p><p>6.	百家樂遊戲在本網內設計為每手牌局前不銷牌。</p><p>7.	當會員進入遊戲，超過5局沒下注會有提示。若您連續10局未下注的時候將會被遊戲彈出至首頁，請會員重新登入。若會員於下注開牌期間強行登出，帳號將被系統鎖住三分鐘，請會員稍後再重新登入。</p><p>8.	本網上遊戲是在現場把牌通過掃描後將牌例顯示在會員端螢幕上，故若牌沒掃描到必將重新掃描一遍，若還是沒有感應則把牌翻開由現場公務輸入牌卡數碼，牌例便會顯示在會員端螢幕上。</p><p>9.	當荷官不小心同時從牌靴中抽出兩張牌，而掃描到的不是按順序正確的那張牌：<br>（a）若牌局已開牌，而結果不符，系統將根據現況決定牌的先後擺放順序之開牌結果進行手動開牌，並換上新牌靴開始新局。<br>（b）若牌局未開牌，則由現場公務決定牌的先後擺放順序，牌局會如常繼續。</p><p>10.	在洗牌或將牌放入牌靴過程中，有牌不慎曝光，荷官會把牌疊起並重新洗牌，牌局將重新開始。</p><p>11.	牌局進行中，未揚牌前(該張牌未於視訊顯示點數花色前)，牌不慎離開台面，牌丟落地上，或離開視訊範圍，則該牌局予以註銷作廢，所有下注本金退回。</p><p>12.	若該牌已經過掃描且已揚牌後，該牌不慎離開台面，牌丟落地上，或離開視訊範圍，因其不影響遊戲之正確結果，牌由現場工務擺回後，該牌局正常行其結果仍視為有效。</p><p>13.	派錯牌例（已不須補牌，荷官仍補牌）現場工務會把多補的那張牌放到牌靴底，牌局結果依視訊顯示為準，牌局將如常進行。若該張多補的牌已亮開，公務將在做完以上同樣程序後換上新牌靴，牌局會重新開始。</p><p>14.	荷官未依閑、莊發牌正確順序將牌放錯位置，由工務將牌依正確順序擺放回位置後牌局將照常繼續。</p><p>15.	開牌過程中，牌有感應但無顯示，荷官已亮牌（如:已派出數張牌，但第一張牌有感應但未顯示，至第二、三張牌顯示在錯誤的閑、莊位置上），現場工務會依牌的正確次序輸入代碼，牌局將如常繼續。</p><p>16.	同一張牌，掃描了一次出現2張（閑、莊位置各一張）<br>（a）若牌局已開牌，而結果不符，系統將根據視訊荷官完成該局之正確結果進行手動開牌，牌局也將在牌路無誤的情況下如常繼續。<br>（b）若牌局未開牌，荷官避開掃描如常開牌後，工務將輸入牌之正確數碼，並修正不符那張牌的花色、點數，牌局會如常繼續。</p><p>17.	電腦、掃描器出現異常、牌局中斷、牌無法掃描又無法輸入牌卡數碼時，該牌局便會作廢，所有程式將被關閉，並重開程式，牌局將重新開始。但若荷官發牌視訊已有結果，則以視訊開牌為主，會由系統完成開配。</p><p>18.	有關例行性維護、網路問題、視訊中斷、牌局作廢、註銷情況等事宜，皆可於會員端左上角處公告欄上得知最新訊息。</p><p>19.	發牌視訊僅保留三日，若有異議請於遊戲當日起三日內提出，三日後恕不受理。</p><p>20.	本娛樂場之視訊為真人直播，故該局遊戲若因國際線路傳輸問題出現爭議，將以視訊看到牌局結果決定輸贏。</p><p>21.	本娛樂場所提供之牌路僅供參考，若因國際線路問題或其他因素造成牌路顯示有誤，所有遊戲結果將以視訊開牌及遊戲記錄為主。</p><p>22.	本公司保留一切有爭議事項的修正及最後的決策。</p><p>23.	本娛樂場保留隨時更改、修訂或刪除遊戲、遊戲規則（包括機率及賠率）及協議條款的權利而無須做事先通知。</p><p>24.	本娛樂場保留隨時修訂、撤銷或中止任何投注的權利而無須做事先通知，亦無須做任何解釋。</p><p>25.	本娛樂場記錄每一項於本網站伺服器內執行的交易及投注功能。若會員認為向本娛樂場提供的資料與本網站資料庫中的資料記錄之間出現了任何聲稱的差異，一切均以本網站資料庫的資料為準。</p><p>26.	當會員已於本娛樂場之遊戲廳內下注，而電腦出現連線異常導致牌局中斷時，會員最後押住仍視為有效，本娛樂場將以會員於本網站資料庫的交易記錄為準。</p><p>27.	會員在本娛樂場之遊戲廳內任何遊戲的押注記錄均視為有效，會員需自行承擔下注後的風險。<br>若經本公司發現會員以不正當手法&lt;利用外掛程式&gt;進行投注或以任何非正常方式進行的個人、團體投注有損公司利益之投注事情發生，本公司保留取消該類注單之權利。</p><h1>三、彩票類遊戲</h1><p>1.	當您在下注之後，請等待顯示“下注成功”資訊。</p><p>2.	為了避免出現爭論，您必須在下注之後檢查“下注狀況”。</p><p>3.	任何的投訴必須在開彩之前提出，本公司不會受理任何開彩之後的投訴。</p><p>4.	所有投注項目，公布賠率時出現的任何打字錯誤或非故意人為失誤，本公司保留改正錯誤和按正確賠率結算投注的權力。</p><p>5.	開彩後的投注，將被視為“無效”。所有賠率將不時浮動，派彩時的賠率將以確認投注時之賠率為準。</p><p>6.	所有賽果以官方網站公布的結果為依據，若因官網延遲、錯誤或取消。本公司保留對已下注注單的裁決權。</p><p>7.	若發生兩顆球同時吸起，將依照在結果區之號碼球為主。</p><p>8.	在遊戲尚未完成開配之前，若因機器問題而導致有結果產生，該局將一律註銷。</p><p>9.	在下注時間尚未結束之前，若因任何因素導致有結果產生，該局將一律註銷。</p><p>10.	若該局己有結果但與實際結果不符，系統將根據視訊完成該局之正確結果進行手動開牌。</p><h1>四、電子遊藝</h1><p>1.	電子遊戲中獎畫面與派彩結果不符時，本公司將以資料庫最終結果為依據。</p><p>2.	彩池金額是以滿注中獎結果顯示，玩家中獎系以押注比例分配彩池金額。</p><p>3.	老虎機遊戲過程中如遇斷線情況將以資料庫最終結果為依據，本公司保留對已下注注單的裁決權。</p><p>4.	21點遊戲補牌中如遇玩家斷線，則視玩家為不補牌。遊戲結果將視為有效。</p>
		</div>

		<div v-if="$route.params.id == 2">
			<p class="title">如何註冊？</p>
			<p>打開本公司的網站後，點擊登錄區的註冊，如實填寫您的資料信息，確認送出後即可完成註冊。</p>
		</div>

		<div v-if="$route.params.id == 3">
			<p class="title">如何登錄會員中心？</p>
			<p>在選單底部點擊登錄，在登錄頁面輸入正確的帳號及密碼後，即可登錄。</p>
		</div>

		<div v-if="$route.params.id == 4">
			<p class="title">登錄時密碼提示錯誤，我該怎麽辦？</p>
			<p>首先請您再次確認輸入的密碼是否正確，必須是6-12個字符（由大小寫英文字母和數字組成）。若確認後仍提示錯誤，建議您通過自助流程找回密碼。或者，您也可以在線客服協助您找回密碼。</p>
		</div>

		<div v-if="$route.params.id == 5">
			<p class="title">我可以註冊多個帳號嗎？</p>
			<p>客戶不可以同時擁有多個帳號，如發現客戶擁有多個戶口，公司有權取消其戶口以及投注，本公司保留權利取消或關閉您的帳戶本公司有權限制客戶只保留其中一個戶口。</p>
		</div>

		<div v-if="$route.params.id == 6">
			<p class="title">我想刪除/註銷我的帳號可以嗎？</p>
			<p>本公司不會以任何理由註銷玩家帳號。您可在線客服申請停用帳號，以停止其帳號的使用。</p>
		</div>


		<div v-if="$route.params.id == 7">
			<p class="title">如何找回登錄密碼？</p>
			<p>若忘記登錄密碼，請點擊頁面頂部登錄區（或其他相關頁面）的“忘記密碼？”，然後根據頁面提示進行操作即可。<br>具體操作步驟如下：<br>(1)輸入您要找回登錄密碼的手機號／郵箱地址。<br>(2)根據頁面提示，選擇其中一種找回方式。<br>(3)核實身份後，重新設置新的登錄密碼。<br>(4)登錄密碼修改成功。</p>
		</div>




		<div v-if="$route.params.id == 11">
			<p class="title">有哪些存款途徑？</p>
			<p>公司目前提供二種方式入款，1.網路銀行ATM。2.超商付款，請您點擊線上存款選擇其中一種方式入款，謝謝！</p>
		</div>

		<div v-if="$route.params.id == 12">
			<p class="title">存款未到帳如何處理？</p>
			<p>由於跨行匯款的到帳時間是取決銀行方面辦理速度，一般都是有1-8小時的到帳時間，請您耐心等待。如果已成功匯款，可能是由於第三方支付公司還沒有收到您的款項，請麻煩發送發票的掃描件或是清晰照片（如果是網銀匯款請發送匯款明細的截圖）給我們，我們會馬上為您提交到第三方支付公司進行查詢。</p>
		</div>

		<div v-if="$route.params.id == 13">
			<p class="title">存款是否需要繳納手續費或其他費用？</p>
			<p>本公司接收線上網路銀行ATM。超商付款等方式。當您通過網銀、ATM、超商付款方式存款成功後，存款手續金額由本公司承擔，讓您存款無憂。使用櫃台存款的客戶選擇收款方支付將不享受存款手續費回饋。</p>
		</div>

		<div v-if="$route.params.id == 14">
			<p class="title">為什麼在線支付成功後額度沒有立即增加？</p>
			<p>這是因為在線支付系統需要經過密碼鎖切換及內部驗證程序，而這也是我們的保安程序之一，所以請您不必擔心，款項一定不會丟失。如果您在線支付超過30分鐘後仍然還未收到您的款項，請與我們客服聯繫處理。</p>
		</div>






		<div v-if="$route.params.id == 21">
			<p class="title">提款流程</p>
			<p>當您在成功存款並進行遊戲後，即可進行提款操作（需滿足最低提款金額要求）。您只需根據以下提示，按下列步驟操作即可開通帳戶：<br>1) 登錄（或已處於登錄狀態），在會員中心點擊 “提款專區”項。<br>2) 進入“提款”頁面。注意！因確保您的帳戶安全，第一次進行提款操作時，需先設置提款密碼唷！請務必牢記您的提款密碼，請勿將您的密碼提供給其他人。<br>3) 接下來，您可以開始添加銀行卡。完成銀行帳號添加以後，才能夠進行提款操作。此銀行帳號的開戶名必須與您帳號所填真實姓名一致，否則提款可能會失敗。您所填寫的銀行帳號不需要開通網銀亦可提款。</p>
		</div>

		<div v-if="$route.params.id == 22">
			<p class="title">提款限額是多少？</p>
			<p>單筆提款最低金額1000元，最高100萬，每日提款上限100萬。</p>
		</div>
		<div v-if="$route.params.id == 23">
			<p class="title">提款什麽時候可以到帳？</p>
			<p>取款申請審核通過後，一般會在數分鐘內為您進行線下轉帳。若逾時仍未收到款項，則可能是取款銀行帳號數據有誤或銀行帳號小額管理費未繳等問題所造成的。財務人員在無法出款時都會及時進行通知，若玩家未填寫有效的聯絡方式也會造成財務無法聯繫的情況發生，請您務必填寫正確有效的聯繫信息。同時，您也可隨時聯繫在線客服了解進度。</p>
		</div>

		<div v-if="$route.params.id == 24">
			<p class="title">可否提款到其他人的銀行帳戶？</p>
			<p>銀行帳戶持有人姓名必須與本公司註冊帳號的姓名一致，否則無法申請提款。</p>
		</div>

		<div v-if="$route.params.id == 25">
			<p class="title">提款是否需要繳納手續費或其他費用？</p>
			<p>依會員等級收取手續費，不足50元以50計算。</p>
		</div>

		<div v-if="$route.params.id == 26">
			<p class="title">當我在真人遊戲贏了錢，我該如何提款？</p>
			<p>將錢從遊戲平台轉入主錢包後，請您點擊“提款專區”輸入您的取款密碼，再按要求填寫您要提取的金額，然後再點擊確定，成功遞交取款信息後，財務部將在數分鐘內為您辦理出款。</p>
		</div>

		<div v-if="$route.params.id == 27">
			<p class="title">可以取消提款申請嗎？</p>
			<p>提交申請未審核之前，若您想取消，請及時聯繫在線客服處理。</p>
		</div>

		<div v-if="$route.params.id == 28">
			<p class="title">提款申請為什麼會不通過？</p>
			<p>防止部分玩家利用本公司進行洗錢等非法資金操作，為避免部分玩家以套利為目的參與活動，我司對於所有的提款均會進行審核，申請不通過的主要因素考慮如下：<br>1、判斷有效投注額是否達到存款，優惠的流水要求。（各遊戲和局/未接受/取消注單，不納入有效投注計算。）<br>2、取款信息是否符合取款者信息。<br>3、投注是否異常，存在惡意刷流水套利行為。<br>4、同一用戶多帳戶行為。</p>
		</div>




		<div v-if="$route.params.id == 31">
			<p class="title">什麽是轉帳？</p>
			<p>轉帳功能是指從主帳戶或某個平台向其餘平台進行轉帳，或反之.</p>
		</div>
		<div v-if="$route.params.id == 32">
			<p class="title">為什麼遊戲前要先進行轉帳？</p>
			<p>為了您更好，更順利的體驗遊戲，我們會提示您在進入遊戲前進行轉帳，避免進入遊戲之後需要登出遊戲來進行轉帳的反覆操作。同時，您可任意將額度轉至多個遊戲帳戶中，體驗不同遊戲的歡樂與刺激！.</p>
		</div>

		<div v-if="$route.params.id == 33">
			<p class="title">遊戲和遊戲之間可以互相轉帳嗎？</p>
			<p>本公司支持遊戲與遊戲之間進行直接轉帳！若您需要將B遊戲的帳戶金額轉至C遊戲時，直接選擇轉出平台為B遊戲，轉入平台為C遊戲，即可向C遊戲進行轉帳。.</p>
		</div>

		<div v-if="$route.params.id == 34">
			<p class="title">為什麼向遊戲轉帳會失敗？</p>
			<p>向遊戲轉帳失敗可能存在以下幾種原因：<br>(1)第三方遊戲數據異常或正在升級維護中。<br>(2)數據對接異常，暫時無法進行資金操作。<br>(3)網絡連接異常，導致訂單超時。<br>轉帳失敗時，建議您重新發起請求，或稍等片刻後再進行操作！.</p>
		</div>




		<div v-if="$route.params.id == 41">
			<p class="title">我進行遊戲有安全保障嗎？</p>
			<p>本公司運用不同種類的安全技術，為廣大玩家建立一個安全、穩定且極具隱私的遊戲環境。<br>(1)物理安全<br>我們的服務器放置在高度安全性的特定場所，進出的工作人員必須全部通過安全檢查。<br>(2)安全保護<br>我們的服務器通過防火牆系統被保護。<br>(3)數據完整性<br>玩家通過瀏覽器與我們的服務器之間進行的所有通信是被嚴格加密的。.</p>
		</div>

		<div v-if="$route.params.id == 42">
			<p class="title">隱私保護規則</p>
			<p>本公司非常尊重客戶提供給我們的個人隱私信息。我們將盡全力保護客戶個人資料的私密性，讓客戶無後顧之憂。</p><h1>簡介</h1><p>本網站服務皆有相關法律約束與監管。為了讓客戶在這能享受到安全愉悅的服務體驗，我們徵求客戶仔細閱讀此“隱私權保護規則條款”，因為這將涉及到我們使用您個人資料的相關事項。對待客戶的個人隱私本公司本著非常嚴謹的態度。</p><p>為了讓客戶享受進一步服務，有時我們可能需要求客戶提供個人資料。本政策將會涵蓋客戶提供給我們的個人資料的使用事項，同時也涉及相關信息記錄程序的內容。</p><p>有時，客戶接受進一步服務前我們可能需要客戶提供個人資料（如，姓名，通信地址，郵箱地址，會員編號，電話或手機號碼，出生日期或支付信息），任何情況下，我們都將對照此政策來處理您的個人資料。在使用您的個人資料時我們將適用現行的法律條款，並竭力采取最佳最穩妥的方式處理。</p><p>同時，我們也將監控您在本網站的活動內容，可能包括您的訪問量，訪問頁面，網絡服務的原始域名等，這將有助於我們建立客戶個人檔資料。其中部分數據將被聚合統計，這意味著我們將不能對其單獨進行檢驗。</p><h1>我們收集的內容及其目的</h1><p>閣下在平台開戶時，我們將要求您提供某些個人資料，如：姓名，通信地址，郵箱地址，密碼及確認您是否已年滿18周歲（本公司只接收達到法定年齡18周歲或以上的客戶）。我們可能需使用您的個人資料用來確認您的各種金融交易，定期發送公司實時簡訊，提供客服支持及完善全面的博彩服務給您。如果您想中止接收公司實時簡訊，您可根據提示在簡訊接收選項做出相關選擇。另須注意，你註冊的姓名必須是您本人姓名，你所註冊的資料為真實有效資料，因為這將用於隨後的交易驗證及前述的其它用途。</p><p>會員可在下載軟件選擇帳戶選項更改您的帳戶信息。</p><h1>訪問信息</h1><p>在閣下訪問我們網站頁面的過程中，將會有個小的文本夾“信息記錄程序”儲存在您的電腦。很多網站都有類似設置，因為此設置對網站發行商是非常有用的，譬如可以記錄該電腦（或用戶）是否曾瀏覽過此網站。</p><p>本公司將會對客戶“信息記錄程序”及IP地址進行儲存記錄，這些資料將有助於我們完善和提高我們的服務，並有助於我們分析客戶的完整信息。這類資料並不是用於客戶個人資料的建檔，因此將被定期清除。</p><h1>機密性</h1><p>本公司將盡全力保護客戶提供給我們的個人資料，不會蓄意將該資料泄漏給外人，除非此政策條款裏有明文規定。</p><p>所有本公司員工都被要求遵循該政策條款。員工有義務嚴密的保守客戶的個人資料，即使員工離開公司後仍須堅守此義務。</p><p>閣下本人也須保護好您的個人資料。閣下應嚴守您的帳戶密碼，我們建議您不要將此透露給其他人。</p><h1>客戶個人資料的使用和儲存</h1><p>當閣下提供任何個人資料給本公司，我們對您負有關於如何使用您個人資料的法定義務，我們須有正當理由才可徵集您的資料（關於為何徵集客戶個人資料，我們特定頁面已有說明），告知徵集您資料的用途以及如有必要將其傳給其他任何人，我們將會通知您本人。</p><p>我們使用客戶個人資料的用途包括：</p><p>用於確認您的身份以及您的帳戶</p><p>行政服務</p><p>統計分析</p><p>市場推銷——見下面“市場推銷及退訂設置”</p><p>詐欺預防及監測</p><p>通知您可能將影響到您的我們網站或服務的任何更改</p><p>安全審核</p><p>服務完善</p><p>正如下所列，如果我們因其它用途需用到您的個人資料，我們將會提前通知您。另外，您也可選擇不同意以上做法。</p><p>我們可能因以下原因聯繫您</p><p>關於您申請的任何服務功能，我們將來信確認</p><p>您選擇接收更多的公司信函</p><p>邀請您參加關於我們服務的調查活動（自願加入）</p><p>出於市場推銷目的，並且您已特別認同（見下面）</p><p>我們將一直嚴守客戶個人資料不被外泄，除非有法定要求（如。政府部門及執法機構要求，或網站上帶有攻擊性或不妥的內容）或關系到我們的業務合作夥伴。一般情況我們只在公司內部使用客戶的個人資料。然而，有時我們可能需借助第三方來處理客戶的信息（如，網站主機或維護服務的提供商），我們將會要求第三方嚴格遵守我們的約定，要求他們將不得將客戶個人資料用於他們的商業用途。</p><p>正如後面所述，我們可能出於市場推銷目的將客戶的個人資料傳給我們的業務夥伴。</p><p>另外，如果客戶違反相關法例，我們相信我們有理由將您的個人資料傳給相關的第三方，如。您的雇主，教育機構或執法機構，上報您的相關信息與行為。</p><p>在客戶所申請使用我們服務這段期間，我們將一直保存您的個人資料於後台系統，直到申請期滿或客戶想註銷會員帳戶，我們將把您的個人資料作刪除處理。取決於數據保護立法與監管要求。出於安全原因，如果客戶使用我們網站服務滿一年，我們將會保存其信息記錄檔（包括信息內容，會員姓名，時間和日期）。另外，如果客戶並未註冊為我們的會員，但參加了公司的其它服務（如。競賽活動），其個人資料將保存到該服務順利完成。</p><p>我們將確保所有客戶個人資料將會根據2002年數據信息保護法例（Tynwald法例）嚴密保存。</p><h1>客戶數據信息保護</h1><p>我們將使用高科技系統管理和保護客戶個人資料數據，</p><p>只有使用客戶獨一無二的用戶名和密碼才可進入該客戶帳戶</p><p>客戶信息數據儲存在安控服務器內</p><p>我們將盡全力保護客戶個人資料數據的安全，但客戶須認同目前網絡並非百分百安全，因此，我們並不能保證客戶發送信息給我們的網絡傳輸過程的安全和完整性，也不擔保我們發送給客戶網絡傳輸過程的安全和完整性。</p><h1>保密限制</h1><p>在某些情況下出於安全，立法和規章條例要求，本公司不得不透漏客戶個人資料。本公司將盡全力保護客戶個人資料，除非發生以下情況：</p><p>出於擔保，傳審或其它法規要求，本公司才透露客戶信息。</p><p>出於正當理由行使公司權利，需要對某客戶或實體進行確認，聯繫或采取法定措施。</p><p>另外，如果涉及詐欺，知識產權侵犯，權利侵犯，或其它非法行為可能導致責任牽連的行為調查，我們相信我們有必要和理由透露客戶的信息(如。姓名，居住地址，城市，郵編，國家，電話號碼，郵箱地址和公司)給本公司第三方代理。</p><h1>客戶信息的接收者</h1><p>除了上述法定要求說明，我們還可能將您的個人資料透露給我們的工作人員，其他相關公司的工作人員或本公司的合作夥伴和為本公司客戶提供相關服務給我們的第三方網絡服務供應商（包含但不局限於安全，信用和風險審核機構）。第三方網絡服務供應商可以檢查我們提供在公共數據庫或私人數據庫的任何詳細資料及有機會獲得和保留檢查記錄。</p><p>我們同樣可以通過第三方網絡服務供應商得到您的個人資料。如果您提供您的個人資料給我們或我們從第三方網絡服務供應商中收到您的個人資料，代表您已經同意我們可以處理、使用、記錄和透露您的個人資料。我們保留權利，根據您或第三方網絡服務供應商提供的信息，在任何時候凍結或關閉您的本平台會員帳戶。</p><h1>監控</h1><p>出於服務品質，防止詐騙和法規遵循方面的原因，我們將對客戶的通信記錄進行保存和監控（如電話和郵件記錄）。</p><p>市場推銷及帳戶移除設置</p><p>出於市場推銷目的，我們可能將客戶的個人資料透露給我們的業務夥伴公司，他們能就相關產品，服務，促銷及特殊優惠活動，通過信函，電話，SMS信息，傳真，郵件或其它通訊方式聯繫到您，除非您提出要求制止此行為。</p><p>如果客戶不願再接收任何關於本公司的市場推銷相關宣傳信息，您可隨時選擇移除帳戶設置。詳細請見前面“客戶個人資料的查看以及客戶的權利”。</p><h1>信息記錄程序</h1><p>客戶訪問本公司網站時，我們可能將發送給您一個臨時的信息記錄檔。此記錄檔是我們網站服務器存放在您電腦信息記錄文件的一系列文本標題記錄，以便下次您再次訪問我們網站時我們系統可以辨認出您。我們可以將其產生的數據編制成客戶訪問統計數據。您並非有義務接收我們的信息記錄文件，您也可選擇不接收，可以通過設置您的瀏覽器完成。</p><h1>隱私權保護規則的認同</h1><p>一旦閣下在平台註冊開戶就代表您認同此隱私權保護規則條款。我們將定期更新此政策條款，因此我們建議客戶您也定期進行查閱。如果我們對該政策有所更改，我們將在相關網頁上發布消息。政策更改後，客戶持續使用本公司網站將被視為客戶認同該政策的更改。如果客戶不接收此政策的更改，您可以選擇停用我們的網站服務。如果該政策條款與其它局部特殊條款產生分歧，將適用局部特殊條款。</p></p>
		</div>

		<div v-if="$route.params.id == 43">
			<p class="title">投注規則與規定</p>
			<p>某些賽事和賭盤有不同的規則，下述內容為適用於所有賽事和賭盤/投注類型的一般規則，必須完全遵守。在適用的情況下，本公司網站公布的“條款和條件”中所列規定與定義應當適用於本“投注規則與規定”。</p><h1>一般投注規則與規定</h1><p>※本公司的所有投注信息都是出於誠意提供的。 不過，本公司不對有關日期、時間、地點、競爭對手、賠率、結果、統計數據、團隊制服（顯示在實時比分中）或其它投注信息的任何錯誤或遺漏負責。本公司保留糾正任何明顯錯誤的權利，並且應當采取所有合理行動確保以誠信透明的方式管理賭盤，賭盤定義為針對某一體育賽事所提供的不同的投注類型。公司保留做出最終性決定的權利。</p><p>※如果盤口結果不能確定為官方結果，本公司有權延遲結算直至官方結果確定。</p><p>※如果盤口結果在公布前已被公眾知曉結果，本公司有權宣布投注無效。</p><p>※如有任何明顯的比分顯示錯誤，或者價格計算錯誤本公司有權宣布投注無效,包括如賠率高出盤口平均值的100%的顯示錯誤。</p><p>※如盤口關盤，比賽正常進行， 所有盤口以最終結果進行結算。如果盤口結果不為官方結果，本公司有權宣布賽果無效。</p><p>※如結算錯誤，本公司有權在任何時間進行更正。</p><p>※如違反一般體育規則，本公司有權宣布投注無效（如不正常的比賽時間長度，計分方式以及比賽形式等）。</p><p>※任何與我們提供的比賽信息規則或形式不同，我們有權宣布投注無效。</p><p>※就未完成比賽或未能如期舉行比賽（如取消資格，中斷，退出比分更改等）所有未決定的比賽將視為無效。</p><p>※如果網站對賽事所用的英語和非英語名稱之間有任何差異，以英語版本為準。</p><p>※在任何時候，客戶有責任了解比賽分數和所有相關的比賽信息，並且建議客戶在下注之前確認比賽狀況。</p><p>※本公司有權在任何時候出於任何原因修改這些規則。一旦在網站上發布，任何此類修改都是具有約束性和立即生效的。</p><p>※客戶承認網站上提供的當前分數、所用時間及其它數據雖然是由第三方以“直播”形式提供，但仍會有時間延遲以及/或者可能不準確的情況，並且根據這些資料做任何投注時，客戶應自行承擔所有風險。本公司提供這些數據時，不保證其準確性、完整性或及時性，並且不對客戶因依賴這些數據而遭受的任何損失（直接或間接損失）負責。</p></p>
		</div>

		<div v-if="$route.params.id == 44">
			<p class="title">博彩責任</p>
			<p><h1>1.1     理性博彩</h1><p>我們以提供最佳在線博彩，並為此提供竭誠的服務，傾全力為顧客營造一個良好的網上娛樂環境並且衷心希望顧客能在這裏獲得最佳娛樂體驗。<br>作為有聲譽有責任感的博彩公司，我們希望閣下您在盡情享受網站服務的同時調整好您的心態。<br>為了協助您進行理性博彩，我們確保工作人員接受理性博彩意識的培訓。如需更多信息或協助請聯繫客戶服務部。<p><h1>1.2     未滿博彩年齡</h1><p>未滿18歲的人士進行博彩屬非法行為，本公司會在此方面絕對嚴格執行。我們會對客戶進行年齡驗證，並可能要求其上交補充檔。對任何未滿18歲人士使用此網站所獲得的彩金，一旦發現，將被沒收並上報有關部門處理。閣下必須超過18歲（或在閣下居住的管轄範圍內不被視為未成年人）才可進入此網站。任何未滿18歲的人不得在我們網站開戶和投注，本公司以嚴謹的態度看待和處理此問題。<br>以下是為預防未成年人訪問在線遊戲網站的一些參考網站：<br>www.gamblock.com<br>www.safekids.com<br>www.netnanny.com<br>www.surfcontrol.com<p><h1>1.3     不適用人群</h1><p>1.3.1     年齡在18周歲以下。<br>1.3.2     在所屬司法中，低於其合法年齡。<br>1.3.3     當地司法規定，訪問我們網站屬不合法行為。本公司無法辨認客戶行為在當地司法是否屬合法，客戶本人<br>責任自行甄別。<br>1.3.4     本公司員工與本公司員工親屬（"親屬"指配偶，伴侶，父母，子女或兄弟姐妹），或在離職6個月期限內的任何本公司相關前雇員，前雇員親屬。（包括任何與本公司關聯的）<p><h1>1.4     賭博問題防護</h1><p>我們強烈建議閣下定期審視您的博彩行為，檢驗自己是否投入過度。如果您感到可能會有博彩方面的問題，請首先回答以下問題：<br>1)     有否曾因賭博而耽誤工作時間？<br>2)     有無人曾經批評過您進行賭博？<br>3)     賭博有否令您的生活不愉快？<br>4)     賭博有否影響您的聲望？<br>5)     賭博之後，您是否感到自責？<br>6)     閣下有否曾經用賭博所贏得的錢來還債，或者解決財政因難？<br>7)     賭博有否導致您的抱負及效率減低？<br>8)     輸錢後，您是否感覺您必須一定要盡快回來賺回您所失去的？<br>9)     贏錢後，您是否有一種強烈的欲望，回來贏得更多？<br>10)     是否時常賭博至分文都用盡？<br>11)     您是否借錢，作賭博之用？<br>12)     您是否出賣任何對象，作賭博之用？<br>13)     您是否不願意用 "賭本" 來付正常的開支？<br>14)     您是否很不情願將賭博用的錢使用在其他地方？<br>15)     賭博是否令您疏忽您自己及您家人的健康快樂？<br>16)     您是或否獨自一人長時間賭博？<br>17)     您是否花比預計更多的時間在賭博上？<br>18)     您是否曾經因為試圖掩飾您在賭博方面花費的時間和金錢而撒謊？<br>19)     您是否以賭博來逃避憂慮及困難？<br>20)     您是否犯罪或考慮犯罪，為賭博籌備資金？<br>21)     賭博有否令您有睡眠的困難？<br>22)     圍繞您的爭執、失望或挫敗有否造成賭博的推動力？<br>23)     您是否為數小時的賭博而有沖動去慶祝好運？<br>24)     您是否因賭博的結果而自毀或自殺？<br>若您對至少7個以上的問題的回答是“是”，您可能在博彩上存在風險，請尋求家庭支持和專業網站進行咨詢。</p></p>
		</div>

		<div v-if="$route.params.id == 45">
			<p class="title">規則與條款</p>
			<p>以下內容為客戶訪問和使用本公司網站服務的規則與條款，在進行遊戲和體驗前，請您仔細閱讀以下內容。如果您並不接受我們的服務協議，請您切勿在本公司進行註冊或者遊戲，如果您同意我們的協議，我們將為您提供更好的遊戲體驗與服務。</p><p>當閣下在註冊帳戶時點擊下面的"提交"以及使用下面指定的軟件時，就表明閣下同意該協議內列明的規則條款，隱私權保護規則，及其它相關博彩和網站定期更新的促銷規則條款等。並且承諾一旦違背此協議將會對閣下產生如下後果（會員資格被剝奪、帳戶凍結、資金沒收或其它相關的法律訴訟）。詳細信息已在下面列明。</p><p>一旦使用本公司提供的服務，代表閣下認同本公司相關的條款與規則，將立即產生相應的法律效力。如果閣下不認同本公司相關的條款與規則，請勿訪問，和使用我們的網站及軟件。</p><p>本公司將會定期更新相關的規則條款，因此請閣下定期留意查看。規則條款更新後，您仍繼續使用我們網站服務代表閣下認同此條款。如果閣下不認同條款的更新，請停用我們的網站服務。如果該條款與其它局部特殊條款產生分歧，將適用後者。</p><p>閣下同意在享用本公司網站服務時遵紀守法，不侵犯他人權限，或不幹擾或影響他人的娛樂體驗。我們不允許任何形式的騷擾，傳播淫穢/帶攻擊性內容，幹擾本公司日常溝通流程，或對他人造成不良影響的行為。</p><h1>術語定義</h1><p>"遊戲"指網站上提供的網上娛樂系統。</p><p>"體育博彩"包括"娛樂場","撲克";以及所有其它相關的服務和在線娛樂活動。</p><p>"設備"指所有應用設備，包括所有應用於進入網上服務的設備但不局限於個人電腦、筆記本、手機、個人電子設備、PDA電話等等。</p><p>"信息"指網站提供的信息，包括但不局限於賽果，統計數字，體育數據，賠率等等。</p><p>"軟件"指所有電腦程序，數據文件或其他任何要求安裝在您的設備上，以便於您的設備通過網絡訪問網站和參與服務時使用。</p><p>"服務"指軟件和遊戲。</p><h1>注意事項</h1><p>請注意，我們網站的遊戲和軟件不適宜以下人群：</p><p>18周歲以下。</p><p>在所在地或所屬司法中，低於合法年齡人群。</p><p>當地法律法規規定訪問本公司為不合法行為者。本公司無法辨別客戶行為在當地司法中是否合法，客戶本人應有責任遵守。</p><p>本公司員工與本公司員工親屬，或者離職6個月期限內的任何本公司相關雇員以及其相關親屬。</p><p>本公司官方對所提供信息是否正確、完整、更新不承擔責任（比如，網站所提供的賽果）。本公司對走地投注中的實時賽果、統計數據及中場賽果的準確度不承擔責任。</p><p>為防止不符合法定年齡的人群使用我們的服務，本公司保留隨時要求客戶提供年齡憑證的權利。如果閣下未達上我們的年齡標準或我們懷疑閣下低於我們的年齡標準，我們有權利長期/短期暫停/取消閣下帳戶，制止閣下參與我們的服務。</p><p>軟件的編碼，組織結構屬我司版權，商業機密，知識產權及其它權利。您不得：</p><p>覆制，發行，出版，反向工程，反向編譯，反匯編，修改，或翻譯該軟件或試圖獲取原始碼制作衍生文件</p><p>對軟件進行銷售，派發，再授權，轉讓，分發或出租</p><p>通過互聯網或其它方式將軟件提供給第三方</p><p>未征得本公司書面許可，通過電子傳輸或其它方式將軟件出口給任何國家。</p><p>軟件使用方式違法或違規</p><p>（以上任一條都屬"非法使用"）</p><p>如因任何非法使用而導致的損失，費用或相關的傭金費用都由行為人自行承擔。如閣下知曉任何人非法使用我們軟件獲取傭金，請及時上報給本公司，並請協助我司就您提供的相關信息而展開的調查。</p><p>本公司定期使用的標符"本公司和其他商標，服務標志和或商用名字歸屬於本公司或其組織成員和或其執照頒發者，因此商標的所有權歸屬於本公司組織。另外，本公司網站上的其它內容，包括，軟件，圖像，圖片，圖表，照片，動畫，視頻，音樂，聲像文本等等都歸屬於本公司或其成員和或執照頒發者，這些物件信息都屬公司版權等知識產權，受法律保護不得侵犯。閣下必須認同您可以使用我們的網站和服務，而並非代表對此任何部分擁有權利，在任何情況下，未經本公司書面許可或本公司知識產權相關保護法例的認可，您不得使用或侵犯我們網站上的內容。</p><h1>修訂和修改</h1><p>客戶完全理解並接受本公司對此協議進行的任何修改。本公司可能在任何時候對此協議進行修改並會公布在會員進入的相關網頁上。如果本公司對此協議進行較大的修改，我們會通過合適的方式通知您（比如在網站顯眼位置發布修改信息，並會把修改內容貼上去）。閣下有責任經常檢查相關條款與政策以確認您接受其內容，如果閣下繼續使用本網站將被視為您接受相關條款與政策的修改。</p><p>所有在協議條款修改前的投注將適用於修改前的協議條款。所有在協議條款修改後的投注將適用新的協議條款。如果閣下不能接受相關修改，您只可通過終止協議來解決。</p><p>一般條款的應用—您的聲明和保證</p><p>關於條款的應用是指您承諾不會因非法目的進入或使用我們網站的服務，軟件和信息，您也需確保您的行為不會違反您當地的法律或不會違反您與本公司間的協議。特別是（協議裏所有其它附加聲明和保證）您需確保您將履行以下協議。</p><p>閣下不是法律限制行為能力的個體;</p><p>閣下的法定行為只能代表您個人，而不能代表其他人或其他公司;</p><p>閣下認同您參與我們的服務純屬自願，須自行承擔風險。</p><p>閣下並非嗜賭成性的人;</p><p>閣下已年滿18歲，您的行為在您當地法律上是屬合法的;</p><p>閣下不是本公司員工，或您不是本公司員工親屬;</p><p>閣下是本公司員工（任何本公司員工親屬），或前雇員（任何前雇員親屬），需已離職超過6個月。</p><p>閣下認同在使用我們服務時須提供給我們某些個人資料進行確認（包括關於支付方式的具體信息）。我們將遵循我們的隱私政策對您提供的信息進行管理和控制。</p><p>閣下須自行承擔由博彩贏利產生的相關稅收。</p><p>閣下使用我們網站只能出於個人用途。閣下只可出於個人娛樂而進行博彩投注。</p><p>您並非以下地區的居民：澳大利亞,比利時，塞浦路斯，丹麥包括格陵蘭和法羅群島，德國，希臘，香港，澳門，以色列，荷蘭，菲律賓，新加坡，南非，西班牙，瑞士，台灣，土耳其，美國，意大利和法國，包含瓜德羅普島，留尼汪島，馬提尼克島，法屬圭亞那，法屬波利尼西亞，馬約特島，新喀裏多尼亞，聖巴泰勒米，聖馬丁島，聖皮埃爾，密克隆群島瓦利斯和富圖納群島.</p><p>閣下認同並能承擔因使用此服務而導致的虧損風險，本公司對其損失不承擔任何風險;</p><p>閣下的存款不是來自非法或犯罪的活動;</p><p>閣下不得通過使用本公司帳戶從事非法活動，或允許他人使用您的帳戶從事任何違背您當地和我們法律的活動;</p><p>閣下承諾妥善保管好您的帳戶和密碼不允許其他人使用。如果您丟失或忘記您的帳戶或密碼，您須及時聯繫我們客服部門，我們將發送給您新的安全資料。</p><p>閣下有責任確保自己的帳戶及登入資料的保密性，以使用者名稱及密碼進行的任何網上博彩將被視為有效;</p><p>閣下在使用我們的服務，網站，設備，軟件或相關信息時，您不得以任何方式妨礙其他會員享用我們提供的服務;</p><p>閣下不得以任何方式竊取其他會員的任何相關信息;</p><p>閣下不得上載或發布任何帶有病毒的程序、文件或數據，影響我們網站設備、軟件、服務等運作性能;</p><p>閣下不可試圖以任何形式修改，反向編譯，反向工程或反匯編我們的軟件。</p><p>閣下不得使用任何設備，自動設備，軟件，程序或其它方法（類似於前述的）妨礙或試圖幹預我們網站提供的服務，設備，軟件，網址，信息或任何交易的正常運     作 , 人工智能使用包括沒有局限的外掛系統是嚴格禁止連接服務器.所有的客戶服務操作必須是玩家通過使用我們的程序界面進行;</p><p>閣下不得在我們網站或設備上或對其他用戶發布任何關於騷擾、侮辱、誹謗、威脅、淫穢、及煽動種族不滿的相關非法信息，或者任何構成或慫恿犯罪行為，或引起     民事責任事件等等相關違法信息;</p><p>閣下不得主動發起或參與針對本公司展開的調查，競猜，或大量發布連鎖信件/垃圾郵件，兜售郵件等活動;</p><p>閣下不可以同時擁有多個帳號，如發現客戶擁有多個戶口，公司有權取消其戶口以及投注 ,本公司保留權利取消或關閉您的帳戶。本公司有權限制客戶只保留其中一個戶口;</p><p>閣下認同以上總條款的適用，並認同如果客戶行為帶有任何嫌疑或違規現象，本公司有權未經事先通知或解釋上報給相關同盟協會或當地官方。</p><h1>帳戶註冊</h1><p>欲註冊本公司帳戶成為我們會員，您須填寫完整的網站上相關開戶申請表格。</p><p>閣下認同在使用我們服務時須提供給我們某些個人資料進行確認（包括關於支付方式的具體信息）。我們將遵循我們的隱私政策對您提供的信息進行管理和控制。</p><p>閣下須確保您提供真實、完整、最新的信息。閣下的帳戶姓名必須真實合法且和身份證上一致，您也須確保帳戶姓名與信用證上的姓名或其它用於存提款的帳戶姓名一致。如果您的個人資料有所變化，您須立即通知我們。為了確認客戶的姓名和地址，本公司有權通過信函或郵件等方式聯繫客戶。</p><p>本司有權未經同意拒絕客戶的註冊，並有權不予以解釋。如發現客戶帳戶註冊信息出現不正確，誤導或不完整的情況，本司有權關閉此帳戶，返還該帳戶存款資金，並且所有投注一律取消。</p><h1>投注接受條件</h1><p>所有在本公司網站的投注都要符合相關遊戲規則以及本協議。</p><p>公布賠率時出現的任何打字錯誤或非故意人為失誤，對此產生的後果本公司不承擔責任，本公司有權取消相關投注。</p><p>任何情況下，本公司有權拒絕任何投注而不給予解釋說明。</p><p>只有通過本公司網站或設備的符合條款與協議的注單被視為有效。無論結果如何，任何以其它形式的投注（通過信函、</p><p>郵件、傳真或其它方式）將不被接受或視為無效。客戶的用戶名和密碼一致，帳戶余額足夠，投注確認的注單才是有效的</p><p>投注，而且投注後收到確認信息的注單才被視為有效。注單從屏幕出現確認信息時即開始生效。</p><p>所有注單符合以下條件都視為有效：用戶名和密碼輸入正確，帳戶余額充足。</p><p>客戶須對所有經由其帳戶所產生的交易和行為承擔責任，無論該交易是否由客戶本人作出。</p><p>如果閣下的投注信息正確，閣下是唯一對此投注承擔責任的人。一旦本司確認您的注單，該注單不得取消，撤回或更，並且該注單會視為您投注的有效證據。</p><p>所有本公司錄入的投注記錄將被存入本公司交易數據庫，並作為任何時間任何交易的有效依據。</p><p>所有在本公司客戶帳戶交易記錄顯示確認信息的注單，本司都視為有效注單。</p><p>除滾球投注外,所有投注在比賽開始後的注單本公司有權取消投注。</p><p>所有投注時賽事結果已知曉的注單都視為無效注單。本公司有權取消此類注單。</p><p>網站上顯示的賽事訊息（賽事開始時間，紅牌，比分或其它相關信息）僅供參考。</p><p>賽事結果均在賽事結束後確認，除非在相關體育或賽事規則另有說明。賽果公布72小時後，若對任何賽果有爭議，澳銀河將不認可。在賽果公布72小時內, 本公司只修正人為失誤或錯誤的賽果。</p><p>如果賽事地點改變，所有在原地點下注的注單一律取消，中立場賽事除外。</p><p>比賽輸贏將依照相關規則在賽事結束後確認。</p><p>本公司不認可賽事中斷的比賽，及對賽事具有爭議的提議。</p><p>如果在過關項目中出現無效選項，此注單將會按余下的有效選項調整結算。</p><p>客戶獲知並接受所有賠率及盤口都是不斷變化的，只有在投注瞬間才會確定。</p><p>如因人為操作錯誤或系統故障導致賠率或盤口錯誤,所有發生在這種情況下的注單本公司將保留取消的權力,相關的過關選項亦視為無效選項。</p><p>在遇到任何系統技術故障時，如當時無法恢覆正常交易，本公司有權手動確認滾球危險球投注。屆時帳戶余額將予調整，以反應該會員當時的投注。</p><p>多次同時投注同一賽事的注單將不被認可。</p><p>本公司擁有任何相關投注和交易的最終決定權。</p><p>閣下完全接受在撲克遊戲中系統軟件隨機發牌洗牌，並接受其它隨機遊戲交易。</p><p>閣下完全認同並接受WAP網絡鏈接並非一直穩定。本公司只認可我們系統有記錄的注單，任何錯位注單本公司不承擔任。如果閣下對您下注的任何注單有疑問，請隨時聯繫我們的客服團隊協助查詢您的帳戶歷史記錄。</p><h1>危險投注</h1><p>本公司只允許每個用戶擁有一個有效帳號，若客戶在本公司任意遊戲產品中被本公司產品供應商或者本公司定為危險投注的話，本公司有權在任何時候關閉用戶帳戶，保留永久凍結危險客戶在本公司產生任何盈利或全部危資金的權利，危險投注行為包括以下任意一項或多項：</p><p>客戶擁有一個以上帳戶且進行均進行過有效投注，同一電腦、同一瀏覽器、同一IP、同一手機號碼、同一電子郵箱、一銀行卡、同一身份證、同一網吧/辦公室/公共上網地址或者被本公司官方確認為同一客戶的玩家均屬危險投注客戶</p><p>客戶被產品提供商確認為對沖投注、打水投注、軟件投注或其他危險投注。</p><p>客戶被本公司確認進行危險投注或危險違規存取款操作。</p><p>客戶參加公司優惠後進行帳戶對打套利或與其他平台公司進行對打套利。</p><p>客戶通過公司產品提供商遊戲賠率錯誤/盤口錯誤導致產生帳戶盈利。</p><p>客戶通過黑客入侵、修改數據等暴利破解方式產生帳戶盈利。</p><h1>交易結算</h1><p>使用信用卡或借記卡的客戶，銀行卡姓名必須與客戶註冊時的姓名一致。如果銀行卡姓名與客戶註冊時的姓名不一致本公司在交易結算方面保留權力。</p><p>客戶如果對本公司或其任何會員出現負債的情況，客戶必須承擔償還債務的責任。在支付方面，如果客戶有詐欺行，包括使用盜竊的信用卡，或其它詐欺行為（如追回或顛覆支付款項或洗錢行為）的嫌疑，本公司有權立即凍結和或閉客戶的帳戶，沒收其帳戶余額，並把其資料（註明其身份）公布到任何有權接觸此信息的在線娛樂網站、銀行、信用公司、和相關機構和個人。任何由此產生的費用本公司將全力從此客戶處追討。</p><p>如果匯入客戶帳戶的資金有誤，客戶有責任立即通知本公司。任何情況下本司未知曉的錯發的彩金將視為無效彩金並返還給本公司。</p><h1>帳戶提款</h1><p>當客戶從本公司獲得機會贏取獎金，任何獎金都須符合本協議及我們提供的相關附加條款，才可享用此獎金。</p><p>客戶從帳戶提取獎金金額前須遵從相關條款的規定與限制，否則將不給予辦理。</p><p>客戶提款幣種須與存款幣種保持一致。</p><p>本公司有權在任何時候撤回或修改獎金或優惠活動和或相關具體條款與規則，並且不承擔向客戶或第三方解釋說明的責任。</p><h1>休眠帳戶</h1><p>若您的帳戶從最後一次登錄時間開始計算連續6個月沒有任何交易將會歸類為休眠帳戶。</p><p>如果您的帳號從最後一次登錄時間開始計算休眠狀態超過18個月，本公司將有權將您的帳戶余額捐贈給慈善機構或益事業，並關閉您的帳戶。</p><p>在關閉您的帳戶之前，本公司將會使用一切合理的方式與您聯繫。</p><h1>獎金</h1><p>當客戶從本公司獲得機會贏取獎金，任何獎金都須符合本協議及我們提供的相關附加條款，才可享用此獎金。</p><p>客戶從帳戶提取獎金金額前須遵從相關條款的規定與限制，否則將不給予辦理。</p><p>本公司保留在任何時候撤回或修改獎金或優惠活動和或相關具體條款與規則，並且不承擔向客戶或第三方解釋說明的責任。</p><h1>免責條款</h1><p>享用本公司提供的服務是客戶本人的意願，其風險應由客戶本人承擔。參與我們服務的同時就說明客戶認同本公司所供的服務是正常、合理、公正、公平的。</p><p>某些法律規則並未明文規定在線和非在線博彩是否合法，而有些法律規則已有明確規定。如果按照客戶當地法律博彩不合法行為，本公司不提倡閣下參與我們的服務。在博彩被視為不合法行為的任何國家本公司不提倡其國民加入。客戶責任確保任何時候您的博彩行為在您所屬地是屬合法行為。</p><p>對於任何情況下由於衛星收訊不良或延誤，網路中斷，或個人使用網站服務時的失誤，疏忽，或對網站內容的誤解所生的任何損失，本公司概不負責。</p><p>由於第三方對公司網站和信息提供的服務（比如無線通訊的提供者等）而導致的拖延、違約、或不提供服務的情況，公司不提供擔保也不承擔責任。</p><p>客戶訪問或使用我們網站服務、軟件、信息服務、或下載、安裝、使用我們軟件而造成的任何直接、間接或重大或普虧損或經濟損失，不論本公司是否被告知其可能性，本公司以及相關合夥公司，合作夥伴，合夥人，職員，代理將承擔責任。</p><p>閣下需認同本協議部分或全部內容是臨時性的，網站部分信息可能還需修改和更正。所以這些信息僅供參考，在客戶本司之間並不構成協議，合同，和擔保的依據。</p><p>閣下認同所有免責條款都是在公平公正，風險及利益分布合理的情況下成立的，它既反映了本公司對客戶的關註，體現了客戶對本公司的理解與支持。閣下進一步認同此條款的合法性和可實施性。</p><p>如果客戶電腦配件上的賽果與我們服務器的賽果出現不一致的情況，我們服務器所顯示的結果將為最終賽果。另外，本公司也認同對於客戶參與我們服務的遊戲規則，投注狀況本公司擁有最終解釋權。</p><p>本公司對目前我們所提供的服務不提供任何明示或暗示的擔保，也不對其服務質量，適用性，完整性或精確性提供何擔保和解釋。</p><p>本公司盡全力為客戶提供最優質，最安全可靠的服務，然而我們並不擔保我們所提供的服務的穩定性，及時性和準性，或不擔保錯誤及時更正或網站不受病毒或蠕蟲幹擾。</p><p>本公司絕對有權臨時或永久性地立即暫停，終止，修改，刪除或添加服務內容，而無需通知客戶，對因其而產生的何損失本公司概不負責。</p><h1>帳戶的終止，關閉或沒收</h1><p>在以下情況本公司有權(唯一決定人)取消任何彩金，沒收任何投注帳戶余額，終止協議或因違反條款而凍結帳戶</p><p>我們核實閣下擁有不止一個本公司帳戶。</p><p>您並未告知您居住於以下地區：澳大利亞,比利時，塞浦路斯，丹塞浦路斯麥包括格陵蘭和法羅群島，德國，希臘，港，以色列，荷蘭，菲律賓，新加坡，南非，西班牙，瑞士，台灣，土耳其，美國，意大利和法國，包含瓜德羅普島，尼汪島，馬提尼克島，法屬圭亞那，法屬波利尼西亞，馬約特島，新喀裏多尼亞，聖巴泰勒米，聖馬丁島，聖皮埃爾，克隆群島瓦利斯和富圖納群島。</p><p>閣下違反本協議的任何條款規則。</p><p>我們獲悉閣下在其它娛樂網站有詐欺，合謀（包括詐回註金等等），非法或不當行為的不良紀錄。</p><p>閣下是本公司員工或本公司員工親屬</p><p>閣下是本公司前雇員或本公司前雇員親屬等，離職時間少於6個月</p><p>閣下註冊信息不真實或蓄意誤導。</p><p>閣下不提供須提交的身份資料。</p><p>閣下未達到合法年齡。</p><p>閣下"退款"或導致"退款"反對我們或否認任何經由其帳戶產生的注單或存款。</p><p>您獲準其他人（有意或無意）使用您的帳號。</p><p>閣下的存款源自犯罪，或其它非法行為。</p><p>如果根據根據本條款，閣下的帳戶被凍結無法享用我們的服務，只有在您完成必要的糾正程序並經由我們審核通過後閣下的帳戶才可重新激活。</p><p>本公司在會員帳戶的發放，更新和關閉上享有絕對權力。本公司管理層關於會員帳戶，網站服務提供方面享有最決定權不得異議。我們有權隨時關閉客戶帳戶，不論其原因。在決定執行前，我們將采取合適的方式提前通知客戶本人除非在某種情況下此行為屬非法或無法進行此行為。</p><h1>違反協議合約及索賠</h1><p>如果閣下違反本協議或其中部分條款，本公司有權采取適當的對應做法，包括終止協議，立即攔截阻止您訪問我們站和使用我們的服務，關閉您的帳戶，沒收帳戶資金和或采取必要的法律訴訟手段。</p><p>閣下承諾如出現以下情形，將對本公司及其股東，員工，職員，執照持有人，執照頒發者，合作夥伴及附屬機構作全責賠償損失，成本，開銷，律師費用和其他收費等等，以及維護其合法權益，使免受責任牽連及負面影響。</p><p>您違反協議或協議部分內容。</p><p>您違反法律條例或影響第三方合法權益。</p><p>以及以上負面結果是由您本人使用我們網站服務造成，或其他人使用您的帳戶信息登錄造成，不論您是否有授權。</p><p>優先權</p><p>遊戲規則和其他任何關於進入和使用本司網站服務的協議條款，將組成協議一個完整的部分。</p><p>除非有明文規定，如果遊戲規則和任何關於訪問和使用本司網站服務的協議條款或協議其它部分相沖突的情況發生，請以遊戲規則為準。</p><h1>管轄法律</h1><p>本協議以及相關條款都受相關法律約束並受監管。</p><h1>其它條款</h1><p>如果協議中一個條款在某法律範疇被裁定為非法，無效或不可實施，它將不會影響該條款在其它法律範疇的適用，不影響到協議其他條款在該法律範疇的適用，或其它條款在其它法律範疇的適用。</p><p>協議的標題僅供參考，它不影響到任何條款的構成或解釋。</p><p>如果因以下超出控制範圍的原因（包括天災，政府管制，戰爭，暴動，傳送中斷，系統崩潰，電信或寬帶服務中斷電力中斷等等）本公司不能按照協議規定履行義務，將不會構成違反合約。</p><p>在本協議中，本公司未能或延遲行使或履行任何權利，補救措施，特權，並不代表本公司放棄此特權。</p><p>本公司有權隨時未經通知轉讓該協議合約或其部分內容。然而，客戶無權轉讓關於該協議您的權利或義務。</p><p>該協議不能產生或授予任何權利或其它利益給與此協議無關的第三方。</p><p>該協議不能產生或不能被視為產生本公司與您之間的合作，代理，信托或合資關系。</p><p>該協議為閣下與本公司之間關於網站服務使用協議的最新的完整版本，它將取代之前的版本。</p></p>
		</div>

		<div v-if="$route.params.id == 46">
			<p class="title">用戶隱私協議</p>
			<p><p>您成為本公司用戶前務必仔細閱讀本隱私條款並同意本隱私條款。作為本公司服務的正常操作程序的一部分，本公司收集、使用並（在一些情況下）向第三方披露有關您的資料。本隱私條款作為本公司服務協議的附件，在您註冊成為本公司用戶後立即生效，並對您及本公司產生約束力。</p><h1>1.1 用戶身份限制</h1><p>未成年人（年齡18周歲以下人士）、限制行為能力人、台灣以外地區人士及自然人以外的組織無資格註冊成為本公司用戶並使用本公司的服務，本公司要求未成年人、限制行為能力人、台灣以外地區人士及各類組織不要向本公司提交任何個人資料。</p><h1>1.2 涉及的個人資料</h1><p>本公司收集個人資料的主要目的在於向您提供一個順利、有效和量身訂造的交易經歷。本公司僅收集本公司認為就此目的及達成該目的所必須的關於您的個人資料。</p><p>本公司可能自公開及私人資料來源收集您的額外資料，以更好地了解本公司用戶，並為其量身訂造本公司服務、解決爭議並有助確保在網站進行交易的安全性。</p><p>本公司按照您在本公司網址上的行為自動追蹤關於您的某些資料。本公司利用這些資料進行有關本公司之用戶的人口統計、興趣及行為的內部研究，以更好地了解您以便向您和本公司的用戶社區提供更好的服務。</p><p>本公司在本公司的某些網頁上使用諸如“Cookies”的資料收集裝置。“Cookies”是設置在您的硬盤上的小檔案，以協助本公司為您提供量身訂造的服務。本公司亦提供某些只能通過使用“Cookies”才可得到的功能。本公司還利用“Cookies”使您能夠在某段期間內減少輸入密碼的次數。“Cookies”還可以協助本公司提供專門針對您的興趣而提供的資料。</p><p>如果您將個人通訊信息（例如：手機短信、電郵或信件）交付給本公司，或如果其他用戶或第三方向本公司發出關於您在本公司上的活動或登錄事項的通訊信息，本公司可以將這些資料收集在您的專門檔案中。</p><h1>1.3 本公司對您的資料的使用</h1><p>您同意本公司可使用關於您的個人資料（包括但不限於本公司持有的有關您的檔案中的資料，及本公司從您目前及以前在本公司上的活動所獲取的其他資料）以解決爭議、對糾紛進行調停、有助於確保在本公司進行安全交易，並執行本公司的用戶協議。本公司有時候可能調查多個用戶以識別問題或解決爭議，特別是本公司可審查您的資料以區分使用多個用戶名或別名的用戶。為限制在網站上的詐欺、非法或其他刑事犯罪活動，使本公司免受其害，您同意本公司可通過人工或自動程序對您的個人資料進行評價。</p><p>您同意本公司可以使用您的個人資料以改進本公司的推廣和促銷工作、分析網站的使用率、改善本公司的內容和產品推廣形式，並使本公司的網站內容、設計和服務更能符合用戶的要求。這些使用能改善本公司的網頁，以調整本公司的網頁使其更能符合您的需求，從而使您在使用本公司服務時得到更為順利、有效、安全及量身訂造的交易體驗。</p><p>您同意本公司利用您的資料與您聯絡並（在某些情況下）向您傳遞針對您的興趣而提供的信息，例如：有針對性的廣告條、行政管理方面的通知、產品提供以及有關您使用本公司的通訊。您接受服務協議和隱私條款即為明示同意收取這些資料。</p><h1>1.4 本公司對您的資料的修改或刪除</h1><p>您可以授權本公司幫助您修改您在本公司填寫的一切個人資料。如您違反服務協議等本公司規則或法律規定，本公司有權經電子郵件告知後在網站數據庫中刪除您的個人資料、關閉帳戶或者限制您使用本公司。</p><p>網站有權根據實際審核結果在不通知您的情況下對您所填寫的與事實不符的資料進行修正或更改。</p><h1>1.5 本公司對您的資料的披露</h1><p>本公司采用行業標準慣例以保護您的個人資料，但鑒於技術限制，本公司不能確保您的全部私人通訊及其他個人資料不會通過本隱私條款中未列明的途徑泄露出去，對此本公司不承擔任何責任。</p><p>本公司有權根據有關法律和監管要求，本公司風險控制要求以及相關協議要求向司法機關等政府部門、社會組織或團體、其他第三方服務或合作機構提供您的個人資料。在您未能按照與本公司簽訂的服務協議、居間協議或者與本公司企業用戶簽訂的借款（擔保）協議的約定履行自己應盡的義務時，本公司有權根據自己的判斷或者與該筆交易有關的其他用戶的請求披露您的個人資料，並作出評論。</p><h1>1.6 您對其他用戶的資料的使用</h1><p>在本公司提供的交易活動中，您無權要求本公司提供其他用戶的個人資料，除非符合以下條件：</p><p>1) 您已向法院起訴其他用戶的在本公司活動中的違約行為。</p><p>2) 本公司被吊銷營業執照、解散、清算、宣告破產或者其他有礙於您收回借款本息的情形。</p><h1>1.7 電子郵件</h1><p>您不得使用本公司提供的服務或其他電子郵件轉發服務發送垃圾郵件或其他可能影響本公司系統運行或違反本公司的用戶協議或隱私條款的內容。</p><p>如果您利用本公司的服務向沒有在本公司內註冊的電子郵件地址發出電子郵件,本公司除了利用該電子郵件地址發出您的電子郵件之外將不作任何其他用途。本公司不會出租或出售這些電子郵件地址。本公司不會永久儲存電子郵件信息或電子郵件地址。</p><h1>1.8 密碼的安全性</h1><p>您須對使用您的用戶名和密碼所采取的一切行為負責。因此，本公司建議您不要向任何第三方披露您在本公司的用戶名和密碼。</p><h1>1.9 規則修改</h1><p>本公司可能不時按照您的意見和本公司的需要修改本隱私條款，以準確地反映本公司的資料收集及披露慣例。本條款的所有修改，在本公司公布有關修改內容後自動生效或在該等條款指定的日期生效。</p></p>
		</div>


		<div v-if="$route.params.id == 61">
			<p class="title">如何綁定銀行帳戶？</p>
			<p>具體操作流程如下：<br>(1)登錄玩家中心後，依次點選 “帳戶管理-&gt;銀行帳戶信息”。<br>(2)根據頁面提示填寫相關銀行帳戶信息。<br>(3)確認信息無誤後，點擊“確認”即可完成綁定</p>
		</div>
		<div v-if="$route.params.id == 62">
			<p class="title">我可以綁定多個銀行帳戶嗎？</p>
			<p>不可以！一個玩家帳戶僅支持綁定一個銀行帳戶，且綁定的銀行帳戶名必須與玩家的真實姓名一致。</p>
		</div>

		<div v-if="$route.params.id == 63">
			<p class="title">如何更換已綁定的銀行帳戶？</p>
			<p>銀行帳戶更換與綁定流程基本一致，具體操作步驟詳見如何綁定銀行帳戶？其中，僅支持更換為帳戶名與真實姓名一致的銀行帳戶，否則取款將失敗！<br><br>溫馨提示：<br>若由於玩家綁定的銀行帳戶名與您填寫的真實姓名不一致，而導致出款失敗或延遲，請玩家自行負責！</p>
		</div>

		<div v-if="$route.params.id == 64">
			<p class="title">為什麼我要設置真實姓名？</p>
			<p>真實姓名是證明您身份的重要憑證之一，且真實姓名將用於匹配收款銀行帳號，銀行卡帳戶名與玩家真實姓名一致時才可以取款成功！為確保您帳戶的安全，真實姓名一旦設置不可修改！</p>
		</div>

		<div v-if="$route.params.id == 65">
			<p class="title">真實姓名填錯了怎麽修改？</p>
			<p>一經填寫，玩家本人無法直接修改真實姓名！如有需要，請您在線客服服協助您做數據更改。</p>
		</div>

		<div v-if="$route.params.id == 66">
			<p class="title">我的真實姓名會被泄漏嗎？</p>
			<p>本公司網站絕對安全，我們決不泄漏玩家的真實姓名及其他個人資料給任何商業機構。</p>
		</div>





		<div v-if="$route.params.id == 71">
			<p class="title">為何我的帳號會被凍結？</p>
			<p>輸入五次錯誤密碼系統為了您的帳號資金安全將自動凍結您的遊戲帳號，屆時請您聯繫24小時在線客服人員協助處理。</p>
		</div>
		<div v-if="$route.params.id == 72">
			<p class="title">為什麼我會被登出？</p>
			<p>您好，這是網頁的保安程式之一，當您在一定的時間內沒有使用有關的網頁，那麽有關的網頁將不再活躍，並且無法瀏覽最新的頁面，在此您必須重新登入。或者您在其餘的設備登陸了那之前的設備將登出。若您重新登入後情況仍然一樣請立即聯繫我們。</p>
		</div>
		<div v-if="$route.params.id == 73">
			<p class="title">為什麼我瀏覽的頁面不能正常顯示？</p>
			<p>低版本瀏覽器不支持HTML5, CSS3, jQuery2.0等網頁程序，很可能造成網頁功能缺失。若當前您使用的瀏覽器為IE8或更低版本， 建議您使用IE10、IE11、火狐或谷歌瀏覽器，以獲取最佳體驗效果！</p>
		</div>
		<div v-if="$route.params.id == 74">
			<p class="title">為什麼要進行驗證？</p>
			<p>驗證信息主要是為了確保您的帳戶安全。我們要驗證的是手機驗證、郵箱驗證、銀行卡驗證。</p>
		</div>
		<div v-if="$route.params.id == 75">
			<p class="title">我可以只試玩而不下注嗎？</p>
			<p>針對一些遊戲我們支持試玩，可選擇試玩通道進行試玩。</p>
		</div>

		<div v-if="$route.params.id == 76">
			<p class="title">別人可以用我的帳戶進行交易嗎？</p>
			<p>會員有責任確保自己的帳戶及登入資料的保密性。以用戶名稱及密碼進行的任何網上交易將被視為有效。</p>
		</div>

		<div v-if="$route.params.id == 77">
			<p class="title">最基本的注單查詢方式？</p>
			<p>可以通過登錄官網帳戶後點擊投注記錄查詢，或者進入到遊戲裏的賬目查詢。</p>
		</div>

		<div v-if="$route.params.id == 78">
			<p class="title">請問各個遊戲的注額為多少？</p>
			<p>真人遊戲-最低下注100TWD 最高限額30萬TWD （可根據不同類型會員進行調高注碼額度）<br>彩票遊戲-最低下注100TWD最高限額依照遊戲及玩法不同，最高可到1000000TWD<br>電子機率-最低下注5TWD最高限額依照遊戲及玩法不同<br>如有任何疑問請諮詢24小時在線客服！ </p>
		</div>

		<div v-if="$route.params.id == 79">
			<p class="title">如何證明遊戲結果是實時的？</p>
			<p>您好，您可以通過遊戲的視頻影像進行監查，視頻內的畫面均為現場娛樂城所播放的畫面是同步的。我們每一個視頻上都配備一個確認真實性電話，您可撥打此號碼確認所有遊戲結果均為真實的實時結果。</p>
		</div>
		<div v-if="$route.params.id == 80">
			<p class="title">你們的流水紅利政策是怎麼樣的？</p>
			<p>目前我們有以下紅利：<br>新用戶首存紅利<br>娛樂場、鑽石廳娛樂場有周返水紅利<br>快樂彩週返水紅利<br >體育週返水紅利</p>
		</div>
		<div v-if="$route.params.id == 81">
			<p class="title">有效流水在每個平台是如何計算的？</p>
			<p>有效流水計算： 1.百家樂項目，若單局輸贏的絕對值大於75%本金，以本金作為有效投注額。 2.其他盤口按單局本金計算有效投注額。當投注淨輸時，按淨輸金額絕對值計算流水。當投注淨贏金額<75%，則按淨贏金額計算流水，淨贏金額>=75%，以全額投注金額計算流水。</p>
		</div>




	</div>
</div>

</template>

<script>
//import QuestionModal from './Question.vue'
import { mapGetters } from 'vuex'
//import { globalMixin } from 'mixin.js'
//import sess from 'sess.js'

export default {
//	mixins: [globalMixin],
	data() {
		return {
			title:{
				'1':'開戶條約',
			}
		}
	},
	computed: {
		/*
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),*/
		headerTitle(){
			if (!this.title[this.$route.params.id]) return this.$route.name;
			return this.title[this.$route.params.id];
		}
	},
	methods: {
	},
	destroyed() {

	},

	mounted(){
//		let h = sess.get(this.$route.path)
//		this.$refs.pageContent.scrollTop = h.scrollTop || 0;
	},
	created(){
	}
}
</script>
<style>
.category-content.page-content {
	background-color:#fff;
	padding:20px;
	color:#666;
	font-size:14px;
}
.category-content.page-content .title {
	font-size:15px;
	font-weight:700;
	color:#333;
}
.category-content.page-content h1 {
	font-weight:700;
	color:#333;
}
.category-content.page-content p {
	margin:18px 0;
	line-height:22px;
}



</style>
