<template>
<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
	<div class="page-content" ref="pageContent">

		<div class="cells help-box">

			<div class="row">
				<div class="col" @click="go2page('/help/category/1')">
					<div><img src="~assets/images/help/1.png" class="catgIcon"><p class="fs14">登錄註冊</p></div>
				</div>
				<div class="col" @click="go2page('/help/category/2')">
					<div><img src="~assets/images/help/2.png" class="catgIcon"><p class="fs14">存款流程</p></div>
				</div>
				<div class="col" @click="go2page('/help/category/3')">
					<div><img src="~assets/images/help/3.png" class="catgIcon"><p class="fs14">提款流程</p></div>
				</div>
				<div class="col" @click="go2page('/help/category/4')">
					<div><img src="~assets/images/help/4.png" class="catgIcon"><p class="fs14">轉帳流程</p></div>
				</div>
			</div>

			<div class="row">
				<div class="col" @click="go2page('/help/category/5')">
					<div><img src="~assets/images/help/5.png" class="catgIcon"><p class="fs14">帳戶安全</p></div>
				</div>
				<div class="col" @click="go2page('/help/vip')">
					<div><img src="~assets/images/help/6.png" class="catgIcon"><p class="fs14">會員制度</p></div>
				</div>
				<div class="col" @click="go2page('/help/category/7')">
					<div><img src="~assets/images/help/7.png" class="catgIcon"><p class="fs14">銀行相關</p></div>
				</div>
				<div class="col" @click="go2page('/help/category/8')">
					<div><img src="~assets/images/help/8.png" class="catgIcon"><p class="fs14">其它問題</p></div>
				</div>
			</div>

		</div>


		<div class=" item item-divider">
			熱門問題
		</div>

		<list class="list-ios hl-list-borderless">
			<item class="item-icon-right" @click.native="go2page('/help/hot/1/question')">
				為什麼在線支付成功後額度沒有立即增加？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/hot/2/question')">
				快速入款存款未到帳如何處理？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/hot/3/question')">
				提款什麼時候可以到帳？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/hot/4/question')">
				提款申請為什麼會不通過？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/hot/5/question')">
				為什麼向遊戲轉帳會失敗？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/hot/6/question')">
				你們的流水紅利政策是怎麼樣的？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/hot/7/question')">
				有效流水在每個平台是如何計算的？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/hot/8/question')">
				隱私信息是否安全？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/hot/9/question')">
				我可以註冊多個帳號嗎？<i class="icon ion-ios-arrow-right"></i>
			</item>
			<item class="item-icon-right" @click.native="go2page('/help/hot/10/question')">
				請問各個遊戲的注額為多少？<i class="icon ion-ios-arrow-right"></i>
			</item>
		</list>
	</div>
</div>

</template>

<script>
//import QuestionModal from './Question.vue'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
//import sess from 'sess.js'

export default {
	mixins: [globalMixin],
	data() {
		return {
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
	},
	methods: {
	},
	destroyed() {

	},

	mounted(){
		//let h = sess.get(this.$route.path)
		//if (h)	{
		//	this.$refs.pageContent.scrollTop = h.scrollTop || 0;
		//}
	},
	created(){
		/*
		document.addEventListener("beforechangepage", function(){console.log(1111)});
		window.addEventListener("popstate", function(){
		if(document.querySelector('.page-content')){
			setTimeout(function(){
				document.querySelector('.page-content').scrollTo(0,100)}
				,1000);
		}
		});
		*/
	}
}
</script>
<style>
.help-box.cells {
	padding: 12px 0;
	margin-bottom:0px;
}
.help-box .catgIcon {
    width: 45px;
    height: 45px;
	margin-bottom:8px;
}

.help-box .col > div{
	padding:18px 0;
	color:#666;
}


</style>
