<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content">

			<div class="helpInfo">
					<h2>會員等級</h2>
					<p>會員等級共分為一般、黃金、白金、鑽石4個等級。</p>
					<p>每個等級達到一定儲值量即可升級到下個等級，享受更高返水比例。</p>


<table class="member-level-table">
<thead>
	<tr>
		<th>遊戲/等級</th>
		<th>一般會員</th>
		<th>黃金會員</th>
		<th>白金會員</th>
		<th>鑽石會員</th>
	</tr>
	<tr>
		<td>儲值量</td><td>0</td><td>60,000</td>	<td>500,000</td><td>2,000,000</td>
	</tr>


</thead>
</table>



<p></p>
					<h2>返水比例</h2>
<table class="member-level-table">
<thead>
	<tr>
		<th>遊戲/等級</th>
		<th>真人遊戲</th>
		<th>體育遊戲</th>
		<th>電子/捕魚</th>
		<th>彩票彩球</th>
	</tr>
	<tr>
		<td>一般會員</td><td>0.25%</td><td>0.15%</td>	<td>0.35%</td><td>0.15%</td>
	</tr>
	<tr>
		<td>黃金會員</td><td>0.3%</td><td>0.2%</td>	<td>0.4%</td><td>0.2%</td>
	</tr>
	<tr>
		<td>白金會員</td><td>0.4%</td><td>0.25%</td>	<td>0.5%</td><td>0.25%</td>
	</tr>
	<tr>
		<td>鑽石會員</td><td>0.5%</td><td>0.3%</td>	<td>0.6%</td><td>0.3%</td>
	</tr>

</thead>
</table>

<p>
	<center>註：最高返水上限為10000點</center>
</p>

					<h2>洗碼規則</h2>
<ol style="line-height: 24px;color: #666;font-size:14px;    list-style-type: decimal;    padding-left: 20px;">
　<li>所有優惠點數以新台幣(NTD)：點數 = 1：1 為結算金額，以台北時間為計時區間。</li>
　<li>單以獲得的返水金額進行遊戲，隔日無返水金額：如當天有進行儲值，可合併計算，故隔日將發放返水金額。所獲得的返水金額需達1倍的有效投注，方可出款。</li>
　<li>本活動計算的為有效押碼，無風險投注皆不計算入有效押碼，無風險投注包括（在百家樂時同時投注莊家、閒家，輪盤及骰寶及其他相似投注法時同時投注黑、紅，單、雙，大、小等）。</li>
　<li>北京賽車、幸運飛艇：最多只能下六車，超過六車一律視為洗流水套利。</li>
　<li>輪盤投注不能超過22個號碼以上，超過一律視為洗流水套利。</li>
　<li>每位玩家、每戶、每一住址、每一電子信箱地址、每一電話號碼、相同付款方式及IP地址只能享有一次優惠。若會員有重複申請帳號行為，公司保留取消或收回會員優惠彩金的權利。</li>
　<li>娛樂城的所有優惠特為玩家而設，如發現任何團體或個人，以不誠實方式套取紅利或任何威脅、濫用公司優惠等行為，公司保留凍結、取消該團體或個人帳戶及帳戶結餘的權利。</li>
　<li>任何會員不得利用本公司提供的各種優惠紅利，進行集體投注及其他方式惡意套利。本公司保留追究惡意影響本公司正常運作的權利。</li>
　<li>若會員對活動有爭議時，為確保雙方利益，杜絕身份盜用行為，本公司有權要求會員向我們提供充足有效的文件，用以確認是否享有該優惠的資格。</li>
　<li>當參與優惠會員未能完全遵守、或違反、或濫用任何有關公司優惠或推廣的條款，又或我們有任何證據有任何團隊或個人投下一連串的關聯賭注，籍以造成無論賽果怎樣都可以確保可以從該存款紅利或其他推廣活動提供的優惠獲利，本公司保留權利向此團隊或個人停止、取消優惠或索回已支付的全部優惠紅利。此外，公司亦保留權利向這些客戶扣取相當於優惠紅利價值的行政費用，以補償我們的行政成本。</li>
　<li>最終解釋權由本公司所有。 </li>
</ol>


			</div>

		</div>
	</div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
	},
	methods: {
	},
	mounted(){
	},
	created() {
		//this.$store.dispatch('getUserInfo');
	},
}
</script>
<style scoped>


.member-level-table  {

  font-size:14px;
  border:1px solid #ebeef5;
  text-align:center;
  border-collapse:collapse;

  margin:0 auto;
}
.member-level-table th {
  background-color: #409eff;
  padding:10px;
  border:1px solid #ebeef5;
  color:#fff;
  font-weight: 400;
}
.member-level-table td {
  border:1px solid #ebeef5;
  padding:5px;
  color:#666;
}
.subtitle{
	padding: 10px 10px;
	font-size: 16px;
	font-weight: bold;
}
.yd-grids-icon img{
	height: 100px;
}


.helpInfo {
    background: #fff;
    min-height: calc(100% - 72px);
    padding: 20px 20px 72px;
}
.helpInfo h1 {
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
}
.helpInfo h1:first-of-type {
    padding-top: 0;
}
.helpInfo h2 {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 10px 0 20px;
}
.helpInfo p {
    line-height: 20px;
    font-size: 14px;
    margin: 20px 0;
}


</style>
