<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top changename-page">
			<div class="item item-divider">
			</div>

			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">真實姓名</span>
					<yd-input slot="right" v-model="user.name" placeholder="請輸入真實姓名" max="12" min="2" :show-required-icon="false"></yd-input>
				</yd-cell-item>
			</yd-cell-group>

			<div class="hint fs14">
				<span class="fw700">注意：</span>一經填寫，玩家本人無法直接修改真實姓名！如有需要，請找在線客服助您做數據更改。
				
			</div>

			<div class="padding">
				<button class="button button-positive button-block" @click="submit">確認</button>
			</div>

			<div class="padding fs14">
				<p class="fw700">溫馨提示</p>
				<p>真實姓名是證明您身份的重要憑證之一，且真實姓名將用於匹配銀行戶名與玩家真實姓名一致時才可以取款成功！為確保您帳戶的安全，真實姓名一旦設置不可修改！</p>

			</div>		
		
		
		</div>
	</div>
</template>
<script>
//import {Input} from 'vue-ydui/dist/lib.px/input';
import { apiChangeName } from 'api.js'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			name: '',
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		submit(){
			apiChangeName({
                    'name' : this.user.name,
                })
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						$toast.show(response.data.message, 1000).then(() => {
							this.$router.go(-1);
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		}
	},
	mounted(){
		//console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
	},
	created() {
		//this.$set(this, 'form', this.user.bank ? this.user.bank: {'bank_value':'','bank_name':'','bank_account':'','bank_username':''});
		//this.$store.dispatch('getUserInfo');
		//console.log( this.user.bank);
	},
}
</script>
<style scoped>
.hint{
	padding: 10px 10px;
}
</style>
<style>
.changename-page .yd-cell-item {
	padding-left:14px;
}
.changename-page .yd-cell-item .yd-cell-left{
	min-width:90px;
}
.changename-page .fs14{color:#666;}
</style>
