<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top change-line-page">
			<div class="item item-divider">
			</div>

			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">LINE</span>
					<yd-input slot="right" v-model="user.line" placeholder="請輸入LINE" max="20" min="2" :show-required-icon="false"></yd-input>
				</yd-cell-item>

			</yd-cell-group>

			<div class="padding">
				<button class="button button-positive button-block" @click="submit">確認</button>
			</div>
		</div>
	</div>
</template>
<script>
//import {Input} from 'vue-ydui/dist/lib.px/input';
import { apiChangeLine } from 'api.js'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			line: ''
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		submit(){
			apiChangeLine({
                    'line' : this.user.line
                })
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						$toast.show(response.data.message, 1000).then(() => {
							this.$router.go(-1);
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		}
	},
	mounted(){
		console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
	},
	created() {
		//this.$set(this, 'form', this.user.bank ? this.user.bank: {'bank_value':'','bank_name':'','bank_account':'','bank_username':''});
		//this.$store.dispatch('getUserInfo');
		//console.log( this.user.bank);
	},
}
</script>
<style >
.change-line-page .yd-cell-item {
	padding-left:14px;
}
.change-line-page .yd-cell-item .yd-cell-left{
	min-width:90px;
}
</style>
