<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true, hideNavbar: true}">
		<div class="page-content deposit-page" v-bind:style="{'padding-top': (user.class >= 1 ? '92': '44') +'px'}"><!-- padding-top-->
			<von-header>
				<button class="button button-icon ion-ios-arrow-back" slot="left" @click="$router.go(-1)"></button>
				<span slot="title">{{$route.name}}</span>
				<span class="fs14 link-color" slot="right" style="line-height:34px;margin-right:8px;" @click="go2page('/user/transfer-log')">資金記錄</span>
			</von-header>

			<tabs :tab-items="tabs" :tab-index="tabIndex" position="top" bg-color="Light" tab-color="" :on-tab-click="onTabClick" ></tabs>

		<div  v-if="showPay(tabIndex,'匯通渠道')">

			<div class="cells step-box">

				<yd-step :current="form.htpay.step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">立即支付</span>
					</yd-step-item>

				</yd-step>
			</div>


			<div v-if="form.htpay.step == 3">
				<div class="cells deposit-box">


						<div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
						<div class="text-center mt10 mb10 fs14" style="color:#999">	請及時查看錢包確認到帳</div>

				</div>


				<div class="padding">
					<button class="button button-positive button-block" @click="$router.go(-1)">離開此頁</button>
				</div>


			</div>
			<div v-if="form.htpay.step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金額 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.htpay.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;">
					<item>
						成單時間
						<span class="item-note">{{ form.htpay.order_time }}</span>
					</item>
					<item>
						訂單編號
						<span class="item-note">{{ form.htpay.order_no }}</span>
					</item>
					<item>
						訂單失效時間
						<span class="item-note link-color"><yd-countdown format="{%m} 分 {%s} 秒" :time="form.htpay.endTime" done-text="訂單已失效" :callback="htpayOrderFail"></yd-countdown></span>
					</item>
				</list>

				<div class="padding">
					
					<button class="button button-light button-block" @click="htpayBack">支付遇到問題，重新下單</button>
				</div>


			</div>




			<div v-if="form.htpay.step == 1">
				<div class="cells deposit-box" >

					<div class="row">
						<div class="col" v-if="patment_switch.atm">
							<div class="cards" :class="{'active': form.htpay.paymentType == 'VBANK'}" @click="form.htpay.paymentType = 'VBANK'" >
								<em class="atm"></em>
								<span class="text fs14">虛擬ATM匯款<div class="txt-small">網路銀行交易轉帳 </div></span>
							</div>
						</div>
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.htpay.paymentType == '4'}" @click="form.htpay.paymentType = '4'" >
							<em class="family"></em>
							<span class="text fs14">全家代碼繳費<div class="txt-small">至超商條碼繳費 </div></span>
							</div>
						</div>
					</div>


					<div class="row" style="margin-top:6px;">
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.htpay.paymentType == '5'}" @click="form.htpay.paymentType = '5'">
								<em class="cvs"></em>
								<span class="text fs14">7-11代碼繳費<div class="txt-small">至超商條碼繳費 </div></span>
							</div>
						</div>
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.htpay.paymentType == '6'}" @click="form.htpay.paymentType = '6'">
								<em class="ok"></em>
								<span class="text fs14">OK代碼繳費<div class="txt-small">至超商條碼繳費 </div></span>
							</div>
						</div>
					</div>


					<div class="row" style="margin-top:6px;">
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.htpay.paymentType == '7'}" @click="form.htpay.paymentType = '7'">
								<em class="life"></em>
								<span class="text fs14">萊爾富代碼繳費<div class="txt-small">至超商條碼繳費 </div></span>
							</div>
						</div>
						<div class="col">

						</div>
					</div>
				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('htpay_amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金額</span>
						<input type="tel" v-model="form.htpay.amount" ref="htpay_amount" :placeholder="'請輸入金額'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.htpay.limit = !form.htpay.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.htpay.limit == true">
					<span class="pull-right">{{ limitDesc() }}</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.htpay.amount = 500">500元</button>
					<button class="button button-light button-small button-outline" @click="form.htpay.amount = 1000">1000元</button>
					<button class="button button-light button-small button-outline" @click="form.htpay.amount = 3000">3000元</button>
					<button class="button button-light button-small button-outline" @click="form.htpay.amount = 5000">5000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="htpayNext">下一步</button>
				</div>

			</div>

		</div>


		<div v-if="showPay(tabIndex,'綠界渠道')">

			<div class="cells step-box">

				<yd-step :current="form.ecpay.step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">立即支付</span>
					</yd-step-item>

				</yd-step>
			</div>


			<div v-if="form.ecpay.step == 3">
				<div class="cells deposit-box">


						<div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
						<div class="text-center mt10 mb10 fs14" style="color:#999">	請及時查看錢包確認到帳</div>

				</div>


				<div class="padding">
					<button class="button button-positive button-block" @click="$router.go(-1)">離開此頁</button>
				</div>


			</div>
			<div v-if="form.ecpay.step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金額 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.ecpay.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;">
					<item>
						成單時間
						<span class="item-note">{{ form.ecpay.order_time }}</span>
					</item>
					<item>
						訂單編號
						<span class="item-note">{{ form.ecpay.order_no }}</span>
					</item>
					<item>
						訂單失效時間
						<span class="item-note link-color"><yd-countdown format="{%m} 分 {%s} 秒" :time="form.ecpay.endTime" done-text="訂單已失效" :callback="ecpayOrderFail"></yd-countdown></span>
					</item>
				</list>

				<div class="padding">
					<button class="button button-light button-block" @click="ecpayBack">支付遇到問題，重新下單</button>
				</div>


			</div>

			<div v-if="form.ecpay.step == 1">

				<div class="cells deposit-box" >

					<div class="row">
						<div class="col" v-if="patment_switch.atm">
							<div class="cards" :class="{'active': form.ecpay.paymentType == 'ATM'}" @click="form.ecpay.paymentType = 'ATM'">
								<em class="atm"></em>
								<span class="text fs14">實體ATM及網銀<div class="txt-small">ATM機櫃 網路銀行 </div></span>

							</div>
						</div>
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.ecpay.paymentType == 'CVS'}" @click="form.ecpay.paymentType = 'CVS'">
							<em class="cvs"></em>
							<span class="text fs14">超商付款<div class="txt-small">7-11 全家 OK 萊爾富 </div></span>
						</div>
						</div>
					</div>

				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('ecpay_amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金額</span>
						<input type="tel" v-model="form.ecpay.amount" ref="ecpay_amount" :placeholder="'請輸入金額'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.ecpay.limit = !form.ecpay.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.ecpay.limit == true">
					<span class="pull-right">{{ limitDesc() }}</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.ecpay.amount = 500">500元</button>
					<button class="button button-light button-small button-outline" @click="form.ecpay.amount = 1000">1000元</button>
					<button class="button button-light button-small button-outline" @click="form.ecpay.amount = 3000">3000元</button>
					<button class="button button-light button-small button-outline" @click="form.ecpay.amount = 5000">5000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="ecpayNext">下一步</button>
				</div>

			</div>

		</div>


		<div v-if="showPay(tabIndex,'藍新渠道')">

			<div class="cells step-box">

				<yd-step :current="form.newebpay.step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">立即支付</span>
					</yd-step-item>

				</yd-step>
			</div>


			<div v-if="form.newebpay.step == 3">
				<div class="cells deposit-box">


						<div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
						<div class="text-center mt10 mb10 fs14" style="color:#999">	請及時查看錢包確認到帳</div>

				</div>


				<div class="padding">
					<button class="button button-positive button-block" @click="$router.go(-1)">離開此頁</button>
				</div>


			</div>
			<div v-if="form.newebpay.step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金額 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.newebpay.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;">
					<item>
						成單時間
						<span class="item-note">{{ form.newebpay.order_time }}</span>
					</item>
					<item>
						訂單編號
						<span class="item-note">{{ form.newebpay.order_no }}</span>
					</item>
					<item>
						訂單失效時間
						<span class="item-note link-color"><yd-countdown format="{%m} 分 {%s} 秒" :time="form.newebpay.endTime" done-text="訂單已失效" :callback="newebpayOrderFail"></yd-countdown></span>
					</item>
				</list>

				<div class="padding">
					<button class="button button-light button-block" @click="newebpayBack">支付遇到問題，重新下單</button>
				</div>


			</div>




			<div v-if="form.newebpay.step == 1">
				<div class="cells deposit-box" >

					<div class="row">
						<div class="col" v-if="patment_switch.atm">
							<div class="cards" :class="{'active': form.newebpay.paymentType == 'WEBATM'}" @click="form.newebpay.paymentType = 'WEBATM'">
								<em class="atm"></em>
								<span class="text fs14">網路ATM<div class="txt-small">網路銀行交易轉帳 </div></span>
							</div>
						</div>
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.newebpay.paymentType == 'CVS'}" @click="form.newebpay.paymentType = 'CVS'">
							<em class="ibon"></em>
							<span class="text fs14">超商代碼繳費<div class="txt-small">至超商列印繳費單 </div></span>
						</div>
						</div>
					</div>


					<div class="row" style="margin-top:6px;">
						<div class="col">
							<div class="cards" :class="{'active': form.newebpay.paymentType == 'VACC'}" @click="form.newebpay.paymentType = 'VACC'">
								<em class="atm"></em>
								<span class="text fs14">ATM轉帳<div class="txt-small">ATM機櫃 網路銀行 </div></span>
							</div>
						</div>
					</div>

				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('newebpay_amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金額</span>
						<input type="tel" v-model="form.newebpay.amount" ref="newebpay_amount" :placeholder="'請輸入金額'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.newebpay.limit = !form.newebpay.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.newebpay.limit == true">
					<span class="pull-right">{{ limitDesc() }}</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.newebpay.amount = 500">500元</button>
					<button class="button button-light button-small button-outline" @click="form.newebpay.amount = 1000">1000元</button>
					<button class="button button-light button-small button-outline" @click="form.newebpay.amount = 3000">3000元</button>
					<button class="button button-light button-small button-outline" @click="form.newebpay.amount = 5000">5000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="newebpayNext">下一步</button>
				</div>

			</div>

		</div>


		<div v-if="showPay(tabIndex,'三方渠道')">

			<div class="cells step-box">

				<yd-step :current="form.fafago.step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">立即支付</span>
					</yd-step-item>

				</yd-step>
			</div>


			<div v-if="form.fafago.step == 3">
				<div class="cells deposit-box">


						<div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
						<div class="text-center mt10 mb10 fs14" style="color:#999">	請及時查看錢包確認到帳</div>

				</div>


				<div class="padding">
					<button class="button button-positive button-block" @click="$router.go(-1)">離開此頁</button>
				</div>


			</div>
			<div v-if="form.fafago.step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金額 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.fafago.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;">
					<item>
						成單時間
						<span class="item-note">{{ form.fafago.order_time }}</span>
					</item>
					<item>
						訂單編號
						<span class="item-note">{{ form.fafago.order_no }}</span>
					</item>
					<item>
						訂單失效時間
						<span class="item-note link-color"><yd-countdown format="{%m} 分 {%s} 秒" :time="form.fafago.endTime" done-text="訂單已失效" :callback="fafagoOrderFail"></yd-countdown></span>
					</item>
				</list>

				<div class="padding">
					<button class="button button-light button-block" @click="fafagoBack">支付遇到問題，重新下單</button>
				</div>


			</div>




			<div v-if="form.fafago.step == 1">
				<div class="cells deposit-box" >

					<div class="row">
						<div class="col" v-if="patment_switch.atm">
							<div class="cards" :class="{'active': form.fafago.paymentType == '2'}" @click="form.fafago.paymentType = '2'">
								<em class="atm"></em>
								<span class="text fs14">虛擬ATM匯款<div class="txt-small">網路銀行交易轉帳 </div></span>
							</div>
						</div>
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.fafago.paymentType == '1'}" @click="form.fafago.paymentType = '1'">
							<em class="ibon"></em>
							<span class="text fs14">超商代碼繳費<div class="txt-small">至超商列印繳費單 </div></span>
						</div>
						</div>
					</div>
				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('fafago_amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金額</span>
						<input type="tel" v-model="form.fafago.amount" ref="fafago_amount" :placeholder="'請輸入金額'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.fafago.limit = !form.fafago.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.fafago.limit == true">
					<span class="pull-right">{{ limitDesc() }}</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 1000">1000元</button>
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 3000">3000元</button>
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 5000">5000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="fafagoNext('fafago')">下一步</button>
				</div>

			</div>

		</div>

		<div v-if="showPay(tabIndex,'PAY8957')">

			<div class="cells step-box">

				<yd-step :current="form.fafago.step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">立即支付</span>
					</yd-step-item>

				</yd-step>
			</div>


			<div v-if="form.fafago.step == 3">
				<div class="cells deposit-box">


						<div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
						<div class="text-center mt10 mb10 fs14" style="color:#999">	請及時查看錢包確認到帳</div>

				</div>


				<div class="padding">
					<button class="button button-positive button-block" @click="$router.go(-1)">離開此頁</button>
				</div>


			</div>
			<div v-if="form.fafago.step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金額 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.fafago.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;">
					<item>
						成單時間
						<span class="item-note">{{ form.fafago.order_time }}</span>
					</item>
					<item>
						訂單編號
						<span class="item-note">{{ form.fafago.order_no }}</span>
					</item>
					<item>
						訂單失效時間
						<span class="item-note link-color"><yd-countdown format="{%m} 分 {%s} 秒" :time="form.fafago.endTime" done-text="訂單已失效" :callback="fafagoOrderFail"></yd-countdown></span>
					</item>
				</list>

				<div class="padding">
					<button class="button button-light button-block" @click="fafagoBack">支付遇到問題，重新下單</button>
				</div>


			</div>




			<div v-if="form.fafago.step == 1">
				<div class="cells deposit-box" >

					<div class="row">
						<div class="col" v-if="patment_switch.atm">
							<div class="cards" :class="{'active': form.fafago.paymentType == '1'}" @click="form.fafago.paymentType = '1'">
								<em class="atm"></em>
								<span class="text fs14">虛擬ATM匯款<div class="txt-small">網路銀行交易轉帳 </div></span>
							</div>
						</div>
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.fafago.paymentType == '2'}" @click="form.fafago.paymentType = '2'">
							<em class="ibon"></em>
							<span class="text fs14">超商代碼繳費<div class="txt-small">至超商列印繳費單 </div></span>
						</div>
						</div>
					</div>
				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('fafago_amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金額</span>
						<input type="tel" v-model="form.fafago.amount" ref="fafago_amount" :placeholder="'請輸入金額'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.fafago.limit = !form.fafago.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.fafago.limit == true">
					<span class="pull-right">{{ limitDesc() }}</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 1000">1000元</button>
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 3000">3000元</button>
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 5000">5000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="fafagoNext('pay8957')">下一步</button>
				</div>

			</div>

		</div>


		<div v-if="showPay(tabIndex,'LeePay')">

			<div class="cells step-box">

				<yd-step :current="form.fafago.step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">立即支付</span>
					</yd-step-item>

				</yd-step>
			</div>


			<div v-if="form.fafago.step == 3">
				<div class="cells deposit-box">


						<div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
						<div class="text-center mt10 mb10 fs14" style="color:#999">	請及時查看錢包確認到帳</div>

				</div>


				<div class="padding">
					<button class="button button-positive button-block" @click="$router.go(-1)">離開此頁</button>
				</div>


			</div>
			<div v-if="form.fafago.step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金額 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.fafago.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;">
					<item>
						成單時間
						<span class="item-note">{{ form.fafago.order_time }}</span>
					</item>
					<item>
						訂單編號
						<span class="item-note">{{ form.fafago.order_no }}</span>
					</item>
					<item>
						訂單失效時間
						<span class="item-note link-color"><yd-countdown format="{%m} 分 {%s} 秒" :time="form.fafago.endTime" done-text="訂單已失效" :callback="fafagoOrderFail"></yd-countdown></span>
					</item>
				</list>

				<div class="padding">
					<button class="button button-light button-block" @click="fafagoBack">支付遇到問題，重新下單</button>
				</div>


			</div>




			<div v-if="form.fafago.step == 1">
				<div class="cells deposit-box" >

					<div class="row">
						<div class="col" v-if="patment_switch.atm">
							<div class="cards" :class="{'active': form.fafago.paymentType == '1'}" @click="form.fafago.paymentType = '1'">
								<em class="atm"></em>
								<span class="text fs14">虛擬ATM匯款<div class="txt-small">網路銀行交易轉帳 </div></span>
							</div>
						</div>
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.fafago.paymentType == '2'}" @click="form.fafago.paymentType = '2'">
							<em class="ibon"></em>
							<span class="text fs14">超商代碼繳費<div class="txt-small">至超商列印繳費單 </div></span>
						</div>
						</div>
					</div>
				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('fafago_amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金額</span>
						<input type="tel" v-model="form.fafago.amount" ref="fafago_amount" :placeholder="'請輸入金額'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.fafago.limit = !form.fafago.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.fafago.limit == true">
					<span class="pull-right">{{ limitDesc() }}</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 1000">1000元</button>
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 3000">3000元</button>
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 5000">5000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="fafagoNext('leepay')">下一步</button>
				</div>

			</div>

		</div>

		<div v-if="showPay(tabIndex,'FunPay')">

			<div class="cells step-box">

				<yd-step :current="form.fafago.step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">立即支付</span>
					</yd-step-item>

				</yd-step>
			</div>


			<div v-if="form.fafago.step == 3">
				<div class="cells deposit-box">


						<div class="text-center  mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">存款完成</span></div>
						<div class="text-center mt10 mb10 fs14" style="color:#999">	請及時查看錢包確認到帳</div>

				</div>


				<div class="padding">
					<button class="button button-positive button-block" @click="$router.go(-1)">離開此頁</button>
				</div>


			</div>
			<div v-if="form.fafago.step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金額 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.fafago.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;">
					<item>
						成單時間
						<span class="item-note">{{ form.fafago.order_time }}</span>
					</item>
					<item>
						訂單編號
						<span class="item-note">{{ form.fafago.order_no }}</span>
					</item>
					<item>
						訂單失效時間
						<span class="item-note link-color"><yd-countdown format="{%m} 分 {%s} 秒" :time="form.fafago.endTime" done-text="訂單已失效" :callback="fafagoOrderFail"></yd-countdown></span>
					</item>
				</list>

				<div class="padding">
					<button class="button button-light button-block" @click="fafagoBack">支付遇到問題，重新下單</button>
				</div>


			</div>




			<div v-if="form.fafago.step == 1">
				<div class="cells deposit-box" >

					<div class="row">
						<div class="col" v-if="patment_switch.atm">
							<div class="cards" :class="{'active': form.fafago.paymentType == '1'}" @click="form.fafago.paymentType = '1'">
								<em class="atm"></em>
								<span class="text fs14">虛擬ATM匯款<div class="txt-small">網路銀行交易轉帳 </div></span>
							</div>
						</div>
						<div class="col" v-if="patment_switch.store">
							<div class="cards" :class="{'active': form.fafago.paymentType == '2'}" @click="form.fafago.paymentType = '2'">
							<em class="ibon"></em>
							<span class="text fs14">超商代碼繳費<div class="txt-small">至超商列印繳費單 </div></span>
						</div>
						</div>
					</div>
				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('fafago_amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金額</span>
						<input type="tel" v-model="form.fafago.amount" ref="fafago_amount" :placeholder="'請輸入金額'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.fafago.limit = !form.fafago.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.fafago.limit == true">
					<span class="pull-right">{{ limitDesc() }}</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 1000">1000元</button>
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 3000">3000元</button>
					<button class="button button-light button-small button-outline" @click="form.fafago.amount = 5000">5000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="fafagoNext('FunPay')">下一步</button>
				</div>

			</div>

		</div>

		<!--銀行匯款-->
		
		<div v-if="showPay(tabIndex,'銀行匯款')">

			<div class="cells step-box">

				<yd-step :current="form.bankatm.step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>

				</yd-step>
			</div>


			<div v-if="form.bankatm.step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金額 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.bankatm.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;text-align: center;">
					<item style="text-align: left;">
						成單時間
						<span class="item-note">{{ form.bankatm.order_time }}</span>
					</item>
					<item style="text-align: left;">
						訂單編號
						<span class="item-note">{{ form.bankatm.order_no }}</span>
					</item>
					<item>
						<span class="link-color">請聯繫客服核對到帳</span>
					</item>
				</list>

				<div class="padding">
					<button class="button button-light button-block" @click="bankatmBack">支付遇到問題，重新下單</button>
				</div>

			</div>

			<div v-if="form.bankatm.step == 1">
				<div class="cells deposit-box" >

					<div class="row">
						<div class="col">
							<div class="cards active" >
								<em class="atm"></em>
								<span class="text fs14">銀行匯款<div class="txt-small" style="margin-top:2px;">請匯款至右方帳號 </div></span>
								<span class="text fs14" style="min-width:160px;"> {{user.bank_atm.split(' ')[0]}}<div style="margin-top:3px;">帳號:{{user.bank_atm.split(' ')[1]}}</div></span>
							</div>
						</div>
					</div>


					<!--div class="row" style="margin-top:6px;">
						<div class="col">
							<div class="cards" >
								<span class="text fs14">
									存款帳號: {{user.bank_atm.split(' ')[0]}}
								</span>
							</div>
						</div>
					</div-->

				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('htpay_amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金額</span>
						<input type="tel" v-model="form.bankatm.amount" ref="htpay_amount" :placeholder="'請輸入金額'+this.min_amount+'-'+this.max_amount+'元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.bankatm.limit = !form.bankatm.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.bankatm.limit == true">
					<span class="pull-right">{{ limitDesc() }}</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.bankatm.amount = 1000">1000元</button>
					<button class="button button-light button-small button-outline" @click="form.bankatm.amount = 3000">3000元</button>
					<button class="button button-light button-small button-outline" @click="form.bankatm.amount = 5000">5000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="bankatmNext('bankatm')">下一步</button>
				</div>

			</div>

		</div>

		<!--VIP存款-->
		
		<div v-if="showPay(tabIndex,'VIP存款')">

			<div class="cells step-box">

				<yd-step :current="form.bankatm.step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>

				</yd-step>
			</div>


			<div v-if="form.bankatm.step == 2">
				<div class="cells deposit-box">
						<div class="text-center fs14 mt10 mb10">存款金額 </div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs20">{{ form.bankatm.amount }}</span> 元</div>

				</div>


				<list class="list-ios" style="margin-bottom:10px;text-align: center;">
					<item style="text-align: left;">
						成單時間
						<span class="item-note">{{ form.bankatm.order_time }}</span>
					</item>
					<item style="text-align: left;">
						訂單編號
						<span class="item-note">{{ form.bankatm.order_no }}</span>
					</item>
					<item>
						<span class="link-color">請聯繫客服核對到帳</span>
					</item>
				</list>

				<div class="padding">
					<button class="button button-light button-block" @click="bankatmBack">支付遇到問題，重新下單</button>
				</div>

			</div>

			<div v-if="form.bankatm.step == 1">
				<div class="cells deposit-box" >

					<div class="row">
						<div class="col">
							<div class="cards active" >
								<span class="text fs14">{{user.vip_bank}} </span>
							</div>
						</div>
					</div>
					<div class="padding fs14 tip-box">
						注意:
						<ol>
							<li>VIP儲值跟線上客服申請VIP儲值帳號</li>
							<li>每組VIP儲值帳號保留時間為30分鐘</li>
							<li>每次儲值需每次重新申請</li>
							<li>儲值成功後，提交名細給客服，耐心等候幣商審核成功會自動上分</li>
						</ol>
					</div>
				</div>



				<div class="von-input-wrapper">
					<label class="item item-borderless item-input von-input"  @click="focusSelectAll('htpay_amount')">
						<div class="hairline-top"></div>
						<span class="input-label">金額</span>
						<input type="tel" v-model="form.bankatm.amount" ref="htpay_amount" :placeholder="'請輸入10000-2000000元'" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
						<div class="buttons" @click="form.bankatm.limit = !form.bankatm.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
						<div class="hairline-bottom"></div>
					</label>

				</div>

				<div class="item item-divider" v-if="form.bankatm.limit == true">
					<span class="pull-right">單筆限額(元):10000 - 2000000</span>
				</div>
				<div class="item" style="padding-bottom:11px;padding-top:10px;">
					<button class="button button-light button-small button-outline" @click="form.bankatm.amount = 10000">10000元</button>
					<button class="button button-light button-small button-outline" @click="form.bankatm.amount = 30000">30000元</button>
					<button class="button button-light button-small button-outline" @click="form.bankatm.amount = 50000">50000元</button>
				</div>
				<div class="padding">
					<button class="button button-positive button-block" @click="bankatmNext('vipbank')">下一步</button>
				</div>


			</div>

		</div>



			<div class="padding fs14 tip-box">
				<p class="fw700">溫馨提示</p>
				<p>為確保您的款項及時到帳，請您留意以下幾點：</p>
				<ol>
				<li>若您支付過程中遇到問題且未完成支付，請重新下單</li>
				<li>若您支付遇到困難，聯繫線上客服獲得幫助</li>
				</ol>
			</div>



			<div v-html="form.ecpay.response" style="display:none;"></div>
		</div>
	</div>
</template>
<script>
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
import { apiGetPayRule,apiPaymentEcpay,apiPaymentNewebPay,apiPaymentHtpay,apiPaymentfafago , apiCheckPaymentOrderNo,apiPaymentBankAtm,apiPaymentpay8957,apiPaymentVIPBank,apiPaymentleepay,apiPaymentfunpay } from 'api.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			min_amount: 1000,
			max_amount: 10000,
			CheckPayRule:{
				bankatm: false,
				htpay: false,
				ecpay: false,
				newebpay: false,
				fafago: false,
				pay8957: false,
				vipbank: false,
				leepay: false,
				FunPay: false,
			},
			patment_switch:{
				atm:false,
				store:false,
			},
			tabs: [		
				// "綠界渠道",
				// "藍新渠道",
				// "匯通渠道",
				// "三方渠道",
				// "銀行匯款",
			],
			tabIndex:0,

			form:{				
				bankatm:{
					paymentType:'_BANKATM',
					amount:'',
					load:false,
					response:'',
					limit:false,
					endTime : '',
					step:1,
					order_no: '',
					order_time:'',

				},
				htpay:{
					paymentType:'VBANK',
					amount:'',
					load:false,
					response:'',
					limit:false,
					endTime : '',
					step:1,
					order_no: '',
					order_time:'',

				},
				ecpay:{
					paymentType:'ATM',
					amount:'',
					load:false,
					response:'',
					limit:false,
					endTime : '',
					step:1,
					order_no: '',
					order_time:'',

				},
				newebpay:{
					paymentType:'WEBATM',
					amount:'',
					load:false,
					response:'',
					limit:false,
					endTime : '',
					step:1,
					order_no: '',
					order_time:'',
				},
				fafago:{
					paymentType:'1',
					amount:'',
					load:false,
					response:'',
					limit:false,
					endTime : '',
					step:1,
					order_no: '',
					order_time:'',

				}
			},

		}
	},
    components: {

    },
	computed:{

	},
	mounted() {

	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),


	},
	methods: {
		limitDesc(){
			return '單筆限額(元):' + this.min_amount + ' - ' + this.max_amount;
		},
		showPay(index,key)
		{
				// "綠界渠道",
				// "藍新渠道",
				// "匯通渠道",
				// "三方渠道",
				// "銀行匯款",	
			if(this.tabs[index]==key)
			{
				return true;
			}
		},
		onTabClick(index) {
			this.tabIndex = index;
		},
		focusSelectAll(target){
			this.$refs[target].focus();
			this.$refs[target].setSelectionRange(0,-1);
		},
		getPayRule()
		{
			apiGetPayRule({
				})
				.then(response => {
					if (response.data.status)	{
						this.tabs.splice(0,this.tabs.length);
						for(var n in response.data.data)
						{
						
							switch(response.data.data[n]['payment'])
							{
								case 'VIPBank':
									this.tabs.push('VIP存款');
									this.CheckPayRule.vipbank = true;
									break;
								case 'BankATM':
									this.tabs.push('銀行匯款');
									this.CheckPayRule.bankatm = true;
									break;
								case 'HTPay':
									this.tabs.push('匯通渠道');
									this.CheckPayRule.htpay = true;
									break;
								case 'ECPay':
									this.tabs.push('綠界渠道');
									this.CheckPayRule.ecpay = true;
									break;
								case 'NewebPay':
									this.tabs.push('藍新渠道');
									this.CheckPayRule.newebpay = true;
									break;
								case 'FAFAGO':
									this.tabs.push('三方渠道');
									this.CheckPayRule.fafago = true;
									break;
								case 'PAY8957':
									this.tabs.push('PAY8957');
									this.CheckPayRule.pay8957 = true;
									break;
								case 'LeePay':
									this.tabs.push('LeePay');
									this.CheckPayRule.leepay = true;
									break;
								case 'FunPay':
									this.tabs.push('FunPay');
									this.CheckPayRule.FunPay = true;
									break;
							}
						}
						if(response.data.payment_switch.atm=="1"){
							this.patment_switch.atm=true;
						}
						if(response.data.payment_switch.store=="1"){
							this.patment_switch.store=true;
						}
					}
			}).catch(error => {
				console.log(error);
			});
		},
		ecpayOrderFail(){
			this.form.ecpay.step = 1;
			let options = {
				effect: 'scale',
				title: '',
				showClose: false,
				buttons: [
				  {text: '我知道了'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">訂單已失效</div>', options);

			popup.show().then((buttonIndex) => {
			})

		},
		ecpayCheckOrder(order_no){
			if (this.form.ecpay.step == 2)	{
				setTimeout(() => {
					//console.log('123');
					apiCheckPaymentOrderNo({'order_no':order_no})
						.then(response => {
							if (response.data.status)	{
								this.ecpayFinish();
							}
							else {
								this.ecpayCheckOrder(order_no);
							}
					}).catch(error => {
						console.log(error);
					});
				}, 10000);
			}
		},

		ecpayNext() {
			if (!this.form.ecpay.amount) {
				return $toast.show('請輸入金額');
			}
			if (parseInt(this.form.ecpay.amount) < 100 || parseInt(this.form.ecpay.amount) > 10000)	{
				return $toast.show('請輸入金額範圍 100 ~ 10000');
			}


			this.$dialog.loading.open('訂單產生中...');
			setTimeout(() => {
				if(this.isIOS()) {
					var newWindow = window.open("about:blank", '');
				}

				apiPaymentEcpay({
						'payment_type' : this.form.ecpay.paymentType,
						'amount' : this.form.ecpay.amount
					})
					.then(response => {
						this.$dialog.loading.close();
						if (response.data.status == 0){
							return $toast.show(response.data.message);
						}
						else {
							//this.form.ecpay.response = response.data.response;
							//console.log(response.data);
							if(this.isIOS()) {
								newWindow.location.href = response.data.response;
							}
							else {
								window.open(response.data.response,'', '');
							}

							//var rechargeWindows = window.open('about:blank', '');
							//setTimeout(function(){
							//	rechargeWindows.document.write(response.data.response);
							//	rechargeWindows.document.getElementById("__ecpayForm").submit();

								//document.getElementById("__ecpayForm").setAttribute("target", "recharge");
								//document.getElementById("__ecpayForm").submit();

							//}, 500);
							this.form.ecpay.order_no = response.data.order_no;
							this.form.ecpay.order_time = response.data.order_time;
							this.form.ecpay.step = 2;
							this.form.ecpay.endTime = new Date(new Date().getTime() + 900*1000);
							this.ecpayCheckOrder(this.form.ecpay.order_no);
						}


					}).catch(error => {
						this.$dialog.loading.close();
						console.log(error);
					});


				//this.$dialog.loading.close();


			}, 500);


		},
		ecpayBack(){
			this.form.ecpay.step = 1;
			this.form.ecpay.endTime = '';
		},
		ecpayFinish(){
			this.form.ecpay.step = 3;
			this.$store.dispatch('getUserInfo');
		},





		newebpayOrderFail(){
			this.form.newebpay.step = 1;
			let options = {
				effect: 'scale',
				title: '',
				showClose: false,
				buttons: [
				  {text: '我知道了'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">訂單已失效</div>', options);

			popup.show().then((buttonIndex) => {
			})

		},
		newebpayCheckOrder(order_no){
			if (this.form.newebpay.step == 2)	{
				setTimeout(() => {
					//console.log('123');
					apiCheckPaymentOrderNo({'order_no':order_no})
						.then(response => {
							if (response.data.status)	{
								this.newebpayFinish();
							}
							else {
								this.newebpayCheckOrder(order_no);
							}
					}).catch(error => {
						console.log(error);
					});
				}, 10000);
			}
		},

		newebpayNext() {
			if (!this.form.newebpay.amount) {
				return $toast.show('請輸入金額');
			}
			if (parseInt(this.form.newebpay.amount) < 100 || parseInt(this.form.newebpay.amount) > 10000)	{
				return $toast.show('請輸入金額範圍 100 ~ 10000');
			}


			this.$dialog.loading.open('訂單產生中...');
			setTimeout(() => {
				if(this.isIOS()) {
					var newWindow = window.open("about:blank", '');
				}

				apiPaymentNewebPay({
						'payment_type' : this.form.newebpay.paymentType,
						'amount' : this.form.newebpay.amount
					})
					.then(response => {
						this.$dialog.loading.close();
						if (response.data.status == 0){
							return $toast.show(response.data.message);
						}
						else {

							if(this.isIOS()) {
								newWindow.location.href = response.data.response;
							}
							else {
								window.open(response.data.response,'', '');
							}

							this.form.newebpay.order_no = response.data.order_no;
							this.form.newebpay.order_time = response.data.order_time;
							this.form.newebpay.step = 2;
							this.form.newebpay.endTime = new Date(new Date().getTime() + 900*1000);
							this.newebpayCheckOrder(this.form.newebpay.order_no);
						}


					}).catch(error => {
						this.$dialog.loading.close();
						console.log(error);
					});




			}, 500);


		},
		newebpayBack(){
			this.form.newebpay.step = 1;
			this.form.newebpay.endTime = '';
		},
		newebpayFinish(){
			this.form.newebpay.step = 3;
			this.$store.dispatch('getUserInfo');
		},







		htpayOrderFail(){
			this.form.htpay.step = 1;
			let options = {
				effect: 'scale',
				title: '',
				showClose: false,
				buttons: [
				  {text: '我知道了'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">訂單已失效</div>', options);

			popup.show().then((buttonIndex) => {
			})

		},
		htpayCheckOrder(order_no){
			if (this.form.htpay.step == 2)	{
				setTimeout(() => {
					//console.log('123');
					apiCheckPaymentOrderNo({'order_no':order_no})
						.then(response => {
							if (response.data.status)	{
								this.htpayFinish();
							}
							else {
								this.htpayCheckOrder(order_no);
							}
					}).catch(error => {
						console.log(error);
					});
				}, 10000);
			}
		},

		htpayNext() {
			if (!this.form.htpay.amount) {
				return $toast.show('請輸入金額');
			}
			if (parseInt(this.form.htpay.amount) < 100 || parseInt(this.form.htpay.amount) > 10000)	{
				return $toast.show('請輸入金額範圍 100 ~ 10000');
			}


			this.$dialog.loading.open('訂單產生中...');
			setTimeout(() => {
				if(this.isIOS()) {
					var newWindow = window.open("about:blank", '');
				}

				apiPaymentHtpay({
						'payment_type' : this.form.htpay.paymentType,
						'amount' : this.form.htpay.amount
					})
					.then(response => {
						this.$dialog.loading.close();
						if (response.data.status == 0){
							return $toast.show(response.data.message);
						}
						else {

							if(this.isIOS()) {
								newWindow.location.href = response.data.response;
							}
							else {
								window.open(response.data.response,'', '');
							}

							this.form.htpay.order_no = response.data.order_no;
							this.form.htpay.order_time = response.data.order_time;
							this.form.htpay.step = 2;
							this.form.htpay.endTime = new Date(new Date().getTime() + 900*1000);
							this.htpayCheckOrder(this.form.htpay.order_no);
						}


					}).catch(error => {
						this.$dialog.loading.close();
						console.log(error);
					});




			}, 500);


		},
		htpayBack(){
			this.form.htpay.step = 1;
			this.form.htpay.endTime = '';
		},
		htpayFinish(){
			this.form.htpay.step = 3;
			this.$store.dispatch('getUserInfo');
		},

		fafagoOrderFail(){
			this.form.fafago.step = 1;
			let options = {
				effect: 'scale',
				title: '',
				showClose: false,
				buttons: [
				  {text: '我知道了'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14 text-center">訂單已失效</div>', options);

			popup.show().then((buttonIndex) => {
			})

		},
		fafagoCheckOrder(order_no){
			if (this.form.fafago.step == 2)	{
				setTimeout(() => {
					//console.log('123');
					apiCheckPaymentOrderNo({'order_no':order_no})
						.then(response => {
							if (response.data.status)	{
								this.fafagoFinish();
							}
							else {
								this.fafagoCheckOrder(order_no);
							}
					}).catch(error => {
						console.log(error);
					});
				}, 10000);
			}
		},

		fafagoNext(pay_url) {
			if (!this.form.fafago.amount) {
				return $toast.show('請輸入金額');
			}
			if (parseInt(this.form.fafago.amount) < this.min_amount || parseInt(this.form.fafago.amount) > this.max_amount)	{
				return $toast.show('請輸入金額範圍 '+this.min_amount+' ~ '+this.max_amount);
			}

			let api_router = null;
			switch(true)
			{
				case pay_url=="fafago":
					api_router = apiPaymentfafago;
					break;
				case pay_url=="pay8957":
					api_router = apiPaymentpay8957;
					break;
				case pay_url=="leepay":
					api_router = apiPaymentleepay;
					break;
				case pay_url=="FunPay":
					api_router = apiPaymentfunpay;
					break;
			}

			this.$dialog.loading.open('訂單產生中...');
			setTimeout(() => {
				// if(this.isIOS()) {
				// 	var newWindow = window.open("about:blank", '');
				// }

				api_router({
						'payment_type' : this.form.fafago.paymentType,
						'amount' : this.form.fafago.amount
					})
					.then(response => {
						this.$dialog.loading.close();
						if (response.data.status == 0){
							return $toast.show(response.data.message);
						}
						else {
							/*
							if(this.isIOS()) {
								newWindow.location.href = response.data.response;
							}
							else {
								window.open(response.data.response,'', '');
							}
							this.form.fafago.order_no = response.data.order_no;
							this.form.fafago.order_time = response.data.order_time;
							this.form.fafago.step = 2;
							this.form.fafago.endTime = new Date(new Date().getTime() + 900*1000);
							*/
							window.location.href = response.data.response;
							//this.fafagoCheckOrder(this.form.fafago.order_no);

						}


					}).catch(error => {
						this.$dialog.loading.close();
						console.log(error);
					});
			}, 500);
		},
		fafagoBack(){
			this.form.fafago.step = 1;
			this.form.fafago.endTime = '';
		},
		fafagoFinish(){
			this.form.fafago.step = 3;
			this.$store.dispatch('getUserInfo');
		},

		bankatmNext(pay_url) {
			if (!this.form.bankatm.amount) {
				return $toast.show('請輸入金額');
			}
			if(pay_url=='vipbank')
			{
				if (parseInt(this.form.bankatm.amount) < 10000 || parseInt(this.form.bankatm.amount) > 2000000)	{
					return $toast.show('請輸入金額範圍 10000 ~ 2000000');
				}
			}else
			{
				if (parseInt(this.form.bankatm.amount) < this.min_amount || parseInt(this.form.bankatm.amount) > this.max_amount)	{
					return $toast.show('請輸入金額範圍 100 ~ 10000');
				}				
			}

			let api_router = null;
			switch(true)
			{
				case pay_url=="bankatm":
					api_router = apiPaymentBankAtm;
					break;
				case pay_url=="vipbank":
					api_router = apiPaymentVIPBank;
					break;
			}

			this.$dialog.loading.open('訂單產生中...');
			setTimeout(() => {

				api_router({
						'payment_type' : this.form.bankatm.paymentType,
						'amount' : this.form.bankatm.amount
					})
					.then(response => {
						this.$dialog.loading.close();
						if (response.data.status == 0){
							return $toast.show(response.data.message);
						}
						else {


							this.form.bankatm.order_no = response.data.order_no;
							this.form.bankatm.order_time = response.data.order_time;
							this.form.bankatm.step = 2;
							this.form.bankatm.endTime = new Date(new Date().getTime() + 900*1000);
						}


					}).catch(error => {
						this.$dialog.loading.close();
						console.log(error);
					});




			}, 500);


		},
		bankatmBack(){
			this.form.bankatm.step = 1;
			this.form.bankatm.endTime = '';
		},




	},
	created() {
		this.getPayRule();
	}

}
</script>
<style>
.page-content.deposit-page {
	/*padding-top:92px !important;*/
}
.deposit-page .yd-step {
	padding-top: 50px;
}
.deposit-page .tab-item {
	width: 50%;
	max-width: none;

}
.deposit-page .tab-item.active{
    border-color: #4a90e2;
}

.deposit-page .bar.bar-header,.deposit-page .tabs {
	position:fixed;
	background-color: #444;
    color: #bbb;
}

.deposit-page .step-box {
	color:#777;
	padding:15px 0px 5px 0;
}
.deposit-page .button.button-light.button-outline {
	border-color:#ddd;
	color:#bbb;
	padding: 2px 10px;
	font-size:14px;
}
.deposit-page .deposit-box {
	padding: 10px 5px;
}
.deposit-page .tip-box {
	color:#bbb;
}
.deposit-page .tip-box ol {
	list-style-type: decimal;
    margin-left: 12px;
	    padding-left: 6px;

}
.deposit-page .deposit-box .cards.active {
	border:1px solid #66b1ff;
	background-color: rgba(102, 177, 255, .1);
}
.deposit-page .deposit-box .cards.active:after {
	position: absolute;
    right: 0;
    content: " ";
	bottom: 0;
    width: 0;
    height: 0;
    border-width: 0 0 25px 25px;
    border-style: solid;
    border-color: transparent transparent #66b1ff;
}
.deposit-page .deposit-box .cards.active:before {
	position: absolute;
    right: 0;
    content: " ";
	bottom: 2px;
    background: url(~assets/images/user/gou.png) no-repeat;
    width: 14px;
    height: 11px;
    z-index: 1;
}
.deposit-page .deposit-box .col {
	margin:0 5px;
}
.deposit-page .deposit-box .cards {

	border:1px solid #dedede;
	width:100%;
	min-width:165px;
	margin:0 auto;
	height:54px;
	line-height:50px;
	color:#ddd;



}
.deposit-page .deposit-box .cards .text {
	display:inline-block;
    line-height: 15px;
    vertical-align: middle;
	text-align:left;
	margin-top:4px;
	min-width:111px;
}
.deposit-page .deposit-box .cards .txt-small {
	font-size:12px;
	color:#999;

}
.deposit-page .deposit-box em {
    display: inline-block!important;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background: 50% no-repeat;
    background-size: cover;
    margin-right: 3px;
}
.deposit-page .deposit-box em.atm {
    background-image: url(~assets/images/user/deposit_atm.png);
}
.deposit-page .deposit-box em.cvs {
	width:36px;
	height:36px;
    background-image: url(~assets/images/user/deposit_711.png);
}
.deposit-page .deposit-box em.ok {
	width:34px;
	height:34px;
    background-image: url(~assets/images/user/deposit_ok.png);
}
.deposit-page .deposit-box em.life {
	width:34px;
	height:34px;
    background-image: url(~assets/images/user/deposit_life.png);
}
.deposit-page .deposit-box em.family {
	width:31px;
	height:31px;
    background-image: url(~assets/images/user/deposit_family.png);
}
.deposit-page .deposit-box em.ibon {
	width:30px;
	height:30px;
    background-image: url(~assets/images/user/deposit_ibon.png);
	    margin: 0 6px;
}

.deposit-page .button-light:active:not(.md-button) {
    background-color: #ffbd17;

}

/*.deposit-page .tabs {display:none;}*/
</style>
