<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top email-page">
			<div class="item item-divider">
			</div>

			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">電子信箱</span>
					<yd-input slot="right" v-model="email" regex="email" placeholder="請輸入電子信箱" :show-required-icon="false" min="10"></yd-input>
				</yd-cell-item>

			</yd-cell-group>

			<div class="padding">
				<button class="button button-positive button-block" @click="submit">確認</button>
			</div>
		</div>
	</div>
</template>
<script>
import {Input} from 'vue-ydui/dist/lib.px/input';
import { apiSetupEmail } from 'api.js'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			email: '',
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		submit(){
			let reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/;
            if (!reg.test(this.email)) {
                $toast.show("信箱格式錯誤");
				return;
            }
			apiSetupEmail({
                        'email' : this.email
                    })
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						this.user.email = this.email;
						$toast.show(response.data.message, 1000).then(() => {
							this.$router.go(-1);
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		}
	},
	mounted(){
		this.$set(this, 'email', this.user.email);
		//console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
	}
}
</script>
<style>
.email-page .yd-cell-item {
	padding-left:14px;
}
.email-page .yd-cell-item .yd-cell-left{
	min-width:90px;
}
</style>
