<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content mail-page">
            <badge v-if="this.user.unread > 0" :num="this.user.unread"></badge>
			<tabs :tab-items="tabs" :tab-index="tabIndex" position="top" bg-color="Light" tab-color="" :on-tab-click="onTabClick" style="background-color: #2a2a2a;"></tabs>

			<scroll v-if="tabIndex == 0" class="mail-content"
					:on-refresh="onRefreshBulletin">

				<item v-for="(item, index) in bulletin.data" :key="index" @click.native="onItemClick(index)" class="bulletin-item">

					<div class="card">
						<div class="time fs14">
							{{ item.start_time.split(' ')[0] }}
						</div>
						<div class="title">
							{{ item.title }}
						</div>

						<div class="line"></div>
						<div class="content" v-html="item.content"></div>
					</div>
				</item>
				<div class="no-record" v-if="!bulletin.data.length"></div>

			</scroll>


			<scroll v-if="tabIndex == 1" class="mail-content" :on-refresh="onRefreshMail">
				<item v-for="(item, index) in mail.data" :key="index" @click.native="onItemClick(index)" class="bulletin-item">
					<div class="card">

							<div class="time fs14">
								{{ item.created_at.split(' ')[0] }}
							</div>

						<div class="title">
							<yd-badge shape="square" :type="item.is_read ? 'primary' : 'danger'">{{ item.is_read ? '已讀': '未讀'}}</yd-badge>
						</div>


						<div class="line"></div>
						<div class="content" v-html="item.content"></div>
					</div>
				</item>

				<div class="no-record" v-if="!mail.data.length"></div>


			</scroll>
		</div>
	</div>
</template>
<script>
import { apiBulletin, apiMail, apiMailRead } from 'api.js'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			tabIndex: 0,
			tabs: [
				"系統公告",
				"站內信件",
			],
			infiniteCount: 0,
			bulletin:{
				data:[],
			},
			mail:{
				data:[],
			},
			notify: {
				title: "",
				detail: "",
				date: ""
			},
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
	},
	methods: {
		syncBulletin() {
			apiBulletin()
				.then(response => {
					if (response.data) {
						this.bulletin.data = response.data;
						this.web.bulletins = response.data;
						//console.log(this.bulletin.data);
					}
				})
				.catch(error => {
					console.log(error);
				});
		},
		syncMail() {
			apiMail()
				.then(response => {
					if (response.data) {
						this.mail.data = response.data;
						//console.log(this.mail.data);
					}
				})
				.catch(error => {
					console.log(error);
				});
		},
		onTabClick(index) {
			this.tabIndex = index;
			/*
			if(this.tabIndex == 0) {
				this.syncBulletin();
			}
			else {
				this.syncMail();
			}*/
		},
		onRefreshBulletin(done) {
			setTimeout(() => {
				this.syncBulletin();
				done()
			}, 500)
		},
		onRefreshMail(done) {
			setTimeout(() => {
				this.syncMail();
				done()
			}, 500)
		},
		onItemClick(index) {
			console.log(index);
			if(this.tabIndex == 0)
				this.bulletinPopup(index);
			else
				this.mailPopup(index);
		},
		mailPopup(index) {
			if(!this.mail.data[index].is_read){
				apiMailRead(this.mail.data[index].id)
					.then(response => {
						this.mail.data[index].is_read = 1;
                        this.user.unread = this.user.unread - 1;
					})
					.catch(error => {
						console.log(error);
					});
			}


			this.notify.detail = this.mail.data[index].content;
			this.notify.title = '';
			this.notify.date = this.mail.data[index].created_at;

			let options = {
				cssClass:'bulletinPopup',
				effect: 'scale',
				/*title: '系統公告',*/
				showClose: true,
				buttons: [
				]
			}
			let popup = $popup.fromTemplate(this.notify.title + '<div class="mt10 mb10 fs14">'+this.notify.detail+'</div>'+ '<div>'+this.notify.date+'</div>', options);
			popup.show().then((buttonIndex) => {

			})
		},
		bulletinPopup(index) {
			this.notify.detail = this.web.bulletins[index].content;
			this.notify.title = this.web.bulletins[index].title;
			this.notify.date = this.web.bulletins[index].start_time;

			let options = {
				cssClass:'bulletinPopup',
				effect: 'scale',
				/*title: '系統公告',*/
				showClose: true,
				buttons: [
				]
			}
			let popup = $popup.fromTemplate(this.notify.title + '<div class="mt10 mb10 fs14">'+this.notify.detail+'</div>'+ '<div>'+this.notify.date.split(' ')[0]+'</div>', options);
			popup.show().then((buttonIndex) => {

			})
		},
	},
	mounted(){
		//console.log(this.user.isLogin);
		this.syncBulletin();
		this.syncMail();
	}
}
</script>
<style scoped>
.page-content.mail-page .von-badge{
	position:fixed;
  top: 60px;
  right: 36px;
}
.page-content.mail-page {
	padding-top:92px;
}
.mail-content{
    position: absolute;
    top: 52px;
}
.bulletin-item{
	background: transparent;
	padding:10px;
}
.bulletin-item .time{
	float:right;
	line-height:40px;
}
.bulletin-item .card {
    margin: 0;
    padding: 0 10px;
	background: #eee;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    position: relative;
    border-radius: 2px;
	font-size: 14px;
	color: #333;
}
.bulletin-item .card .title {
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #555;
    font-size: 15px;
}
.bulletin-item .card .line {
    position: relative;
}
.bulletin-item .card .line:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #666;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%;
    transform: scaleY(.5);
}
.bulletin-item .card .content {
    padding: 10px 0;
    line-height: 18px;
	overflow: hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}

.von-popup.bulletinPopup {
	min-width:310px;
}
.von-popup.bulletinPopup .popup-body {
	font-size:14px;
	text-align:left;
}

</style>
<style>
.mail-page .tab-item {
	width: 50%;
	max-width: none;

}
.mail-page .tabs-striped .tabs{
	background-color: #2a2a2a ;
    color: #ddd ;
}
.mail-page .tab-item.active{
    border-color: #4a90e2;
}
</style>
