<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top mobile-page">
			<div class="item item-divider">
			</div>

			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">提款密碼</span>
					<yd-input slot="right" type="password" required v-model="cash_password" placeholder="請輸入提款密碼" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">手機號碼</span>
					<yd-input slot="right" type="tel" required v-model="tel" placeholder="請輸入手機號碼" max="10" min="10" :show-required-icon="false" regex="^09[0-9]{8}$"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">驗證碼</span>
					<input type="text" v-model="code" slot="right" placeholder="請輸入驗證碼" maxlength="6">

					<yd-sendcode slot="right"
								second="300"
								storage-key="mobileCode"
								init-str="獲取驗證碼"
								v-model="start1"
								@click.native="sendCode"
								type="warning"
					>
					</yd-sendcode>
				</yd-cell-item>
			</yd-cell-group>

			<div class="padding">
				<button class="button button-positive button-block" @click="submit">認證</button>
			</div>
		</div>
	</div>
</template>
<script>
//import {Input} from 'vue-ydui/dist/lib.px/input';
import { apiSmsAuth, apiVerifyMobile } from 'api.js'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			start1: false,
			username: '',
			cash_password: '',
			tel: '',
			code: ''
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		sendCode(){
			let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
			if(!reg_pwd.test(this.cash_password)){
				$toast.show('提款密碼格式不正確,請輸入6-12位數字及字母組合');
				return;
			}

			let reg_mobile = /^09[0-9]{8}$/;
			if(!reg_mobile.test(this.tel)){
				$toast.show('請輸入正確的手機號碼');
				return;
			}

			this.$dialog.loading.open('發送中...');
			setTimeout(() => {

				this.$dialog.loading.close();

				apiSmsAuth({
							'company' : this.config.company,
							'cash_password' : this.cash_password,
							'mobile' : this.tel
						})
					.then(response => {
						if (!response.data.status) {
							return $toast.show(response.data.message);
						}
						else {
							this.start1 = true;
							$toast.show('簡訊已發送');
						}
					})
					.catch(error => {
						console.log(error);
					});
			}, 1000);
		},
		submit() {
			let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
			if(!reg_pwd.test(this.cash_password)){
				$toast.show('提款密碼格式不正確,請輸入6-12位數字及字母組合');
				return;
			}
			if(!/[0-9]{4}/.test(this.code)){
				return $toast.show('請正確的輸入驗證碼');
			}
			apiVerifyMobile({
                        'company' : this.config.company,
                        'cash_password' : this.cash_password,
                        'mobile' : this.tel,
                        'code' : this.code
                    })
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
                        this.user.mobile = this.tel;
						$toast.show(response.data.message, 1000).then(() => {
							this.$router.go(-1);
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		}
	},
	mounted(){
		//console.log(this.user.isLogin);
		/*
		if(!this.user.is_cash_password){
			$toast.show("您尚未設定提款密碼，請先前往設定", 2000).then(() => {
				this.go2page('/user/cash-password');
			});
		}*/
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
		if(!this.user.is_cash_password){
			let options = {
				effect: 'scale',
				title: '',
				showClose: false,
				buttons: [
				  {text: '取消'},
				  {text: '確定前往'},
				]
			}
			let popup = $popup.fromTemplate('<div class="fs14">請先完善提款密碼後才能認證手機號碼<br>請問是否前往?</div>', options);

			popup.show().then((buttonIndex) => {
				if (buttonIndex == 0){
					this.$router.go(-1);
				}
				if (buttonIndex == 1){
					this.go2page('/user/cash-password');
				}
			})
		}


	},
	created() {

	}
}
</script>
<style scoped>
.captcha-btn {
	display: inline-block;
	vertical-align: middle;
}
.btn-captcha {
	position: relative;
	float: right;
	top: -42px;
	right: 8px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	width: 120px;
	font-weight: 700;
	border: 1px solid #00BBFF;
	border-radius: 6px;
	background: #fff;
	color: #00BBFF!important;
	text-align: center;
	z-index: 3;
	cursor: pointer;
}

</style>
<style>
.mobile-page .yd-cell-item {
	padding-left:14px;
}
.mobile-page .yd-cell-item .yd-cell-left{
	min-width:90px;
}
</style>
