<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true}">
		<div class="page-content padding-top setbank-page">

			<!--input required v-model="user.bank.bank_value" class="bank-list" name="bankLists" id="bankLists" @click.stop="openModal('bankModal',$event)" placeholder="請選擇銀行"></input-->
			<div class="item item-divider">
			</div>
			<yd-cell-group>
				<yd-cell-item>
					<span slot="left">銀行名稱</span>
					<yd-input :disabled="isSetted" slot="right" required v-model="user.bank.bank_value" min="4" :show-required-icon="false" placeholder="請選擇銀行名稱" @click.native.stop="openModal('bankModal',$event)" :readonly="true"></yd-input>
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">分行名稱</span>
					<yd-input :disabled="isSetted" slot="right" required v-model="user.bank.bank_name" max="20" min="4" :show-required-icon="false" placeholder="請輸入分行名稱"></yd-input>
				</yd-cell-item>

				<yd-cell-item>
					<span slot="left">銀行帳號</span>
					<yd-input :disabled="isSetted" slot="right" required v-model="user.bank.bank_account" max="20"  min="5" :show-required-icon="false" placeholder="請輸入銀行帳號"></yd-input>
				</yd-cell-item>

				<yd-cell-item>
					<span slot="left">銀行戶名</span>
					<yd-input slot="right" required v-model="user.bank.bank_username" max="20" min="2" :show-required-icon="false" placeholder="請輸入銀行戶名" :disabled="isSetted"></yd-input>
				</yd-cell-item>

			</yd-cell-group>
			<yd-cell-group v-if="!isSetted">
				<yd-cell-item>
					<span slot="left">提款密碼</span>
					<yd-input slot="right" type="password" v-model="pwd" placeholder="請輸入提款密碼" max="12" min="6" :show-required-icon="false" regex="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$"></yd-input>
				</yd-cell-item>
			</yd-cell-group>

			<div class="padding" v-if="!isSetted">
				<button class="button button-positive button-block" @click="submit">確認</button>
			</div>
			<div class="padding fs14 tip-box">
				<p class="fw700">溫馨提示</p>
				<p>銀行資料一旦設定完成將不可更改，如需更改請聯繫線上客服獲得幫助</p>
			</div>
		</div>
		<v-cascade
			filterable
			v-model="bankModal"
			:data="bankLists"
			:title="['銀行名稱']"
			noFoundStr="無相關資料"
			placeholder="請輸入銀行代碼或名稱"
			@success="selectBank"
			@cancel="cancel"
			:loading="false"
			></v-cascade>
	</div>
</template>
<script>
import { apiSetBank } from 'api.js'
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			//bankLists: ["004臺灣銀行","005土地銀行","006合庫商銀","007第一銀行","008華南銀行","009彰化銀行","011上海銀行","012台北富邦","013國泰世華","016高雄銀行","017兆豐商銀","018農業金庫","021花旗(台灣)銀行","022美國銀行","025首都銀行","039澳盛(台灣)銀行","048王道銀行","050臺灣企銀","052渣打商銀","053台中銀行","054京城商銀","072德意志銀行","075東亞銀行","081匯豐(台灣)銀行","082巴黎銀行","101瑞興銀行","102華泰銀行","103臺灣新光商銀","104台北五信","108陽信銀行","114基隆一信","115基隆二信","118板信銀行","119淡水一信","120淡水信合社","124宜蘭信合社","127桃園信合社","130新竹一信","132新竹三信","146台中二信","147三信銀行","158彰化一信","161彰化五信","162彰化六信","163彰化十信","165鹿港信合社","178嘉義三信","188台南三信","204高雄三信","215花蓮一信","216花蓮二信","222澎湖一信","223澎湖二信","224金門信合社","512雲林漁會","515嘉義漁會","517南市漁會","518南縣漁會","520小港漁會","520高雄漁會","521永安漁會","521林園漁會","521梓官漁會","521興達港漁會","521彌陀漁會","523東港漁會","523枋寮漁會","523林邊漁會","523琉球漁會","524新港漁會","525澎湖漁會","526金門漁會","600南龍漁會","600通苑漁會","600彰化漁會","600七股農會","600三義農會","600下營農會","600大內農會","600大肚農會","600中寮農會","600仁愛農會","600仁德農會","600北斗農會","600田尾農會","600安定農會","600西湖農會","600伸港農會","600官田農會","600林內農會","600南化農會","600南庄農會","600梧棲農會","600鹿谷農會","600麻豆農會","600新市農會","600溪州農會","600彰化農會","600福興農會","600線西農會","605高雄農會","612神岡農會","612豐原農會","613名間農會","613集集農會","614二林農會","614永靖農會","614竹塘農會","614秀水農會","614芬園農會","614芳苑農會","614員林農會","614埔心農會","614埤頭農會","616二崙農會","616口湖農會","616大埤農會","616斗六農會","616斗南農會","616古坑農會","616台西農會","616四湖農會","616西螺農會","616虎尾農會","616崙背農會","616莿桐農會","616褒忠農會","617大林農會","617六腳農會","617太保農會","617水上農會","617布袋農會","617民雄農會","617朴子農會","617竹崎農會","617東石農會","617梅山農會","617鹿草農會","617番路農會","617新港農會","617溪口農會","617義竹農會","617嘉義農會","618六甲農會","618北門農會","618永康農會","618玉井農會","618西港農會","618佳里農會","618將軍農會","618善化農會","618新營農會","618楠西農會","618歸仁農會","618鹽水農會","619大社農會","619大寮農會","619大樹農會","619小港農會","619仁武農會","619內門農會","619六龜農會","619永安農會","619田寮農會","619甲仙農會","619杉林農會","619岡山農會","619林園農會","619阿蓮農會","619美濃農會","619茄萣農會","619梓官農會","619鳥松農會","619湖內農會","619路竹農會","619鳳山農會","619橋頭農會","619燕巢農會","619彌陀農會","620九如農會","620竹田農會","620車城農會","620里港農會","620佳冬農會","620東港農會","620枋山農會","620枋寮農會","620林邊農會","620長治農會","620南州農會","620屏東市農會","620屏東縣農會","620恆春農會","620崁頂農會","620琉球農會","620高樹農會","620新園農會","620萬丹農會","620萬巒農會","620潮州農會","620麟洛農會","621吉安農會","621富里農會","621新秀農會","621壽豐農會","622太麻里農會","622台東農會","622成功農會","622池上農會","622東河農會","622長濱農會","622鹿野農會","622關山農會","624澎湖農會","625臺中農會","627連江縣農會","700中華郵政","803聯邦銀行","805遠東銀行","806元大銀行","807永豐銀行","808玉山銀行","809凱基銀行","810星展(台灣)銀行","812台新銀行","814大眾銀行","815日盛銀行","816安泰銀行","822中國信託","903汐止農會","910桃園漁會","910新竹漁會","910八德農會","910大園農會","910大溪農會","910平鎮農會","910桃園農會","910復興農會","910新屋農會","910楊梅農會","910龍潭農會","910龜山農會","910蘆竹農會","910觀音農會","922臺南農會","928大里農會","928冬山農會","928板橋農會","928草屯農會","928新莊農會","951基隆漁會","951瑞芳漁會","951萬里漁會","951頭城漁會","951蘇澳漁會","951八里農會","951三芝農會","951三星農會","951三重農會","951三峽農會","951土城農會","951士林農會","951中和農會","951中華民國農會","951五股農會","951五結農會","951內湖農會","951木柵農會","951北投農會","951北埔農會","951平溪農會","951石門農會","951石碇農會","951竹北農會","951竹東農會","951壯圍農會","951芎林農會","951坪林農會","951宜蘭農會","951林口農會","951金山農會","951南港農會","951後龍農會","951員山農會","951峨眉農會","951泰山農會","951基隆農會","951淡水農會","951深坑農會","951景美農會","951湖口農會","951新竹農會","951新店農會","951新埔農會","951新豐農會","951瑞芳農會","951樹林農會","951橫山農會","951頭城農會","951羅東農會","951關西農會","951寶山農會","951蘆洲農會","951蘇澳農會","951鶯歌農會","954二水農會","954三灣農會","954土庫農會","954大甲農會","954大安農會","954大村農會","954大城農會","954大湖農會","954大雅農會","954山上農會","954中埔農會","954元長農會","954內埔農會","954公館農會","954太平農會","954水里農會","954水林農會","954北港農會","954外埔農會","954左鎮農會","954玉溪農會","954田中農會","954白河農會","954石岡農會","954光豐農會","954后里農會","954竹山農會","954竹南農會","954沙鹿農會","954卓蘭農會","954和平農會","954和美農會","954東山農會","954東勢鄉農會","954東勢區農會","954社頭農會","954花蓮農會","954花壇農會","954阿里山農會","954信義農會","954南投農會","954後壁農會","954柳營農會","954苑裡農會","954苗栗農會","954埔里農會","954埔鹽農會","954烏日農會","954國姓農會","954清水農會","954通霄農會","954造橋農會","954魚池農會","954鹿港農會","954麥寮農會","954新化農會","954新社農會","954溪湖農會","954獅潭農會","954瑞穗農會","954銅鑼農會","954鳳榮農會","954潭子農會","954學甲農會","954頭份農會","954頭屋農會","954龍井農會","954龍崎農會","954礁溪農會","954關廟農會","954霧峰農會","804中華商業銀行"],
			isSetted: false,
			bankModal: false,
			bankLists: [{'key':'004','label':'004臺灣銀行'},{'key':'005','label':'005土地銀行'},{'key':'006','label':'006合庫商銀'},{'key':'007','label':'007第一銀行'},{'key':'008','label':'008華南銀行'},{'key':'009','label':'009彰化銀行'},{'key':'011','label':'011上海銀行'},{'key':'012','label':'012台北富邦'},{'key':'013','label':'013國泰世華'},{'key':'016','label':'016高雄銀行'},{'key':'017','label':'017兆豐商銀'},{'key':'018','label':'018農業金庫'},{'key':'021','label':'021花旗(台灣)銀行'},{'key':'022','label':'022美國銀行'},{'key':'025','label':'025首都銀行'},{'key':'039','label':'039澳盛(台灣)銀行'},{'key':'048','label':'048王道銀行'},{'key':'050','label':'050臺灣企銀'},{'key':'052','label':'052渣打商銀'},{'key':'053','label':'053台中銀行'},{'key':'054','label':'054京城商銀'},{'key':'072','label':'072德意志銀行'},{'key':'075','label':'075東亞銀行'},{'key':'081','label':'081匯豐(台灣)銀行'},{'key':'082','label':'082巴黎銀行'},{'key':'101','label':'101瑞興銀行'},{'key':'102','label':'102華泰銀行'},{'key':'103','label':'103臺灣新光商銀'},{'key':'104','label':'104台北五信'},{'key':'108','label':'108陽信銀行'},{'key':'114','label':'114基隆一信'},{'key':'115','label':'115基隆二信'},{'key':'118','label':'118板信銀行'},{'key':'119','label':'119淡水一信'},{'key':'120','label':'120淡水信合社'},{'key':'124','label':'124宜蘭信合社'},{'key':'127','label':'127桃園信合社'},{'key':'130','label':'130新竹一信'},{'key':'132','label':'132新竹三信'},{'key':'146','label':'146台中二信'},{'key':'147','label':'147三信銀行'},{'key':'158','label':'158彰化一信'},{'key':'161','label':'161彰化五信'},{'key':'162','label':'162彰化六信'},{'key':'163','label':'163彰化十信'},{'key':'165','label':'165鹿港信合社'},{'key':'178','label':'178嘉義三信'},{'key':'188','label':'188台南三信'},{'key':'204','label':'204高雄三信'},{'key':'215','label':'215花蓮一信'},{'key':'216','label':'216花蓮二信'},{'key':'222','label':'222澎湖一信'},{'key':'223','label':'223澎湖二信'},{'key':'224','label':'224金門信合社'},{'key':'512','label':'512雲林漁會'},{'key':'515','label':'515嘉義漁會'},{'key':'517','label':'517南市漁會'},{'key':'518','label':'518南縣漁會'},{'key':'52001','label':'520小港漁會'},{'key':'52002','label':'520高雄漁會'},{'key':'52101','label':'521永安漁會'},{'key':'52102','label':'521林園漁會'},{'key':'52103','label':'521梓官漁會'},{'key':'52104','label':'521興達港漁會'},{'key':'52105','label':'521彌陀漁會'},{'key':'52301','label':'523東港漁會'},{'key':'52302','label':'523枋寮漁會'},{'key':'52303','label':'523林邊漁會'},{'key':'52304','label':'523琉球漁會'},{'key':'524','label':'524新港漁會'},{'key':'525','label':'525澎湖漁會'},{'key':'526','label':'526金門漁會'},{'key':'60001','label':'600南龍漁會'},{'key':'60002','label':'600通苑漁會'},{'key':'60003','label':'600彰化漁會'},{'key':'60004','label':'600七股農會'},{'key':'60005','label':'600三義農會'},{'key':'60006','label':'600下營農會'},{'key':'60007','label':'600大內農會'},{'key':'60008','label':'600大肚農會'},{'key':'60009','label':'600中寮農會'},{'key':'60010','label':'600仁愛農會'},{'key':'60011','label':'600仁德農會'},{'key':'60012','label':'600北斗農會'},{'key':'60013','label':'600田尾農會'},{'key':'60014','label':'600安定農會'},{'key':'60015','label':'600西湖農會'},{'key':'60016','label':'600伸港農會'},{'key':'60017','label':'600官田農會'},{'key':'60018','label':'600林內農會'},{'key':'60019','label':'600南化農會'},{'key':'60020','label':'600南庄農會'},{'key':'60021','label':'600梧棲農會'},{'key':'60022','label':'600鹿谷農會'},{'key':'60023','label':'600麻豆農會'},{'key':'60024','label':'600新市農會'},{'key':'60025','label':'600溪州農會'},{'key':'60026','label':'600彰化農會'},{'key':'60027','label':'600福興農會'},{'key':'60028','label':'600線西農會'},{'key':'605','label':'605高雄農會'},{'key':'61201','label':'612神岡農會'},{'key':'61202','label':'612豐原農會'},{'key':'61301','label':'613名間農會'},{'key':'61302','label':'613集集農會'},{'key':'61401','label':'614二林農會'},{'key':'61402','label':'614永靖農會'},{'key':'61403','label':'614竹塘農會'},{'key':'61404','label':'614秀水農會'},{'key':'61405','label':'614芬園農會'},{'key':'61406','label':'614芳苑農會'},{'key':'61407','label':'614員林農會'},{'key':'61408','label':'614埔心農會'},{'key':'61409','label':'614埤頭農會'},{'key':'61601','label':'616二崙農會'},{'key':'61602','label':'616口湖農會'},{'key':'61603','label':'616大埤農會'},{'key':'61604','label':'616斗六農會'},{'key':'61605','label':'616斗南農會'},{'key':'61606','label':'616古坑農會'},{'key':'61607','label':'616台西農會'},{'key':'61608','label':'616四湖農會'},{'key':'61609','label':'616西螺農會'},{'key':'61610','label':'616虎尾農會'},{'key':'61611','label':'616崙背農會'},{'key':'61612','label':'616莿桐農會'},{'key':'61613','label':'616褒忠農會'},{'key':'61701','label':'617大林農會'},{'key':'61702','label':'617六腳農會'},{'key':'61703','label':'617太保農會'},{'key':'61704','label':'617水上農會'},{'key':'61705','label':'617布袋農會'},{'key':'61706','label':'617民雄農會'},{'key':'61707','label':'617朴子農會'},{'key':'61708','label':'617竹崎農會'},{'key':'61709','label':'617東石農會'},{'key':'61710','label':'617梅山農會'},{'key':'61711','label':'617鹿草農會'},{'key':'61712','label':'617番路農會'},{'key':'61713','label':'617新港農會'},{'key':'61714','label':'617溪口農會'},{'key':'61715','label':'617義竹農會'},{'key':'61716','label':'617嘉義農會'},{'key':'61801','label':'618六甲農會'},{'key':'61802','label':'618北門農會'},{'key':'61803','label':'618永康農會'},{'key':'61804','label':'618玉井農會'},{'key':'61805','label':'618西港農會'},{'key':'61806','label':'618佳里農會'},{'key':'61807','label':'618將軍農會'},{'key':'61808','label':'618善化農會'},{'key':'61809','label':'618新營農會'},{'key':'61810','label':'618楠西農會'},{'key':'61811','label':'618歸仁農會'},{'key':'61812','label':'618鹽水農會'},{'key':'61901','label':'619大社農會'},{'key':'61902','label':'619大寮農會'},{'key':'61903','label':'619大樹農會'},{'key':'61904','label':'619小港農會'},{'key':'61905','label':'619仁武農會'},{'key':'61906','label':'619內門農會'},{'key':'61907','label':'619六龜農會'},{'key':'61908','label':'619永安農會'},{'key':'61909','label':'619田寮農會'},{'key':'61910','label':'619甲仙農會'},{'key':'61911','label':'619杉林農會'},{'key':'61912','label':'619岡山農會'},{'key':'61913','label':'619林園農會'},{'key':'61914','label':'619阿蓮農會'},{'key':'61915','label':'619美濃農會'},{'key':'61916','label':'619茄萣農會'},{'key':'61917','label':'619梓官農會'},{'key':'61918','label':'619鳥松農會'},{'key':'61919','label':'619湖內農會'},{'key':'61920','label':'619路竹農會'},{'key':'61921','label':'619鳳山農會'},{'key':'61922','label':'619橋頭農會'},{'key':'61923','label':'619燕巢農會'},{'key':'61924','label':'619彌陀農會'},{'key':'62001','label':'620九如農會'},{'key':'62002','label':'620竹田農會'},{'key':'62003','label':'620車城農會'},{'key':'62004','label':'620里港農會'},{'key':'62005','label':'620佳冬農會'},{'key':'62006','label':'620東港農會'},{'key':'62007','label':'620枋山農會'},{'key':'62008','label':'620枋寮農會'},{'key':'62009','label':'620林邊農會'},{'key':'62010','label':'620長治農會'},{'key':'62011','label':'620南州農會'},{'key':'62012','label':'620屏東市農會'},{'key':'62013','label':'620屏東縣農會'},{'key':'62014','label':'620恆春農會'},{'key':'62015','label':'620崁頂農會'},{'key':'62016','label':'620琉球農會'},{'key':'62017','label':'620高樹農會'},{'key':'62018','label':'620新園農會'},{'key':'62019','label':'620萬丹農會'},{'key':'62020','label':'620萬巒農會'},{'key':'62021','label':'620潮州農會'},{'key':'62022','label':'620麟洛農會'},{'key':'62101','label':'621吉安農會'},{'key':'62102','label':'621富里農會'},{'key':'62103','label':'621新秀農會'},{'key':'62104','label':'621壽豐農會'},{'key':'62201','label':'622太麻里農會'},{'key':'62202','label':'622台東農會'},{'key':'62203','label':'622成功農會'},{'key':'62204','label':'622池上農會'},{'key':'62205','label':'622東河農會'},{'key':'62206','label':'622長濱農會'},{'key':'62207','label':'622鹿野農會'},{'key':'62208','label':'622關山農會'},{'key':'624','label':'624澎湖農會'},{'key':'625','label':'625臺中農會'},{'key':'627','label':'627連江縣農會'},{'key':'700','label':'700中華郵政'},{'key':'803','label':'803聯邦銀行'},{'key':'805','label':'805遠東銀行'},{'key':'806','label':'806元大銀行'},{'key':'807','label':'807永豐銀行'},{'key':'808','label':'808玉山銀行'},{'key':'809','label':'809凱基銀行'},{'key':'810','label':'810星展(台灣)銀行'},{'key':'812','label':'812台新銀行'},{'key':'814','label':'814大眾銀行'},{'key':'815','label':'815日盛銀行'},{'key':'816','label':'816安泰銀行'},{'key':'822','label':'822中國信託'},{'key':'903','label':'903汐止農會'},{'key':'91001','label':'910桃園漁會'},{'key':'91002','label':'910新竹漁會'},{'key':'91003','label':'910八德農會'},{'key':'91004','label':'910大園農會'},{'key':'91005','label':'910大溪農會'},{'key':'91006','label':'910平鎮農會'},{'key':'91007','label':'910桃園農會'},{'key':'91008','label':'910復興農會'},{'key':'91009','label':'910新屋農會'},{'key':'91010','label':'910楊梅農會'},{'key':'91011','label':'910龍潭農會'},{'key':'91012','label':'910龜山農會'},{'key':'91013','label':'910蘆竹農會'},{'key':'91014','label':'910觀音農會'},{'key':'922','label':'922臺南農會'},{'key':'92801','label':'928大里農會'},{'key':'92802','label':'928冬山農會'},{'key':'92803','label':'928板橋農會'},{'key':'92804','label':'928草屯農會'},{'key':'92805','label':'928新莊農會'},{'key':'95101','label':'951基隆漁會'},{'key':'95102','label':'951瑞芳漁會'},{'key':'95103','label':'951萬里漁會'},{'key':'95104','label':'951頭城漁會'},{'key':'95105','label':'951蘇澳漁會'},{'key':'95106','label':'951八里農會'},{'key':'95107','label':'951三芝農會'},{'key':'95108','label':'951三星農會'},{'key':'95109','label':'951三重農會'},{'key':'95110','label':'951三峽農會'},{'key':'95111','label':'951土城農會'},{'key':'95112','label':'951士林農會'},{'key':'95113','label':'951中和農會'},{'key':'95114','label':'951中華民國農會'},{'key':'95115','label':'951五股農會'},{'key':'95116','label':'951五結農會'},{'key':'95117','label':'951內湖農會'},{'key':'95118','label':'951木柵農會'},{'key':'95119','label':'951北投農會'},{'key':'95120','label':'951北埔農會'},{'key':'95121','label':'951平溪農會'},{'key':'95122','label':'951石門農會'},{'key':'95123','label':'951石碇農會'},{'key':'95124','label':'951竹北農會'},{'key':'95125','label':'951竹東農會'},{'key':'95126','label':'951壯圍農會'},{'key':'95127','label':'951芎林農會'},{'key':'95128','label':'951坪林農會'},{'key':'95129','label':'951宜蘭農會'},{'key':'95130','label':'951林口農會'},{'key':'95131','label':'951金山農會'},{'key':'95132','label':'951南港農會'},{'key':'95133','label':'951後龍農會'},{'key':'95134','label':'951員山農會'},{'key':'95135','label':'951峨眉農會'},{'key':'95136','label':'951泰山農會'},{'key':'95137','label':'951基隆農會'},{'key':'95138','label':'951淡水農會'},{'key':'95139','label':'951深坑農會'},{'key':'95140','label':'951景美農會'},{'key':'95141','label':'951湖口農會'},{'key':'95142','label':'951新竹農會'},{'key':'95143','label':'951新店農會'},{'key':'95144','label':'951新埔農會'},{'key':'95145','label':'951新豐農會'},{'key':'95146','label':'951瑞芳農會'},{'key':'95147','label':'951樹林農會'},{'key':'95148','label':'951橫山農會'},{'key':'95149','label':'951頭城農會'},{'key':'95150','label':'951羅東農會'},{'key':'95151','label':'951關西農會'},{'key':'95152','label':'951寶山農會'},{'key':'95153','label':'951蘆洲農會'},{'key':'95154','label':'951蘇澳農會'},{'key':'95155','label':'951鶯歌農會'},{'key':'95401','label':'954二水農會'},{'key':'95402','label':'954三灣農會'},{'key':'95403','label':'954土庫農會'},{'key':'95404','label':'954大甲農會'},{'key':'95405','label':'954大安農會'},{'key':'95406','label':'954大村農會'},{'key':'95407','label':'954大城農會'},{'key':'95408','label':'954大湖農會'},{'key':'95409','label':'954大雅農會'},{'key':'95410','label':'954山上農會'},{'key':'95411','label':'954中埔農會'},{'key':'95412','label':'954元長農會'},{'key':'95413','label':'954內埔農會'},{'key':'95414','label':'954公館農會'},{'key':'95415','label':'954太平農會'},{'key':'95416','label':'954水里農會'},{'key':'95417','label':'954水林農會'},{'key':'95418','label':'954北港農會'},{'key':'95419','label':'954外埔農會'},{'key':'95420','label':'954左鎮農會'},{'key':'95421','label':'954玉溪農會'},{'key':'95422','label':'954田中農會'},{'key':'95423','label':'954白河農會'},{'key':'95424','label':'954石岡農會'},{'key':'95425','label':'954光豐農會'},{'key':'95426','label':'954后里農會'},{'key':'95427','label':'954竹山農會'},{'key':'95428','label':'954竹南農會'},{'key':'95429','label':'954沙鹿農會'},{'key':'95430','label':'954卓蘭農會'},{'key':'95431','label':'954和平農會'},{'key':'95432','label':'954和美農會'},{'key':'95433','label':'954東山農會'},{'key':'95434','label':'954東勢鄉農會'},{'key':'95435','label':'954東勢區農會'},{'key':'95436','label':'954社頭農會'},{'key':'95437','label':'954花蓮農會'},{'key':'95438','label':'954花壇農會'},{'key':'95439','label':'954阿里山農會'},{'key':'95440','label':'954信義農會'},{'key':'95441','label':'954南投農會'},{'key':'95442','label':'954後壁農會'},{'key':'95443','label':'954柳營農會'},{'key':'95444','label':'954苑裡農會'},{'key':'95445','label':'954苗栗農會'},{'key':'95446','label':'954埔里農會'},{'key':'95447','label':'954埔鹽農會'},{'key':'95448','label':'954烏日農會'},{'key':'95449','label':'954國姓農會'},{'key':'95450','label':'954清水農會'},{'key':'95451','label':'954通霄農會'},{'key':'95452','label':'954造橋農會'},{'key':'95453','label':'954魚池農會'},{'key':'95454','label':'954鹿港農會'},{'key':'95455','label':'954麥寮農會'},{'key':'95456','label':'954新化農會'},{'key':'95457','label':'954新社農會'},{'key':'95458','label':'954溪湖農會'},{'key':'95459','label':'954獅潭農會'},{'key':'95460','label':'954瑞穗農會'},{'key':'95461','label':'954銅鑼農會'},{'key':'95462','label':'954鳳榮農會'},{'key':'95463','label':'954潭子農會'},{'key':'95464','label':'954學甲農會'},{'key':'95465','label':'954頭份農會'},{'key':'95466','label':'954頭屋農會'},{'key':'95467','label':'954龍井農會'},{'key':'95468','label':'954龍崎農會'},{'key':'95469','label':'954礁溪農會'},{'key':'95470','label':'954關廟農會'},{'key':'95471','label':'954霧峰農會'},{'key':'804','label':'804中華商業銀行'}],



			bank_value: "",
			bank_name: "",
			bank_account: "",
			bank_username: "",
			pwd: '',
		}
	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
	},
	methods: {
		submit(){
			apiSetBank({
						bank_value: this.user.bank.bank_value,
						bank_name: this.user.bank.bank_name,
						bank_account: this.user.bank.bank_account,
						bank_username: this.user.bank.bank_username,
						cashPassword: this.pwd,
						cashPassword_confirmation: this.pwd,

					})
				.then(response => {
					if (!response.data.status) {
						return $toast.show(response.data.message);
					}
					else {
						this.user.is_cash_password = true;
						$toast.show(response.data.message, 1000).then(() => {
							this.$router.go(-1);
						});
					}
				})
				.catch(error => {
					console.log(error);
				});
		},
		openModal (modal, event) {
			if(this.isSetted)
			{
				return;
			}
			event.target.blur();
			this[modal] = true;
		},
		selectBank (data) {
			//console.log(data);
			//console.log(data.pathName[0]);
			this.bank_name = data.pathName[0];
			this.user.bank.bank_value = data.pathName[0];
			// data: {
			//  path: ['510000',510300],
			//  pathName: ['四川省','自贡市']
			// }
		},
		locationSearchSuccess (data) {
			console.log(data)
			// data: {
			//  path: ['510000',510300],
			//  pathName: ['四川省','自贡市']
			// }
		},
		queryChange (val) {
			//console.log(val)
			// return search input value
		},
		cancel () {
			//console.log('cancel')
		}
	},
	created() {
		//this.$set(this, 'form', this.user.bank ? this.user.bank: {'bank_value':'','bank_name':'','bank_account':'','bank_username':''});
		this.$store.dispatch('getUserInfo');
		//console.log( this.user.bank);
		this.isSetted = this.user.bank.bank_account != '';
	},
	mounted(){
		//console.log(this.user.isLogin);
		//if (this.user.isLogin) {
		//	this.$router.go(-1);
		//}
			if(!this.user.is_cash_password){
				let options = {
					effect: 'scale',
					title: '',
					showClose: false,
					buttons: [
					  {text: '取消'},
					  {text: '確定前往'},
					]
				}
				let popup = $popup.fromTemplate('<div class="fs14">請先完善提款密碼後才能設定銀行號戶<br>請問是否前往?</div>', options);

				popup.show().then((buttonIndex) => {
					if (buttonIndex == 0){
						this.$router.go(-1);
					}
					if (buttonIndex == 1){
						this.go2page('/user/cash-password');
					}
				})
			}



	}
}
</script>
<style scoped>
/*
.bank-list{
  width: 90%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 10px auto;
  display: block;
  font-size: 14px;
  cursor: pointer;
}*/
</style>
<style>
.setbank-page .yd-cell-item {
	padding-left:14px;
}
.setbank-page .yd-cell-item .yd-cell-left{
	min-width:90px;
}
.cascade__search--comfirm {display:none;}
.cascade__title {
	font-size:15px !important;
	font-weight:400 !important;
	text-indent:0px !important;
}
.cascade__header .icon-back {display:none !important;}
.filterable .cascade__list{color:#666;}
.cascade__search--input {font-size:14px;}
.cascade__content {width:250px !important;}
</style>
