<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true, hideNavbar: true}">
		<div class="page-content padding-top transfer">

			<von-header>
				<button class="button button-icon ion-ios-arrow-back" slot="left" @click="$router.go(-1)"></button>
				<span slot="title">{{$route.name}}</span>
				<span class="fs14 link-color" slot="right" style="line-height:34px;margin-right:8px;" @click="transferSwitch">出入調換</span>
			</von-header>


			<list class="list-ios hl-list-borderless">
				<item class="item-icon-right" @click.native="actionSheetOut = true">
					轉出 
					<span class="item-span">{{ displayTransferOut }}</span>
					<span class="rmb-tip" @click.stop="currencyBox" v-if="['VG'].includes(transfer.out)">轉出幣值1:5</span>
					<span class="item-note">${{ displayTransferOutAmount }}</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item>
				<item class="item-icon-right" @click.native="actionSheetIn = true">
					轉入
					<span class="item-span">{{ displayTransferIn }}</span>
					<span class="rmb-tip" @click.stop="currencyBox" v-if="['VG'].includes(transfer.in)">轉入幣值5:1</span>
					<span class="item-note">${{ displayTransferInAmount }}</span>
					<i class="icon ion-ios-arrow-right"></i>
				</item>
				<item class="item-icon-right" @click.native="focus('amount')">
					金額 

					<span class="item-span"><input type="tel" ref="amount" v-model="transfer.amount" placeholder="請輸入金額" class="input-amount" maxlength="6" @keypress="onlyNumber()"></span>
					<span class="item-note link-color" style="margin-right:-35px;" @click="transferAll">全部輸入</span>

				</item>
			</list>
				
			<div class="padding">
				<button class="button button-positive button-block" @click="onSubmit">確定轉帳</button>
			</div>


        <yd-popup v-model="actionSheetOut" position="bottom" class="action-sheet">

			<div @click="clickTransferOut(item.value)" class="item item-borderless hl-item" v-for="item in transfer.outArray" :class="{'disabled': parseInt(user.wallet.deploy[item.value].amount) != 0 ? item.disabled:true}" >
				<div class="hairline-top"></div>
				<div class="hairline-bottom"></div>
				<img :src="item.icon" class="vendor-icon" />
				{{ item.label }}
				<span class="rmb-tip"  v-if="['VG'].includes(item.value)">轉出幣值1:5</span>	
				<span class="item-note">${{ displayAmount(item.value) || '0.00' }}</span>
			</div>

        </yd-popup>


        <yd-popup v-model="actionSheetIn" position="bottom" class="action-sheet">
			<div @click="clickTransferIn(item.value)" class="item item-borderless hl-item" v-for="item in transfer.inArray" :class="{'disabled': item.disabled }">
				<div class="hairline-top"></div>
				<div class="hairline-bottom"></div>
				<img :src="item.icon" class="vendor-icon" />
				{{ item.label }}
				<span class="rmb-tip"  v-if="['VG'].includes(item.value)">轉入幣值5:1</span>	
				<span class="item-note">${{ displayAmount(item.value) || '0.00' }}</span>
			</div>

        </yd-popup>


		</div>
	</div>
</template>
<script>
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
import { apiGetBalance } from 'api.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			actionSheetOut: false,
			actionSheetIn:false,
			vendorsCount : 0,
			buttonLoading : false,

			transfer: {
				amount:'',
				out : '',
				outNumber :'',
				outArray : [],
				in : '',
				inNumber : '',
				inArray : [],
				loading:false,
			},

                
		}
	},
    components: {
//		NumericInput
    },
	computed:{

	},
	mounted() {

	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),

		displayTransferOut(){
			if (this.transfer.outNumber === '') return '請選擇';
			return this.transfer.outArray[this.transfer.outNumber].label;			
		},
		displayTransferOutAmount(){
			if (this.transfer.outNumber === '') return '0.00';
			return this.displayAmount(this.transfer.outArray[this.transfer.outNumber].value);
		},

		displayTransferIn(){
			//console.log(this.transfer.inNumber);
			if (this.transfer.inNumber === '') return '請選擇';
			return this.transfer.inArray[this.transfer.inNumber].label;			
		},
		displayTransferInAmount(){
			if (this.transfer.inNumber === '') return '0.00';
			return this.displayAmount(this.transfer.inArray[this.transfer.inNumber].value);
		},


	},
	methods: {
		transferSwitch(){
			var transferOut = this.transfer.out;
			var transferIn = this.transfer.in;
			this.clickTransferIn(transferOut);
			this.clickTransferOut(transferIn);
		},
		onSubmit(){
			if(!this.transfer.out) {
				return $toast.show('請選擇轉出平台');
			}
			if(!this.transfer.in) {
				return $toast.show('請選擇轉入平台');
			}
			if (!this.transfer.amount || parseFloat(this.transfer.amount) < 1)
			{
				return $toast.show('請輸入金額');
			}

			this.transfer.amount = parseFloat(this.transfer.amount);

			if (this.transfer.amount > this.user.wallet.deploy[this.transfer.out].amount)	{
				this.transfer.amount = parseInt(this.user.wallet.deploy[this.transfer.out].amount);
				return $toast.show('金額不得大於' + parseInt(this.user.wallet.deploy[this.transfer.out].amount));
			}

			this.$dialog.loading.open('轉帳中...請稍候');
			
			this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + '/api/transfer' ,
				data: {
					'amount' : this.transfer.amount,
					'from' : this.transfer.out,
					'to' : this.transfer.in
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				//console.log(response.data);
				$toast.show(response.data.message);
				if (response.data.status){
					this.user.wallet.deploy[this.transfer.out].amount = this.user.wallet.deploy[this.transfer.out].amount - parseFloat(this.transfer.amount);
					//this.user.wallet.deploy[this.transfer.in].amount = this.user.wallet.deploy[this.transfer.in].amount + parseFloat(this.transfer.amount);
					setTimeout(() => {
						this.refreshAll();
					}, 100);
					//this.transfer.amount = '';
				}
				this.$dialog.loading.close();

			}).catch(error => {
				console.log(error);
				this.$dialog.loading.close();
			});	
		
		},
		refreshAll(){
			for (var key in this.config.vendors) {
				this.refreshBalance(this.config.vendors[key].value);
			}
		},
		transferAll(){
			//console.log(this.transfer);
			
			if(!this.transfer.out) {
				return $toast.show('請選擇轉出平台');
			}
			//console.log(this.transfer.outNumber);
			//console.log(this.user.wallet.deploy);
			var amount = parseInt(this.user.wallet.deploy[this.transfer.out].amount);
			if(!amount) {
				return $toast.show('金額不足');
			}
			this.transfer.amount = amount;
		},
		clickTransferOut(value) {
			if (value)	{
				for (var i=0;i < this.transfer.inArray.length; i++){
					this.transfer.inArray[i].disabled = false;
					if (this.transfer.inArray[i].value == value){
						this.transfer.inArray[i].disabled = true;
						this.transfer.out = value;
						this.transfer.outNumber = i;
						var amount = parseInt(this.user.wallet.deploy[value].amount);
						if (parseInt(this.transfer.amount) > amount){
							this.transfer.amount = amount;
						}					
					}
					if (value != 'WALLET'){
						if(['VG'].includes(this.transfer.inArray[i].value)) {
							this.transfer.inArray[i].disabled = true;					
						}
					}
					if(['VG'].includes(value)) {
						this.transfer.inArray[i].disabled = true;					
						if (this.transfer.inArray[i].value == 'WALLET') {
							this.transfer.inArray[i].disabled = false;					
						}
					}					

				}
			}
			else {
				this.transfer.out = '';
				this.transfer.outNumber = '';
			
			}

			this.actionSheetOut = false;		
		},
		clickTransferIn(value) {
			if (value){
				for (var i=0;i < this.transfer.outArray.length; i++){
					this.transfer.outArray[i].disabled = false;
					if (this.transfer.outArray[i].value == value){
						this.transfer.outArray[i].disabled = true;
						this.transfer.in = value;
						this.transfer.inNumber = i;

					}

					if (value != 'WALLET'){
						if(['VG'].includes(this.transfer.outArray[i].value)) {
							this.transfer.outArray[i].disabled = true;					
						}
					}
					if(['VG'].includes(value)) {
						this.transfer.outArray[i].disabled = true;					
						if (this.transfer.outArray[i].value == 'WALLET') {
							this.transfer.outArray[i].disabled = false;					
						}
					}

				}
			}
			else {
				this.transfer.in = '';
				this.transfer.inNumber = '';
			}

			this.actionSheetIn = false;		
		},

		
		displayAmount(args){
			return parseFloat(this.user.wallet.deploy[args].amount).toFixed(2);
		},

		refreshBalance(vendor) {

			apiGetBalance(vendor)
				.then(response => {
					this.vendorsCount++;
					if (response.data.status) {
						this.user.wallet.deploy[vendor].amount = response.data.data.amount;
						//let self = this;
						//TweenLite.to(this.user.wallet.deploy[vendor], 0.5, {amount:response.data.data.amount,onComplete:function (){
						//	self.refreshPercents();
						//}});
						//this.user.wallet.deploy[vendor].amount = parseFloat(response.data.data.amount);
						this.refreshPercents();
						if (response.data.data.time){
							this.user.wallet.sync = response.data.data.time;
						}
					}

					//console.log(this.vendorsCount);
					if (this.vendorsCount == this.user.vendorsCount) {
						//this.$layer.msg('刷新完成');
						this.vendorsCount = 0;
						this.buttonLoading = false;
					}
				}).catch(error => {
					console.log(error);
				});	
		},
		refreshPercents() {
				var totalAmounts = 0;
				this.user.wallet.totalAmounts = 0;

				for (var key in this.user.wallet.deploy) {
					totalAmounts += parseFloat(this.user.wallet.deploy[key].amount);
				}
				this.user.wallet.totalAmounts = totalAmounts;
				
				for (var key in this.user.wallet.deploy) {
					//this.user.wallet.deploy[key].percent = Math.round( parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 100);
					this.user.wallet.deploy[key].percent =  Math.floor(parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 10000) / 100;
				}


		},

	},
	created() {


		if (!this.user.wallet.refresh){
			//this.refreshUserBalance();
			
			for (var key in this.config.vendors) {
				this.$set(this.user.wallet.deploy, this.config.vendors[key].value, {amount:0,percent:0});

			}
			//console.log(this.user.wallet.deploy);
			for (var key in this.config.vendors) {
				this.refreshBalance(this.config.vendors[key].value);
			}
			this.user.vendorsCount = this.config.vendors.length;
			this.user.wallet.refresh = true;
		}
		for (var key in this.config.vendors) {
			
			this.transfer.outArray.push({
				value: this.config.vendors[key].value,
				label: this.config.vendors[key].label,
				icon: this.config.vendors[key].icon,
				disabled: false
			});
			this.transfer.inArray.push({
				value: this.config.vendors[key].value,
				label: this.config.vendors[key].label,
				icon: this.config.vendors[key].icon,
				disabled: false
			});
		
		}


		Object.assign({}, this.transfer.outArray);
		Object.assign({}, this.transfer.inArray);
		//console.log(this.transfer);


	},
	mounted(){
		if(this.$route.params.vendor) {
			if (this.$route.params.vendor == 'WALLET')	{
				this.clickTransferIn(this.$route.params.vendor);
			}
			else {
				this.clickTransferOut('WALLET');
				this.clickTransferIn(this.$route.params.vendor);
			}
		}
	}
	
}
</script>
<style>
.transfer .rmb-tip {
	background-color:#EA5A49;
	color:#fff;
	padding:2px 4px;border-radius:3px;
	font-size:13px;
	z-index:2;
}
.transfer .list.list-borderless .item{
	font-size:15px !important;
}
.transfer .list .item-span {
	color:#999;
	padding-left:20px;
}

.transfer .action-sheet .item {
	margin:0px;
	padding-top:12px;
	padding-bottom:12px;

}
.transfer .action-sheet .item-note {
    margin-right:10px;
    margin-top: 10px;
	font-size:15px;
	color:#999;

}
.transfer .action-sheet .vendor-icon{
	vertical-align:middle;
	margin-right:5px;
	margin-left:-5px;
	width:35px;
	height:35px;
	border: 1px solid #eee;
    border-radius: 50%;
}
.transfer .input-amount {
height: 15px;
    display: inline-block;
    margin-top: -2px;
    vertical-align: top;
    font-size: 15px;
}
.transfer .yd-popup-content{
	max-height: 412px;
    overflow-y: auto;
}
</style>
