<template>
	<div class="page has-navbar has-tabbar user-center" v-tabbar-menu-index="4">
		<scroller class="page-content" refresh-text="下拉刷新錢包" :on-refresh="onRefresh" ref="scroller"	style="padding-top:0px;">
			<div class="header-bg"></div>
			<div class="user-content">

				<div class="user-name">{{ username }}</div>
				<div class="user-logo"></div>
				<div class="user-class" >{{ config.class[user.class]}}</div>
				<div class="user-top-box fs14">

					<div class="row money">
						<div class="wallet-box">
							<div class="fs14 fw700">${{ wallet || '0.00'}}</div>
							主錢包(元)
						</div>
						<div class="wallet-total-box" @click="go2page('/user/wallet')">
							<div class="fs14 fw700">${{ user.wallet.totalAmounts.toFixed(2) }}</div>
							總資產(元)
							<i class="icon ion-ios-arrow-right fs14 pull-right"></i>
						</div>
					</div>
					<div class="divider"></div>
					<div class="row">
						<div class="col-auto text-center" @click="go2page('/user/transfer')">
							<span class="icon transfer"></span>轉帳
						</div>
						<div class="col-auto text-center" @click="go2page('/user/withdraw')">
							<span class="icon withdraw"></span>提款
						</div>
						<div class="col-auto text-center" @click="go2page('/user/deposit')">
							<span class="icon deposit"></span>存款
						</div>
					</div>
				</div>


				<div class="user-bottom-box fs14">

					<div class="row" style="margin-bottom:15px;">
						<div class="col-auto text-center" @click="go2page('/user/transfer-log')">
							<span class="icon transferlog"></span>資金記錄
						</div>
						<div class="col-auto text-center" @click="go2page('/user/bet-log')">
							<span class="icon betlog"></span>投注記錄
						</div>
						<div class="col-auto text-center" @click="go2page('/user/mail')">
                            <badge v-if="this.user.unread > 0" :num="this.user.unread"></badge>
							<span class="icon mail"></span>站內消息
						</div>

					</div>

					<div class="row" style="margin-bottom:15px;">
						<div class="col-auto text-center" @click="go2page('/user/info')">
							<span class="icon personal"></span>個人設置
						</div>
						<div class="col-auto text-center" @click="go2page('/user/safe')">
							<span class="icon safe" ></span>安全設置
						</div>
						<!-- <div class="col-auto text-center" @click="go2page('/promotion')">
							<span class="icon promotion"></span>優惠活動
						</div> -->
						<div class="col-auto text-center" @click="logout">
							<span class="icon logout"></span>登出
						</div>

					</div>

					<!-- <div class="row" style="margin-bottom:15px;">
						<div class="col-auto text-center" @click="logout">
							<span class="icon logout"></span>登出
						</div>
						<div class="col-auto text-center">

						</div>

						<div class="col-auto text-center">

						</div>
					</div> -->



				</div>


			</div>


		</scroller>

  </div>

</template>
<script>
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
import { apiGetBalance } from 'api.js'
export default {
	mixins: [globalMixin],
	data() {
		return {

			vendorsCount : 0,
		}
	},

	computed:{

	},
	mounted() {
		setTimeout(() => {
			if (this.$refs.scroller) this.$refs.scroller.resize();
		});
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
		username(){
			return this.user.username;
		},
		wallet(){
			if (!this.user.wallet.deploy['WALLET'])
			{
				return false;
			}
			return parseFloat(this.user.wallet.deploy['WALLET'].amount).toFixed(2);
		}

	},
	methods: {
		onRefresh(){
			/*
			setTimeout(() => {
				setTimeout(() => {
					if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh();
				});
			}, 300);*/
			for (var key in this.config.vendors) {
				this.refreshBalance(this.config.vendors[key].value);
			}
		},


		refreshBalance(vendor) {

			apiGetBalance(vendor)
				.then(response => {
					this.vendorsCount++;

					if (response.data.status) {
						this.user.wallet.deploy[vendor].amount = response.data.data.amount;
						//let self = this;
						//TweenLite.to(this.user.wallet.deploy[vendor], 0.5, {amount:response.data.data.amount,onComplete:function (){
						//	self.refreshPercents();
						//}});
						//this.user.wallet.deploy[vendor].amount = parseFloat(response.data.data.amount);
						this.refreshPercents();
						if (response.data.data.time){
							this.user.wallet.sync = response.data.data.time;
						}
					}

					//console.log(this.vendorsCount);
					if (this.vendorsCount == this.user.vendorsCount) {
						 //$toast.show('刷新完成');
						setTimeout(() => {
							if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh();
						});
						//this.$layer.msg('刷新完成');
						this.vendorsCount = 0;
						//this.buttonLoading = false;
					}
				}).catch(error => {
					//console.log('errorerrorerrorerrorerrorerror');
					console.log(error);
				});
		},
		refreshPercents() {
				var totalAmounts = 0;
				this.user.wallet.totalAmounts = 0;

				for (var key in this.user.wallet.deploy) {
					totalAmounts += parseFloat(this.user.wallet.deploy[key].amount);
				}
				this.user.wallet.totalAmounts = totalAmounts;

				for (var key in this.user.wallet.deploy) {
					//this.user.wallet.deploy[key].percent = Math.round( parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 100);
					this.user.wallet.deploy[key].percent =  Math.floor(parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 10000) / 100;
				}


		},
	},
	created() {


		if (!this.user.wallet.refresh){
			//this.refreshUserBalance();

			for (var key in this.config.vendors) {
				this.$set(this.user.wallet.deploy, this.config.vendors[key].value, {amount:0,percent:0});

			}
			//console.log(this.user.wallet.deploy);
			for (var key in this.config.vendors) {
				this.refreshBalance(this.config.vendors[key].value);
			}
			this.user.vendorsCount = this.config.vendors.length;
			this.user.wallet.refresh = true;
		}


	}

}
</script>
<style>
.user-center .header-bg {
	height:200px;
	background-image: radial-gradient(circle at 30% 80%, #fae3a4, #2e2e0e);
}
.user-center .user-content {
    margin: -105px 15px 0;
	color:#ddd;
	position: relative;
}

.user-center .user-content .user-logo{
    width: 80px;
    height: 80px;
   /* background: url(~assets/images/user/logo.png);*/
    background-size: cover;
    top: -44px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
	z-index:2;

	/*background: url(~assets/images/user/logo.png),linear-gradient(#eff7ff, #eff7ff);*/
    border-radius: 50%;
    background-size: contain;
    /*border: 1px solid #86b6ca;*/
	background-size: 115%;

    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(~assets/images/user/logo.png?v=1);
    background-color: #eff7ff;
}
.user-center .user-content .user-class{

    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 2;
    width: 60px;
    background: linear-gradient(140deg,#4c0,#23550a);
    color: #fff;
    text-align: center;
    border-radius: 2px;
	top:30px;
}


.user-center .user-content .user-name {

    top: -68px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
	z-index:2;
	text-align:center;
	font-size:17px;
	color:#eee;
}
.user-center .user-content .user-top-box {
    position: relative;
    background: linear-gradient(180deg, #3f3e3e 0, #2a2a2a);
    border-radius: 8px;
	padding:10px;
}
.user-center .user-content .user-bottom-box {
    position: relative;
    background: #2a2a2a;
    border-radius: 8px;
	padding:10px;
	margin-top:15px;
}



.user-center .user-content .user-top-box .wallet-box{
	width:50%;
	padding:0px;
}
.user-center .user-content .user-top-box .wallet-total-box{
	width:50%;
	padding-left:30px;
	border-left:1px solid #666;
}

.user-center .user-content .divider {
	height:1px;
	background-color:#666;
}
.user-center .user-content .row.money {
	padding: 40px 30px 15px;
}

.user-center .user-content .row .col-auto:nth-last-child(3),.user-center .user-content  .row .col-auto:nth-last-child(3)~.col-auto {
    position: relative;
    width: calc((100%)/ 3);
}

.user-center .user-content .col-auto .icon {

    width: 38px;
    height: 40px;
    display: block;
    margin: 8px auto;
}
.icon.transfer {
    background: url(~assets/images/user/icon_transfer.png) no-repeat;
    background-size: cover;

}
.icon.deposit {
    background: url(~assets/images/user/icon_deposit.png) no-repeat;
    background-size: cover;

}
.icon.withdraw {
    background: url(~assets/images/user/icon_withdraw.png) no-repeat;
    background-size: cover;

}
.icon.betlog {
    background: url(~assets/images/user/icon_betlog.png) no-repeat;
    background-size: cover;

}
.icon.mail {
    background: url(~assets/images/user/icon_mail.png) no-repeat;
    background-size: cover;

}
.icon.transferlog {
    background: url(~assets/images/user/icon_transferlog.png) no-repeat;
    background-size: cover;

}
.icon.safe {
    background: url(~assets/images/user/icon_safe.png) no-repeat;
    background-size: cover;

}
.icon.help {
    background: url(~assets/images/user/icon_help.png) no-repeat;
    background-size: cover;

}
.icon.personal {
    background: url(~assets/images/user/icon_personal.png) no-repeat;
    background-size: cover;

}
.icon.promotion {
    background: url(~assets/images/user/icon_promotion.png) no-repeat;
    background-size: cover;

}
.icon.logout {
    background: url(~assets/images/user/icon_logout.png) no-repeat;
    background-size: contain;

}
.user-bottom-box .von-badge{
  position: absolute;
  top: 10px;
  right: 20px;
}
</style>
