<template>
	<div class="page has-navbar" v-nav="{title: $route.name, showBackButton: true, hideNavbar: true}">
		<div class="page-content withdraw-page"><!-- padding-top-->
			<von-header>
				<button class="button button-icon ion-ios-arrow-back" slot="left" @click="$router.go(-1)"></button>
				<span slot="title">{{$route.name}}</span>
				<span class="fs14 link-color" slot="right" style="line-height:34px;margin-right:8px;" @click="go2page('/user/transfer-log')">資金記錄</span>
			</von-header>



			<div class="cells step-box" style="background-color: #2a2a2a;">

				<yd-step :current="step" class="" current-color="#4a90e2">
					<yd-step-item>
						<span slot="bottom">安全認證</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">輸入金額</span>
					</yd-step-item>
					<yd-step-item>
						<span slot="bottom">申請成功</span>
					</yd-step-item>
				</yd-step>
			</div>

			<div v-if="step == 1">

				<div class="item item-divider" style="margin-top:-10px;">
					為了您的資金安全，完善以下資料才可提款
				</div>
				<list class="list-ios hl-list-borderless" style="margin-bottom:0px;">
					<item class="item-icon-right" @click.native="cashPassword">
						設置提款密碼
						<span class="item-note" :class="{'text-red':!user.is_cash_password}">{{user.is_cash_password ? '已設置' : '未設置' }}</span>
						<i class="icon ion-ios-arrow-right"></i>
					</item>
					<item class="item-icon-right" @click.native="go2page('/user/set-bank')">
						設置銀行帳號
						<span class="item-note" :class="{'text-red':!user.bank.bank_value}">{{user.bank.bank_value ? '已設置' : '未設置' }}</span>
						<i class="icon ion-ios-arrow-right"></i>

					</item>
					<!-- <item class="item-icon-right" @click.native="go2page('/user/mobile')">
						認證手機號碼
						<span class="item-note" :class="{'text-red':!user.mobile}">{{ hiddenMobile }} {{user.mobile ? '已認證' : '未認證' }}</span>
						<i class="icon ion-ios-arrow-right"></i>
					</item> -->
				</list>
				<div class="padding">
					<button class="button button-positive button-block" @click="next">下一步</button>
				</div>

			</div>

			<div v-if="step == 2">



					<item >
						可提金額
						<span class="item-note link-color">${{ wallet || '0.00'}}</span>
					</item>
					<item >
						銀行帳號
						<span class="item-note">
						{{ user.bank.bank_value }}  {{ user.bank.bank_account }} {{ user.bank.bank_username }}
						</span>

					</item>
					<div class="von-input-wrapper">
						<label class="item item-borderless item-input von-input"  @click="focusSelectAll('amount')">
							<div class="hairline-top"></div>
							<span class="input-label">提款金額</span>
							<input type="tel" v-model="form.amount" ref="amount" placeholder="請輸入金額" maxlength="6" @keypress="onlyNumber()" autocomplete="off">
							<div class="buttons" @click="form.limit = !form.limit" style="pointer-events: auto;"><span class="fs14 link-color" style="line-height: 34px;">限額說明</span></div>
							<div class="hairline-bottom"></div>
						</label>
					</div>
					<div class="item item-divider" v-if="form.limit == true" style="margin-bottom:-8px;">
						<span class="pull-right">{{ limitDesc() }}</span>
					</div>

					<yd-cell-group style="margin-top:10px;margin-bottom:0px;">
						<yd-cell-item>
							<span slot="left">提款密碼</span>
							<yd-input slot="right" type="password" v-model="form.cashPassword" placeholder="請輸入提款密碼"></yd-input>
						</yd-cell-item>
					</yd-cell-group>



				<div class="padding">
					<button class="button button-positive button-block" @click="finish">下一步</button>
					<button class="button button-light button-block" @click="back">回上一步</button>

				</div>

			</div>


			<div v-if="step == 3">
				<div class="cells" style="padding:10px 0;">


						<div class="text-center mt10 mb10"><i class="far fa-check-circle link-color fa-4x"></i></div>
						<div class="text-center mt10 mb10"> <span class="link-color fw700 fs18">申請成功</span></div>
						<div class="text-center mt10 mb10 fs14" style="color:#999">	請及時查看資金記提款錄申請狀態</div>

				</div>


				<div class="padding">
					<button class="button button-positive button-block" @click="$router.go(-1)">離開此頁</button>
				</div>


			</div>



		</div>
	</div>
</template>
<script>
import { mapGetters } from 'vuex'
import { globalMixin } from 'mixin.js'
import { apiCash } from 'api.js'
export default {
	mixins: [globalMixin],
	data() {
		return {
			min_amount: 1000,
			max_amount: 450000,
			step:1,

			form:{
				amount:'',
				cashPassword:'',
				limit: false,
			},

		}
	},
    components: {

    },
	computed:{
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
		wallet(){
			if (!this.user.wallet.deploy['WALLET'])
			{
				return false;
			}
			return parseFloat(this.user.wallet.deploy['WALLET'].amount).toFixed(2);
		},
		hiddenMobile(){
			if (this.user.mobile) {
				return this.user.mobile.substr(0,3) + '****' + this.user.mobile.substr(7);
			}
		}
	},
	mounted() {

	},

	methods: {
		limitDesc(){
			return '單筆限額(元):' + this.min_amount + ' - ' + this.max_amount;
		},
		cashPassword(){

			if (this.user.is_cash_password)	{
				this.go2page('/user/reset-cashpassword');
			}
			else {
				this.go2page('/user/cash-password');
			}

		},


		focusSelectAll(target){
			this.$refs[target].focus();
			this.$refs[target].setSelectionRange(0,-1);
		},
		next() {
			if (!this.user.is_cash_password) {
				return $toast.show('請先設置提款密碼');
			}
			if (!this.user.bank.bank_value) {
				return $toast.show('請先設置銀行帳號');
			}
			// if (!this.user.mobile) {
			// 	return $toast.show('請先認證手機號碼');
			// }
			this.step = 2;


		},
		back(){
			this.step = 1;
		},
		finish(){

			if (!this.form.amount) {
				return $toast.show('請輸入金額');
			}
			if (!this.form.cashPassword) {
				return $toast.show('請輸入提款密碼');
			}
			if (parseInt(this.form.amount) < this.min_amount || parseInt(this.form.amount) > this.max_amount)	{
				return $toast.show('請輸入金額範圍 ' + this.min_amount + ' ~ ' + this.max_amount);
			}
			var amount = parseFloat(this.user.wallet.deploy['WALLET'].amount);

			if(!amount) {
				return $toast.show('金額不足');
			}

			if (this.form.amount > amount){
				return $toast.show('可提金額不可大於' + amount+'元');
			}

			this.$dialog.loading.open('申請中...');
			setTimeout(() => {



				apiCash({
						coins: this.form.amount,
						cash_password: this.form.cashPassword
					})
					.then(response => {
						this.$dialog.loading.close();

						if (!response.data.status) {
							return $toast.show(response.data.message);
						}else{

							$toast.show(response.data.message);

							this.step = 3;
							this.$store.dispatch('getUserInfo');
						}




					})
					.catch(error => {
						this.$dialog.loading.close();
						console.log(error);
					});




			}, 500);


		}
	},
	created() {

	}

}
</script>
<style>
.withdraw-page .step-box {
	color:#777;
	padding:15px 0px 5px 0;
}
.withdraw-page .button.button-light.button-outline {
	border-color:#ddd;
	color:#777;
	padding: 2px 10px;
	font-size:14px;
}

.withdraw-page .input-label {
	max-width:90px;
	min-width:90px;
}
.withdraw-page .yd-cell-item {
	padding-left:14px;
}
.withdraw-page .yd-cell-item .yd-cell-left{
	min-width:90px;
}


</style>
