
 .mobileWH {
	z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #000;
    color: #fff;
	text-align:center;

}
.mobileWH:before {
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	position: absolute;
    content: '為了更好的體驗，請使用直屏瀏覽';
    font-size: 16px;
	height:30px;
	top:120px;

}

.mobileWH:after {
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;

	position: absolute;

    content: ' ';
    display: inline-block;
    width: 200px;
    height: 130px;
    font-size: 16px;
    background-image: url(~assets/images/mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
	top:-65px;
}

body, html, html * {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft JhengHei,Microsoft YaHei,SimSun,sans-serif;
}
p{
    color:#ddd;
}
.cascade__item p{
    color:#333;
}
.page .page-content{
	background-color: #313131;
}
.tabbar {
	box-shadow:0px 0px 1px #c4c4c4;
    z-index:1;
    height: 52px;
    background: #2b2b2b;
}
.page .padding .button-outline
{
    border-color: rgb(228, 187, 123);
    color: rgb(228, 187, 123);
}
.icon-wrapper i.ion-ios-paper-outline,.icon-wrapper i.ion-cash{
    position: absolute;
    margin-top: -18px;
    margin-left: -25px;
    border-radius: 50px;
    border: 1px solid #e4bb7b;
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: #e4bb7b;
    font-size: 35px;
	color:#FFF;
	border: 1px solid #4a4a4a;
}

.navbar {
    background: #3a3a3a;
}
h1{
    color: #ddd;
}
.navbar .buttons .button{
    color: #ddd;
}
.navbar .navbar-container .bar.bar-header {
    box-shadow:0px 0px 1px #c4c4c4;
    z-index: 2;
    padding: 5px 0px;
    background: #3a3a3a;
}
.button.button-positive{
    color: #333;
    background-color: rgb(228, 187, 123);
}
.button.button-light{
    color: #333;
    background-color:#d1d1d1;
}
.input-label{
    color:#eee;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
    color: #ddd;
}
.list-ios{
    background: #444;
}
.item{
    background-color: #444;
    color:#ddd;
}
.bar.bar-light{
    background: #3a3a3a;
}
.bar.bar-light .title {
    color: #ddd;
}
.bar .buttons .button {
    color: #ddd;
}
.user-login-page {
	margin-top:-44px;
	background-color:#FFF;
}
.user-login-page .page-content{
	background-color:#FFF;
}

.nav-header {
    height: 43px;
    line-height: 43px;
    /*border: 0px solid red;*/
    padding: 0 5px;
    text-align: center;
    background: #1e1e1e;
    /* border-bottom: 1px solid #c4c4c4; */
    box-shadow: 0px 0px 1px #c4c4c4;
    /* z-index: 1; */
    margin-bottom: 1px;
	position: relative;
}
.nav-header span.title{
	color: #444;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 43px;
}

.nowrap {white-space:nowrap};
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs17 {font-size:17px;}
.fs18 {font-size:18px;}
.fs19 {font-size:19px;}
.fs20 {font-size:20px;}
.fs21 {font-size:21px;}
.fs22 {font-size:22px;}
.fs23 {font-size:23px;}
.fs24 {font-size:24px;}

.fw400 {font-weight:400;}
.fw500 {font-weight:500;}
.fw600 {font-weight:600;}
.fw700 {font-weight:700;}
.mt10 {margin-top:10px}
.mb10 {margin-bottom:10px}
.mt15 {margin-top:15px}
.mb15 {margin-bottom:15px}

.bar.bar-header {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.cells
{
    background-color: #444;
    color: #ddd;
}
.one-line-text {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.disabled {
    opacity: .4;
    pointer-events: none;
}
.link-color {
	color: #409eff;
}
.text-red {
	color:#da5a4b !important;
}
.text-green {
	color:#4dbe13 !important;
}

.pull-right {float:right;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.item-divider{
    background-color: #2d2d2d;
}
.yd-btn-mini{
    color: #aaa;
}
.yd-cell{
    background-color: #444;
}
.yd-cell-left{
    color: #ddd;
}
.yd-cell-item:not(:last-child):after {
    background-color: #e9e9e9;
	    background-image: transparent;
}
.yd-cell-right input {

	padding:0px !important;
}
.yd-step-item-bottom{
    color: #999;
}
.yd-step-item>em{
    background-color: #666;
}
.yd-cell-right .yd-datetime-input, .yd-cell-right input[type=date], .yd-cell-right input[type=datetime-local], .yd-cell-right input[type=email], .yd-cell-right input[type=number]:not(.yd-spinner-input), .yd-cell-right input[type=password], .yd-cell-right input[type=tel], .yd-cell-right input[type=text], .yd-cell-right input[type=time], .yd-cell-right input[type=url] {
    height: auto;
    color: #999;
}
.yd-actionsheet-item:after {
	background-image: linear-gradient(0deg,#ddd 50%,transparent 0);
}

.von-popup.bulletinPopup {
	min-width:310px;
}
.von-popup.bulletinPopup .popup-body {

	font-size:14px;
	text-align:left;
}

.no-record {
    position: absolute;
    width: 121px;
    height: 80px;
    left: 0;
    right: 0;
    margin: 30px auto 0;
    background: url(~assets/images/user/norecord.png) 50% no-repeat;
    background-size: cover;
}
.no-record:after {
    position: absolute;
    content: "暫無相關記錄";
    top: 100px;
    left: 18px;
    color: #999;
    font-size: 14px;
}


/*切換畫面動畫*/
.fade-enter-active, 
.fade-leave-active {
	transform: translateX(0px);
	transition: all 0.3s cubic-bezier(.15, .1, .02, 1);
	opacity: 1;
}
.fade-enter, 
.fade-leave-to {
 	-webkit-transform: translate3d(-33%, 0, 0);
	transform: translate3d(-33%, 0, 0);
	z-index: 1;
	transition: all .3s cubic-bezier(.15, .1, .02, 1);
    opacity: 0.5;
}